# **Medical Dataset Analysis: Python, SQL, and Insights**

Step into the world of data-driven healthcare analysis alongside Sarah, the healthcare data explorer, in our project, "Medical Dataset Analysis: Python, SQL, and Insights." With Python as her trusted tool and SQL as her analytical compass, Sarah embarks on a mission to unlock the potential hidden in interconnected medical datasets.

This project focuses on three critical datasets: "hospitalization_details," "medical_examinations," and "names." Divided into two essential modules, the project commences with meticulous data cleaning, ensuring the data's accuracy and structure. Once the data shines brilliantly, the second module unleashes the power of SQL queries to extract valuable insights.

Our journey is a deep dive into healthcare data, unearthing insights that can revolutionize healthcare decision-making and resource optimization. It's not just data analysis; it's a transformative voyage into the world of medical dataset analysis.

By the end of this project, I won't just crunch numbers; I'll possess the tools to drive data-powered improvements in healthcare, enhancing the lives of patients and streamlining resource allocation.

Join Sarah on this captivating journey, where every line of code and every SQL query unravels the mysteries of medical data. Together, we'll illuminate the path to actionable insights, shaping the future of healthcare with data-driven solutions.

**Module 1**

**Task 1: Loading Hospitalization Details**

In this task, we load the hospitalization details from the 'hospitalisation_details.csv' file into a Pandas DataFrame named 'hosp_details.' This step is essential for our new project, "Medical Dataset Analysis: Python, SQL, and Insights," as it forms the foundation for the data analysis and insights that we aim to derive from the medical dataset.

In [1]:
# import important library
import pandas as pd
import numpy as np

In [2]:
#--- Read in dataset(hospitalisation_details.csv) ----
hosp_details = pd.read_csv("hospitalisation_details.csv")

In [3]:
#--- Inspect data ---
hosp_details.head()

,c_id,yr,mth,date?,children?,charges?,host_tier,Ct_tier,st_id,Has_Children,Is_Frequent_Treatment
0,Id2335,1992,Jul,9,0,563.84,tier - 2,tier - 3,R1013,no,no
1,Id2334,1992,Nov,30,0,570.62,tier - 2,tier - 1,R1013,no,no
2,Id2333,1993,NaN,30,0,600.00,tier - 2,tier - 1,R1013,no,no
3,Id2332,1992,Sep,13,0,604.54,tier - 3,tier - 3,R1013,no,no
4,Id2331,1998,Jul,27,0,637.26,tier - 3,tier - 3,R1013,no,no

**Task 2: Identifying Null Values in Hospitalization Details**

In this task, we identify and count the null values in the 'hosp_details' dataset. This step is crucial for our new project, "Medical Dataset Analysis: Python, SQL, and Insights," as it helps us understand the extent of missing data within the dataset. Recognizing and handling null values is essential for ensuring the accuracy and quality of our data analysis and insights.

In [4]:
null_values = hosp_details.isnull().sum()
null_values

c_id                     0
yr                       0
mth                      1
date?                    0
children?                0
charges?                 0
host_tier                0
Ct_tier                  0
st_id                    0
Has_Children             0
Is_Frequent_Treatment    0
dtype: int64

In [5]:
#remove the null values
remove_null_value = hosp_details.dropna(inplace = True)
remove_null_value

**Task 3: Identifying Data Types in Hospitalization Details**

In this task, we determine the data types of the columns in the 'hosp_details' dataset. This step is vital for our data analysis, as it provides insights into how the data is stored and helps us select appropriate methods for further analysis. Understanding the data types is crucial for working with the dataset effectively.

In [6]:
data_types = hosp_details.dtypes
data_types

c_id                      object
yr                         int64
mth                       object
date?                      int64
children?                  int64
charges?                 float64
host_tier                 object
Ct_tier                   object
st_id                     object
Has_Children              object
Is_Frequent_Treatment     object
dtype: object

**Task 4: Identifying Duplicate Data in Hospitalization Details**

In this task, we aim to identify and quantify the presence of duplicate data within the 'hosp_details' dataset. The count of duplicates (referred to as 'duplicates' in the code) is an important metric. It helps us understand the extent of redundancy in the dataset, which is crucial for data quality and accuracy in our analysis. By recognizing and handling duplicate records, we ensure that our insights and conclusions are based on unique, meaningful data, preventing any potential distortions caused by repeated entries.

In [7]:
duplicate_data = hosp_details.duplicated().sum()
duplicate_data

89

**Task 5: **Data Preprocessing and Cleaning for Hospitalization Details****

In this task, we perform data preprocessing and cleaning on the 'hosp_details' dataset. We start by removing duplicate records to ensure data quality and accuracy. Next, we remove specific columns, 'Has_Children' and 'Is_Frequent_Treatment,' as they are not relevant to our analysis. We also rename columns to improve clarity and understanding of the data. Finally, we save the cleaned dataset as 'hospitalisation_details_cleaned.csv.' This data preprocessing and cleaning is crucial for our analysis, as it ensures that we work with accurate and meaningful data in our new project.

In [8]:
# remove duplicates and unwanted columns 
hosp_details.drop_duplicates(inplace = True)
hosp_details.drop(['Has_Children','Is_Frequent_Treatment'], axis = 1, inplace = True)

In [9]:
#rename the columns
hosp_details.rename(columns = {'c_id' : 'customer_id',
                               'yr' : 'year',
                               'mth' : 'month',
                               'date?' : 'date',
                               'children?' : 'children',
                               'charges?' : 'charges',
                               'host_tier' : 'hospital_tier',
                               'Ct_tier': 'city_tier',
                               'st_id': 'state_id'}, inplace=True)

In [10]:
hosp_details.to_csv('hospitalisation_details_cleaned.csv', index=False, index_label='customer_id')

In [11]:
#Check the clean data
hosp = pd.read_csv('hospitalisation_details_cleaned.csv')
hosp.head()

,customer_id,year,month,date,children,charges,hospital_tier,city_tier,state_id
0,Id2335,1992,Jul,9,0,563.84,tier - 2,tier - 3,R1013
1,Id2334,1992,Nov,30,0,570.62,tier - 2,tier - 1,R1013
2,Id2332,1992,Sep,13,0,604.54,tier - 3,tier - 3,R1013
3,Id2331,1998,Jul,27,0,637.26,tier - 3,tier - 3,R1013
4,Id2330,2001,Nov,20,0,646.14,tier - 3,tier - 3,R1012

**Task 6: Loading Medical Examination Data**

In this task, we load the medical examination data from the 'medical_examinations.csv' file into a Pandas DataFrame named 'med_exam.' This step is essential for our new project, "Medical Dataset Analysis: Python, SQL, and Insights," as it forms the foundation for the data analysis and insights that we aim to derive from the medical dataset.

In [12]:
#load the data medical_examinantion
med_exam = pd.read_csv('medical_examinations.csv')
med_exam

,cid,b_m_i,HBA1C,h_Issues,any_transplant,cancer_hist,noofmajorsurgeries,smoker??,recovery_period
0,Id1,47.410,7.47,No,No,No,No major surgery,yes,NaN
1,Id2,30.360,5.77,No,No,No,No major surgery,yes,NaN
2,Id3,34.485,11.87,yes,No,No,2,yes,Moderate
3,Id4,38.095,6.05,No,No,No,No major surgery,yes,NaN
4,Id5,35.530,5.45,No,No,No,No major surgery,yes,NaN
...,...,...,...,...,...,...,...,...,...
2369,Id128,32.775,4.72,No,No,No,No major surgery,yes,NaN
2370,Id129,34.200,5.91,yes,No,No,No major surgery,yes,NaN
2371,Id130,30.200,9.58,No,No,No,No major surgery,yes,NaN
2372,Id131,48.320,5.77,No,No,No,No major surgery,yes,NaN
2373,Id132,44.860,4.38,yes,No,No,No major surgery,yes,NaN

**Task 7: Identifying Null Values in Medical Examination Data**

In this task, we identify and count the null values in the 'med_exam' dataset. This step is crucial for our new project, as it helps us understand the extent of missing data within the dataset. Recognizing and handling null values is essential for ensuring the accuracy and quality of our data analysis and insights.

In [13]:
null_values = med_exam.isnull().sum()
null_values

cid                      0
b_m_i                    0
HBA1C                    0
h_Issues                 0
any_transplant           0
cancer_hist              0
noofmajorsurgeries       0
smoker??                 0
recovery_period       1096
dtype: int64

In [14]:
# Replace all occurrences of "No major surgery" with 0 in the 'nomajorsurgeries' column
med_exam['noofmajorsurgeries'].replace('No major surgery', 0, inplace= True)

**Task 8: Identifying Data Types in Medical Examination Data**

In this task, we determine the data types of the columns in the 'med_exam' dataset. This step is vital for our data analysis, as it provides insights into how the data is stored and helps us select appropriate methods for further analysis. Understanding the data types is crucial for working with the dataset effectively.

In [15]:
data_tpes = med_exam.dtypes
data_types

c_id                      object
yr                         int64
mth                       object
date?                      int64
children?                  int64
charges?                 float64
host_tier                 object
Ct_tier                   object
st_id                     object
Has_Children              object
Is_Frequent_Treatment     object
dtype: object

**Task 9: Identifying Duplicate Data in Medical Examination Data**

In this task, we aim to identify and quantify the presence of duplicate data within the 'med_exam' dataset. The count of duplicates (referred to as 'duplicates' in the code) is an important metric. It helps us understand the extent of redundancy in the dataset, which is crucial for data quality and accuracy in our analysis. By recognizing and handling duplicate records, we ensure that our insights and conclusions are based on unique, meaningful data, preventing any potential distortions caused by repeated entries.

In [16]:
duplicates_data = med_exam.duplicated().sum()
duplicates_data

39

**Task 10: Data Preprocessing and Cleaning for Medical Examination Data**

In this task, we perform data preprocessing and cleaning on the 'med_exam' dataset. We start by removing duplicate records to ensure data quality and accuracy. Next, we remove a specific column, 'recovery_period,' as it may not be relevant to our analysis. We also rename columns to improve clarity and understanding of the data. Finally, we save the cleaned dataset as 'medical_examinations_cleaned.csv.' This data preprocessing and cleaning is crucial for our analysis, as it ensures that we work with accurate and meaningful data in our new project.

In [17]:
# reomve and drop the duplicates and unwated columns
med_exam.drop_duplicates(inplace = True)
med_exam.drop(['recovery_period'], axis = 1, inplace = True)

In [18]:
med_exam.rename(columns = { 'cid' : 'customer_id',
                           'b_m_i' : 'BMI',
                           'h_Issues' : 'health_issues',
                           'cancer_hist' : 'cancer_history',
                           'noofmajorsurgeries' : 'numberofmajorsurgeries',
                           'smoker??' : 'smoker'}, inplace= True)
#--- Export the df as "medical_examinations_cleaned.csv" ---
med_exam.to_csv('medical_examinations_cleaned.csv', index = False, index_label = 'customer_id')
med_exam

,customer_id,BMI,HBA1C,health_issues,any_transplant,cancer_history,numberofmajorsurgeries,smoker
0,Id1,47.410,7.47,No,No,No,0,yes
1,Id2,30.360,5.77,No,No,No,0,yes
2,Id3,34.485,11.87,yes,No,No,2,yes
3,Id4,38.095,6.05,No,No,No,0,yes
4,Id5,35.530,5.45,No,No,No,0,yes
...,...,...,...,...,...,...,...,...
2330,Id2331,22.340,5.57,No,No,No,1,No
2331,Id2332,17.700,6.28,No,No,No,1,No
2332,Id2333,16.470,6.35,No,No,Yes,1,No
2333,Id2334,17.600,4.39,No,No,No,1,No
2334,Id2335,17.580,4.51,No,No,No,1,No

# **Module 2**
**Task 1: Data Download, Import, and Database Connection**

In [19]:
%load_ext sql
# Replace "xxxxxxx" with your actual password
connection_string = "postgresql://postgres:password@localhost:5432/Medical"

# Use the %sql magic command with the connection string
%sql $connection_string

In [20]:
# Example SQL query
%sql SELECT * FROM hospitalisation_details

 * postgresql://postgres:***@localhost:5432/Medical
2342 rows affected.

[('Id2335', 1992, 'Jul', 9, 0, 563.84, 'tier - 2', 'tier - 3', 'R1013'),
 ('Id2334', 1992, 'Nov', 30, 0, 570.62, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2332', 1992, 'Sep', 13, 0, 604.54, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2331', 1998, 'Jul', 27, 0, 637.26, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2330', 2001, 'Nov', 20, 0, 646.14, 'tier - 3', 'tier - 3', 'R1012'),
 ('Id2329', 1993, 'Jun', 1, 0, 650.0, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2328', 1995, 'Jul', 4, 0, 650.0, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2327', 2002, 'Nov', 29, 0, 668.0, 'tier - 3', 'tier - 2', 'R1012'),
 ('Id2326', 1997, 'Nov', 9, 0, 670.0, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2325', 2001, 'Sep', 12, 0, 687.54, 'tier - 3', 'tier - 2', 'R1013'),
 ('Id2324', 1999, 'Dec', 26, 0, 700.0, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2323', 1999, 'Dec', 14, 0, 722.99, 'tier - 3', 'tier - 1', 'R1013'),
 ('Id2322', 2002, 'May', 19, 0, 750.0, 'tier - 3', 'tier - 1', 'R1012'),
 ('Id2321', 1993, 'Aug', 9, 0, 760.0, 'tier - 3', 'tier - 1', 'R1013'),
 ('Id2320', 1996, 'Oct', 22, 0, 760.0, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2319', 1993, 'Jun', 28, 0, 770.0, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2318', 1996, 'Nov', 18, 0, 770.38, 'tier - 3', 'tier - 3', 'R1012'),
 ('Id2317', 1995, 'Dec', 7, 0, 773.54, 'tier - 3', 'tier - 2', 'R1013'),
 ('Id2316', 2004, 'Oct', 7, 0, 830.52, 'tier - 3', 'tier - 2', 'R1011'),
 ('Id2315', 2000, 'Nov', 18, 0, 865.41, 'tier - 3', 'tier - 1', 'R1013'),
 ('Id2314', 1993, 'Nov', 27, 0, 896.21, 'tier - 3', 'tier - 1', 'R1013'),
 ('Id2313', 1994, 'Oct', 30, 0, 915.07, 'tier - 3', 'tier - 1', 'R1013'),
 ('Id2312', 1995, 'Oct', 28, 0, 928.59, 'tier - 3', 'tier - 1', 'R1013'),
 ('Id2311', 2001, 'Aug', 19, 0, 964.71, 'tier - 3', 'tier - 2', 'R1013'),
 ('Id2310', 1994, 'Nov', 22, 0, 1006.65, 'tier - 3', 'tier - 2', 'R1013'),
 ('Id2309', 2000, 'Oct', 9, 0, 1012.0, 'tier - 3', 'tier - 2', 'R1013'),
 ('Id2308', 1999, 'Aug', 5, 0, 1019.0, 'tier - 3', 'tier - 2', 'R1013'),
 ('Id2307', 1995, 'Oct', 5, 0, 1033.74, 'tier - 3', 'tier - 1', 'R1013'),
 ('Id2306', 1994, 'Nov', 17, 0, 1044.0, 'tier - 3', 'tier - 2', 'R1013'),
 ('Id2305', 2002, 'Jul', 20, 0, 1047.0, 'tier - 3', 'tier - 1', 'R1013'),
 ('Id2304', 2002, 'Jul', 1, 0, 1049.0, 'tier - 3', 'tier - 2', 'R1012'),
 ('Id2303', 1995, 'Jun', 1, 0, 1056.0, 'tier - 3', 'tier - 2', 'R1013'),
 ('Id2302', 1993, 'Sep', 28, 0, 1068.0, 'tier - 3', 'tier - 1', 'R1013'),
 ('Id2301', 2004, 'Aug', 24, 0, 1070.0, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2300', 1997, 'Aug', 13, 0, 1071.0, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2299', 1998, 'Dec', 26, 0, 1082.0, 'tier - 3', 'tier - 2', 'R1013'),
 ('Id2298', 2002, 'Aug', 13, 0, 1086.0, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2297', 2004, 'Nov', 12, 0, 1121.87, 'tier - 3', 'tier - 1', 'R1013'),
 ('Id2296', 2004, 'Jun', 14, 0, 1131.51, 'tier - 3', 'tier - 1', 'R1013'),
 ('Id2295', 2002, 'Jul', 19, 0, 1132.0, 'tier - 3', 'tier - 1', 'R1013'),
 ('Id2294', 2004, 'Oct', 6, 0, 1135.0, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2293', 2004, 'Jun', 11, 0, 1135.94, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2292', 2004, 'Nov', 28, 0, 1136.4, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2291', 2002, 'Aug', 11, 0, 1137.0, 'tier - 3', 'tier - 1', 'R1013'),
 ('Id3012', 2004, 'Nov', 6, 0, 1137.01, 'tier - 3', 'tier - 1', 'R1013'),
 ('Id2290', 2004, 'Oct', 15, 0, 1137.01, 'tier - 3', 'tier - 1', 'R1013'),
 ('Id2289', 2004, 'Nov', 27, 0, 1137.47, 'tier - 3', 'tier - 2', 'R1013'),
 ('Id2288', 2001, 'Oct', 25, 0, 1141.0, 'tier - 3', 'tier - 1', 'R1013'),
 ('Id2287', 2004, 'Sep', 12, 0, 1141.45, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2286', 2002, 'Oct', 1, 0, 1142.0, 'tier - 3', 'tier - 2', 'R1011'),
 ('Id2285', 2004, 'Jun', 10, 0, 1146.8, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2284', 2003, 'Jun', 12, 0, 1149.0, 'tier - 2', 'tier - 1', 'R1012'),
 ('Id2283', 2004, 'Jul', 18, 0, 1149.4, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2282', 1994, 'Jul', 26, 0, 1158.32, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2281', 2004, 'Nov', 11, 0, 1163.46, 'tier - 2', 'tier - 3', 'R1013'),
 ('Id2280', 2002, 'Jun', 11, 0, 1165.0, 'tier - 2', 'tier - 3', 'R1012'),
 ('Id2279', 2001, 'Nov', 12, 0, 1167.0, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2278', 1996, 'Aug', 11, 0, 1178.0, 'tier - 2', 'tier - 3', 'R1013'),
 ('Id2277', 1997, 'Jun', 28, 0, 1178.07, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2276', 2002, 'Aug', 26, 0, 1191.0, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2275', 1999, 'Jun', 28, 0, 1200.0, 'tier - 2', 'tier - 3', 'R1012'),
 ('Id2274', 1992, 'Oct', 6, 0, 1200.55, 'tier - 2', 'tier - 3', 'R1013'),
 ('Id2273', 2004, 'Jun', 2, 0, 1210.0, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2272', 1996, 'Nov', 4, 0, 1220.0, 'tier - 2', 'tier - 3', 'R1012'),
 ('Id2271', 2004, 'Jul', 9, 0, 1224.0, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2270', 2004, 'Oct', 16, 0, 1228.0, 'tier - 2', 'tier - 1', 'R1012'),
 ('Id2269', 1998, 'Jul', 13, 0, 1234.0, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2268', 2002, 'Dec', 12, 0, 1237.0, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2267', 1998, 'Oct', 11, 0, 1240.0, 'tier - 2', 'tier - 1', 'R1012'),
 ('Id2266', 2002, 'Jul', 1, 0, 1241.0, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2265', 2003, 'Aug', 2, 0, 1241.57, 'tier - 2', 'tier - 2', 'R1011'),
 ('Id2264', 2003, 'Sep', 15, 0, 1242.26, 'tier - 2', 'tier - 1', 'R1011'),
 ('Id2263', 2003, 'Sep', 8, 0, 1242.82, 'tier - 2', 'tier - 1', 'R1011'),
 ('Id2262', 2003, 'Sep', 15, 0, 1252.41, 'tier - 2', 'tier - 3', 'R1011'),
 ('Id2261', 1997, 'Nov', 4, 0, 1253.0, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2260', 2003, 'Dec', 10, 0, 1253.94, 'tier - 2', 'tier - 2', 'R1011'),
 ('Id2259', 2003, 'Oct', 13, 0, 1256.3, 'tier - 2', 'tier - 3', 'R1011'),
 ('Id2258', 2003, 'Oct', 30, 0, 1261.44, 'tier - 2', 'tier - 3', 'R1011'),
 ('Id2257', 2003, 'Aug', 15, 0, 1261.86, 'tier - 2', 'tier - 3', 'R1011'),
 ('Id2256', 2003, 'Nov', 21, 0, 1263.25, 'tier - 2', 'tier - 3', 'R1011'),
 ('Id2255', 2002, 'Dec', 4, 0, 1267.0, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2254', 1997, 'Oct', 26, 0, 1276.0, 'tier - 2', 'tier - 2', 'R1012'),
 ('Id2253', 2004, 'Sep', 30, 0, 1283.0, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2252', 2004, 'Jul', 28, 0, 1285.0, 'tier - 2', 'tier - 3', 'R1013'),
 ('Id2251', 2000, 'Jun', 26, 0, 1286.0, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2250', 1998, 'Jun', 4, 0, 1290.93, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2249', 2001, 'Nov', 29, 0, 1293.0, 'tier - 2', 'tier - 3', 'R1012'),
 ('Id2248', 2002, 'Dec', 10, 0, 1304.0, 'tier - 2', 'tier - 2', 'R1012'),
 ('Id2247', 1999, 'Dec', 2, 0, 1304.0, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2246', 2002, 'Oct', 13, 0, 1315.0, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2245', 1999, 'Oct', 14, 0, 1329.17, 'tier - 2', 'tier - 3', 'R1013'),
 ('Id2244', 1998, 'Jul', 12, 0, 1332.61, 'tier - 2', 'tier - 3', 'R1013'),
 ('Id2243', 1995, 'Jul', 30, 0, 1338.0, 'tier - 2', 'tier - 3', 'R1012'),
 ('Id2242', 1997, 'Nov', 7, 0, 1341.16, 'tier - 2', 'tier - 2', 'R1012'),
 ('Id2241', 1998, 'Dec', 3, 0, 1359.0, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2240', 2002, 'Aug', 15, 0, 1382.0, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2239', 1999, 'Jul', 6, 0, 1389.0, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2238', 2002, 'Nov', 14, 0, 1390.0, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2237', 2002, 'Dec', 22, 0, 1391.53, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2236', 1998, 'Sep', 5, 0, 1400.44, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2235', 1997, 'Oct', 27, 0, 1402.0, 'tier - 2', 'tier - 3', 'R1011'),
 ('Id2234', 1996, 'Jun', 23, 0, 1417.0, 'tier - 2', 'tier - 3', 'R1013'),
 ('Id2233', 2001, 'Aug', 23, 0, 1421.0, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2232', 1997, 'Dec', 5, 0, 1422.0, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2231', 2000, 'Sep', 1, 0, 1438.0, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2230', 1997, 'Jun', 19, 0, 1445.0, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2229', 2003, 'Jun', 20, 0, 1467.0, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2228', 1998, 'Dec', 7, 0, 1477.0, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2227', 1997, 'Jun', 9, 0, 1481.0, 'tier - 2', 'tier - 1', 'R1012'),
 ('Id2226', 1995, 'Oct', 7, 0, 1493.0, 'tier - 2', 'tier - 3', 'R1013'),
 ('Id2225', 1998, 'Jun', 19, 0, 1497.0, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2224', 2001, 'Aug', 25, 0, 1515.34, 'tier - 2', 'tier - 3', 'R1013'),
 ('Id2223', 2001, 'Jul', 7, 0, 1526.31, 'tier - 2', 'tier - 3', 'R1011'),
 ('Id2222', 2001, 'Jun', 2, 0, 1532.47, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2221', 2001, 'Dec', 5, 0, 1534.3, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2220', 1992, 'Sep', 22, 0, 1566.88, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2219', 2004, 'Nov', 19, 0, 1607.51, 'tier - 2', 'tier - 3', 'R1013'),
 ('Id2218', 2004, 'Jul', 22, 0, 1615.77, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2217', 1995, 'Aug', 5, 0, 1617.16, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2216', 2003, 'Sep', 14, 0, 1621.34, 'tier - 2', 'tier - 2', 'R1012'),
 ('Id2215', 2004, 'Aug', 21, 0, 1621.88, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2214', 2004, 'Jul', 25, 0, 1622.19, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2213', 2003, 'Sep', 9, 0, 1625.43, 'tier - 2', 'tier - 3', 'R1012'),
 ('Id2212', 2003, 'Dec', 4, 0, 1627.28, 'tier - 2', 'tier - 2', 'R1012'),
 ('Id2211', 2003, 'Jul', 17, 0, 1628.47, 'tier - 2', 'tier - 1', 'R1012'),
 ('Id2210', 2004, 'Oct', 4, 0, 1629.83, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2209', 2004, 'Dec', 5, 0, 1631.67, 'tier - 2', 'tier - 3', 'R1013'),
 ('Id2208', 2004, 'Jul', 9, 0, 1631.82, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2207', 2003, 'Oct', 3, 0, 1632.04, 'tier - 2', 'tier - 2', 'R1012'),
 ('Id2206', 2003, 'Sep', 16, 0, 1632.56, 'tier - 2', 'tier - 2', 'R1012'),
 ('Id2205', 2004, 'Dec', 13, 0, 1633.04, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2204', 2004, 'Aug', 8, 0, 1633.96, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2203', 2004, 'Jun', 13, 0, 1634.57, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2202', 2003, 'Dec', 30, 0, 1635.73, 'tier - 2', 'tier - 3', 'R1012'),
 ('Id2201', 2003, 'Sep', 16, 0, 1639.56, 'tier - 2', 'tier - 2', 'R1012'),
 ('Id2200', 2003, 'Aug', 21, 0, 1639.56, 'tier - 2', 'tier - 2', 'R1012'),
 ('Id2199', 2003, 'Dec', 30, 0, 1646.43, 'tier - 2', 'tier - 1', 'R1012'),
 ('Id2198', 2000, 'Oct', 23, 0, 1665.0, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2197', 2000, 'Jun', 10, 0, 1674.63, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2196', 2000, 'Oct', 21, 0, 1682.6, 'tier - 2', 'tier - 2', 'R1011'),
 ('Id2195', 2004, 'Nov', 17, 0, 1694.8, 'tier - 2', 'tier - 2', 'R1015'),
 ('Id2194', 2004, 'Dec', 10, 0, 1702.46, 'tier - 2', 'tier - 3', 'R1019'),
 ('Id2193', 2004, 'Nov', 7, 0, 1704.57, 'tier - 2', 'tier - 1', 'R1016'),
 ('Id2192', 2004, 'Dec', 14, 0, 1704.7, 'tier - 2', 'tier - 3', 'R1018'),
 ('Id2191', 2004, 'Dec', 6, 0, 1705.62, 'tier - 2', 'tier - 2', 'R1015'),
 ('Id2190', 2004, 'Oct', 17, 0, 1708.0, 'tier - 3', 'tier - 2', 'R1016'),
 ('Id2189', 2004, 'Dec', 12, 0, 1708.93, 'tier - 3', 'tier - 1', 'R1019'),
 ('Id2188', 2004, 'Sep', 19, 1, 1711.03, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2187', 2004, 'Sep', 21, 0, 1712.23, 'tier - 3', 'tier - 1', 'R1016'),
 ('Id2186', 2004, 'Jun', 10, 1, 1719.44, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2185', 2004, 'Sep', 11, 1, 1720.35, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2184', 2004, 'Oct', 21, 1, 1725.55, 'tier - 3', 'tier - 2', 'R1013'),
 ('Id2183', 2004, 'Sep', 9, 1, 1727.54, 'tier - 3', 'tier - 1', 'R1013'),
 ('Id2182', 2003, 'Nov', 21, 0, 1727.79, 'tier - 3', 'tier - 3', 'R1011'),
 ('Id2181', 2003, 'Sep', 1, 0, 1728.9, 'tier - 3', 'tier - 2', 'R1011'),
 ('Id2180', 2003, 'Nov', 9, 0, 1731.68, 'tier - 3', 'tier - 2', 'R1011'),
 ('Id2179', 2003, 'Nov', 14, 0, 1737.38, 'tier - 3', 'tier - 2', 'R1011'),
 ('Id2178', 2003, 'Jul', 25, 0, 1743.21, 'tier - 3', 'tier - 1', 'R1011'),
 ('Id2177', 2003, 'Jul', 28, 0, 1744.47, 'tier - 3', 'tier - 1', 'R1011'),
 ('Id2176', 2003, 'Sep', 26, 0, 1748.77, 'tier - 3', 'tier - 1', 'R1011'),
 ('Id2175', 1998, 'Oct', 7, 0, 1756.6, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2174', 2003, 'Nov', 19, 0, 1759.34, 'tier - 3', 'tier - 1', 'R1011'),
 ('Id2173', 2002, 'Dec', 13, 0, 1769.53, 'tier - 3', 'tier - 3', 'R1012'),
 ('Id2172', 1999, 'Sep', 25, 0, 1815.88, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2171', 2004, 'Aug', 19, 0, 1822.54, 'tier - 3', 'tier - 1', 'R1012'),
 ('Id2170', 1999, 'Nov', 17, 0, 1824.29, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2169', 1999, 'Oct', 1, 0, 1826.84, 'tier - 3', 'tier - 2', 'R1011'),
 ('Id2168', 2003, 'Aug', 11, 1, 1832.09, 'tier - 3', 'tier - 3', 'R1011'),
 ('Id2167', 2003, 'Aug', 4, 1, 1837.24, 'tier - 3', 'tier - 2', 'R1011'),
 ('Id2166', 1999, 'Dec', 12, 0, 1837.28, 'tier - 3', 'tier - 2', 'R1013'),
 ('Id2165', 2003, 'Jul', 20, 1, 1842.52, 'tier - 3', 'tier - 2', 'R1011'),
 ('Id2164', 1994, 'Dec', 6, 0, 1850.55, 'tier - 3', 'tier - 2', 'R1012'),
 ('Id2163', 2004, 'Dec', 27, 0, 1863.45, 'tier - 3', 'tier - 1', 'R1025'),
 ('Id2162', 1996, 'Jul', 2, 0, 1865.98, 'tier - 3', 'tier - 3', 'R1012'),
 ('Id2161', 2002, 'Sep', 22, 0, 1875.34, 'tier - 3', 'tier - 2', 'R1011'),
 ('Id2160', 2002, 'Oct', 29, 0, 1877.93, 'tier - 3', 'tier - 1', 'R1013'),
 ('Id2159', 2002, 'Aug', 29, 0, 1880.07, 'tier - 3', 'tier - 2', 'R1013'),
 ('Id2158', 2002, 'Aug', 21, 0, 1880.49, 'tier - 3', 'tier - 1', 'R1011'),
 ('Id2157', 2001, 'Aug', 10, 0, 1906.36, 'tier - 3', 'tier - 1', 'R1012'),
 ('Id2156', 1994, 'Oct', 6, 0, 1908.9, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2155', 2001, 'Aug', 3, 0, 1909.53, 'tier - 3', 'tier - 3', 'R1012'),
 ('Id2154', 2001, 'Dec', 9, 0, 1917.32, 'tier - 3', 'tier - 2', 'R1012'),
 ('Id2153', 2002, 'Sep', 7, 1, 1964.78, 'tier - 3', 'tier - 1', 'R1011'),
 ('Id2152', 2002, 'Jul', 29, 0, 1967.02, 'tier - 3', 'tier - 2', 'R1016'),
 ('Id2151', 1998, 'Sep', 28, 0, 1969.61, 'tier - 3', 'tier - 3', 'R1011'),
 ('Id2150', 1998, 'Oct', 5, 0, 1972.95, 'tier - 3', 'tier - 1', 'R1011'),
 ('Id2149', 1998, 'Sep', 29, 0, 1977.82, 'tier - 3', 'tier - 1', 'R1011'),
 ('Id2148', 2002, 'Jul', 16, 1, 1980.07, 'tier - 3', 'tier - 3', 'R1011'),
 ('Id2147', 1998, 'Dec', 29, 0, 1981.58, 'tier - 3', 'tier - 1', 'R1013'),
 ('Id2146', 2002, 'Sep', 29, 0, 1984.45, 'tier - 3', 'tier - 3', 'R1016'),
 ('Id2145', 1998, 'Sep', 14, 0, 1986.93, 'tier - 3', 'tier - 2', 'R1013'),
 ('Id2144', 2001, 'Aug', 14, 0, 2007.95, 'tier - 3', 'tier - 2', 'R1011'),
 ('Id2143', 2001, 'Jul', 1, 0, 2020.18, 'tier - 3', 'tier - 1', 'R1011'),
 ('Id2142', 2001, 'Sep', 6, 0, 2020.55, 'tier - 3', 'tier - 2', 'R1013'),
 ('Id2141', 2001, 'Aug', 4, 0, 2026.97, 'tier - 3', 'tier - 2', 'R1013'),
 ('Id2140', 2000, 'Sep', 2, 0, 2045.69, 'tier - 3', 'tier - 3', 'R1012'),
 ('Id2139', 2000, 'Jul', 26, 0, 2055.32, 'tier - 3', 'tier - 3', 'R1012'),
 ('Id2138', 2004, 'Jun', 12, 0, 2094.1, 'tier - 3', 'tier - 2', 'R1025'),
 ('Id2137', 2001, 'Aug', 14, 0, 2102.26, 'tier - 3', 'tier - 2', 'R1019'),
 ('Id2136', 2001, 'Jun', 22, 1, 2103.08, 'tier - 3', 'tier - 2', 'R1011'),
 ('Id2135', 2001, 'Nov', 28, 0, 2104.11, 'tier - 2', 'tier - 1', 'R1016'),
 ('Id2134', 1989, 'Jul', 21, 3, 2106.26, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2133', 2003, 'Sep', 30, 0, 2117.34, 'tier - 2', 'tier - 3', 'R1012'),
 ('Id2132', 2004, 'Nov', 4, 0, 2118.61, 'tier - 2', 'tier - 1', 'R1012'),
 ('Id2131', 2003, 'Aug', 30, 0, 2128.43, 'tier - 2', 'tier - 1', 'R1012'),
 ('Id2130', 2003, 'Dec', 22, 0, 2130.68, 'tier - 2', 'tier - 3', 'R1012'),
 ('Id2129', 2003, 'Sep', 1, 0, 2134.9, 'tier - 2', 'tier - 3', 'R1012'),
 ('Id2128', 2003, 'Sep', 26, 0, 2136.88, 'tier - 2', 'tier - 2', 'R1012'),
 ('Id2127', 1997, 'Sep', 3, 0, 2137.65, 'tier - 3', 'tier - 1', 'R1013'),
 ('Id2126', 2003, 'Aug', 19, 0, 2138.07, 'tier - 2', 'tier - 1', 'R1012'),
 ('Id2125', 2004, 'Oct', 4, 0, 2144.85, 'tier - 2', 'tier - 1', 'R1011'),
 ('Id2124', 2000, 'Dec', 27, 0, 2150.47, 'tier - 2', 'tier - 3', 'R1011'),
 ('Id2123', 2000, 'Oct', 22, 0, 2154.36, 'tier - 2', 'tier - 2', 'R1011'),
 ('Id2122', 2000, 'Nov', 29, 0, 2155.68, 'tier - 2', 'tier - 3', 'R1013'),
 ('Id2121', 2000, 'Dec', 10, 0, 2156.75, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2120', 2000, 'Aug', 23, 0, 2166.73, 'tier - 2', 'tier - 2', 'R1011'),
 ('Id2119', 1994, 'Sep', 27, 0, 2170.08, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2118', 1991, 'Dec', 16, 3, 2193.2, 'tier - 2', 'tier - 2', 'R1012'),
 ('Id2117', 2004, 'Dec', 7, 0, 2196.47, 'tier - 2', 'tier - 3', 'R1024'),
 ('Id2116', 2004, 'Sep', 3, 0, 2198.19, 'tier - 2', 'tier - 1', 'R1023'),
 ('Id2115', 2004, 'Sep', 12, 0, 2200.83, 'tier - 2', 'tier - 2', 'R1024'),
 ('Id2114', 2004, 'Jul', 27, 1, 2201.1, 'tier - 2', 'tier - 3', 'R1013'),
 ('Id2113', 2004, 'Aug', 6, 0, 2203.47, 'tier - 2', 'tier - 2', 'R1024'),
 ('Id2112', 2004, 'Oct', 28, 0, 2203.74, 'tier - 2', 'tier - 2', 'R1024'),
 ('Id2111', 2004, 'Nov', 13, 0, 2205.98, 'tier - 2', 'tier - 3', 'R1024'),
 ('Id2110', 2004, 'Aug', 6, 0, 2207.7, 'tier - 2', 'tier - 2', 'R1024'),
 ('Id2109', 2004, 'Jul', 27, 0, 2211.13, 'tier - 2', 'tier - 2', 'R1024'),
 ('Id2108', 1994, 'Nov', 17, 0, 2213.21, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2107', 2004, 'Jun', 13, 0, 2217.47, 'tier - 2', 'tier - 1', 'R1024'),
 ('Id2106', 2004, 'Sep', 25, 0, 2217.6, 'tier - 2', 'tier - 1', 'R1024'),
 ('Id2105', 2004, 'Dec', 12, 1, 2219.45, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2104', 2003, 'Dec', 10, 1, 2221.56, 'tier - 2', 'tier - 3', 'R1012'),
 ('Id2103', 2000, 'Jun', 30, 0, 2250.84, 'tier - 2', 'tier - 2', 'R1018'),
 ('Id2102', 2000, 'Dec', 11, 0, 2254.8, 'tier - 2', 'tier - 3', 'R1016'),
 ('Id2101', 2002, 'Jul', 15, 0, 2257.48, 'tier - 2', 'tier - 1', 'R1012'),
 ('Id2100', 2002, 'Nov', 12, 0, 2261.57, 'tier - 2', 'tier - 1', 'R1012'),
 ('Id2099', 1991, 'Jun', 16, 3, 2277.72, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2098', 1989, 'Oct', 5, 3, 2295.24, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2097', 1996, 'Nov', 28, 0, 2302.3, 'tier - 1', 'tier - 2', 'R1011'),
 ('Id2096', 2004, 'Sep', 6, 2, 2304.0, 'tier - 2', 'tier - 3', 'R1013'),
 ('Id2095', 1996, 'Dec', 17, 0, 2322.62, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2094', 2003, 'Nov', 18, 1, 2331.52, 'tier - 2', 'tier - 3', 'R1011'),
 ('Id2093', 1998, 'Oct', 21, 0, 2352.97, 'tier - 3', 'tier - 3', 'R1012'),
 ('Id2092', 2002, 'Nov', 5, 1, 2362.23, 'tier - 2', 'tier - 1', 'R1012'),
 ('Id2091', 1988, 'Dec', 12, 3, 2373.3, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2090', 1999, 'Dec', 17, 0, 2395.17, 'tier - 2', 'tier - 1', 'R1014'),
 ('Id2089', 1999, 'Aug', 10, 0, 2396.1, 'tier - 2', 'tier - 1', 'R1019'),
 ('Id2088', 2001, 'Jun', 3, 0, 2404.73, 'tier - 2', 'tier - 3', 'R1012'),
 ('Id2087', 1999, 'Nov', 12, 1, 2416.96, 'tier - 2', 'tier - 2', 'R1011'),
 ('Id2086', 1999, 'Nov', 21, 1, 2438.06, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2085', 2002, 'Jul', 29, 0, 2457.21, 'tier - 2', 'tier - 1', 'R1024'),
 ('Id2084', 1998, 'Nov', 19, 0, 2457.5, 'tier - 2', 'tier - 1', 'R1011'),
 ('Id2083', 2002, 'Jul', 11, 0, 2459.72, 'tier - 2', 'tier - 2', 'R1024'),
 ('Id2082', 1998, 'Aug', 17, 0, 2464.62, 'tier - 2', 'tier - 3', 'R1013'),
 ('Id2081', 1998, 'Jul', 2, 0, 2473.33, 'tier - 2', 'tier - 3', 'R1013'),
 ('Id2080', 1998, 'Jun', 20, 0, 2480.98, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2079', 1995, 'Nov', 6, 0, 2483.74, 'tier - 3', 'tier - 2', 'R1013'),
 ('Id2078', 1995, 'Oct', 14, 0, 2494.02, 'tier - 3', 'tier - 1', 'R1011'),
 ('Id2077', 1995, 'Jul', 9, 0, 2497.04, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2076', 1995, 'Oct', 15, 0, 2498.41, 'tier - 3', 'tier - 3', 'R1013'),
 ('Id2075', 2004, 'Sep', 6, 0, 2500.93, 'tier - 2', 'tier - 2', 'R1012'),
 ('Id2074', 1991, 'Aug', 5, 3, 2510.79, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2073', 1997, 'Nov', 2, 0, 2523.17, 'tier - 3', 'tier - 1', 'R1012'),
 ('Id2072', 2000, 'Aug', 25, 0, 2527.82, 'tier - 2', 'tier - 3', 'R1012'),
 ('Id2071', 1997, 'Jul', 28, 0, 2534.39, 'tier - 3', 'tier - 3', 'R1012'),
 ('Id2070', 1990, 'Oct', 1, 3, 2540.39, 'tier - 2', 'tier - 2', 'R1013'),
 ('Id2069', 1991, 'Nov', 17, 3, 2545.68, 'tier - 2', 'tier - 1', 'R1013'),
 ('Id2068', 2002, 'Oct', 11, 2, 2566.47, 'tier - 2', 'tier - 3', 'R1013'),
 ('Id2067', 2002, 'Jul', 20, 0, 2585.04, 'tier - 2', 'tier - 2', 'R1021'),

**Task 2: Average Hospital Charges Analysis**

In this project, we aim to analyze a medical dataset to determine the average hospital charges. This analysis can provide essential insights into healthcare cost trends, helping hospitals and patients understand the financial aspects of medical care. By calculating the average hospital charges, we gain valuable information for financial planning, cost optimization, and transparency in healthcare services.

In [21]:
%sql SELECT AVG(charges) as avg_charges FROM hospitalisation_details;

 * postgresql://postgres:***@localhost:5432/Medical
1 rows affected.

[(13564.601204099052,)]

**Task 3: High Charges Analysis**

This project focuses on identifying unique customer identifiers, corresponding years, and charges from a specific medical dataset, specifically for records where charges exceed 700. By retrieving this data, we can gain insights into cases of exceptionally high hospital charges, which can inform further investigation, cost control strategies, and patient financial support.

In [22]:
%%sql
select customer_id, year, charges  from hospitalisation_details
where charges>700;

 * postgresql://postgres:***@localhost:5432/Medical
2331 rows affected.

[('Id2323', 1999, 722.99),
 ('Id2322', 2002, 750.0),
 ('Id2321', 1993, 760.0),
 ('Id2320', 1996, 760.0),
 ('Id2319', 1993, 770.0),
 ('Id2318', 1996, 770.38),
 ('Id2317', 1995, 773.54),
 ('Id2316', 2004, 830.52),
 ('Id2315', 2000, 865.41),
 ('Id2314', 1993, 896.21),
 ('Id2313', 1994, 915.07),
 ('Id2312', 1995, 928.59),
 ('Id2311', 2001, 964.71),
 ('Id2310', 1994, 1006.65),
 ('Id2309', 2000, 1012.0),
 ('Id2308', 1999, 1019.0),
 ('Id2307', 1995, 1033.74),
 ('Id2306', 1994, 1044.0),
 ('Id2305', 2002, 1047.0),
 ('Id2304', 2002, 1049.0),
 ('Id2303', 1995, 1056.0),
 ('Id2302', 1993, 1068.0),
 ('Id2301', 2004, 1070.0),
 ('Id2300', 1997, 1071.0),
 ('Id2299', 1998, 1082.0),
 ('Id2298', 2002, 1086.0),
 ('Id2297', 2004, 1121.87),
 ('Id2296', 2004, 1131.51),
 ('Id2295', 2002, 1132.0),
 ('Id2294', 2004, 1135.0),
 ('Id2293', 2004, 1135.94),
 ('Id2292', 2004, 1136.4),
 ('Id2291', 2002, 1137.0),
 ('Id3012', 2004, 1137.01),
 ('Id2290', 2004, 1137.01),
 ('Id2289', 2004, 1137.47),
 ('Id2288', 2001, 1141.0),
 ('Id2287', 2004, 1141.45),
 ('Id2286', 2002, 1142.0),
 ('Id2285', 2004, 1146.8),
 ('Id2284', 2003, 1149.0),
 ('Id2283', 2004, 1149.4),
 ('Id2282', 1994, 1158.32),
 ('Id2281', 2004, 1163.46),
 ('Id2280', 2002, 1165.0),
 ('Id2279', 2001, 1167.0),
 ('Id2278', 1996, 1178.0),
 ('Id2277', 1997, 1178.07),
 ('Id2276', 2002, 1191.0),
 ('Id2275', 1999, 1200.0),
 ('Id2274', 1992, 1200.55),
 ('Id2273', 2004, 1210.0),
 ('Id2272', 1996, 1220.0),
 ('Id2271', 2004, 1224.0),
 ('Id2270', 2004, 1228.0),
 ('Id2269', 1998, 1234.0),
 ('Id2268', 2002, 1237.0),
 ('Id2267', 1998, 1240.0),
 ('Id2266', 2002, 1241.0),
 ('Id2265', 2003, 1241.57),
 ('Id2264', 2003, 1242.26),
 ('Id2263', 2003, 1242.82),
 ('Id2262', 2003, 1252.41),
 ('Id2261', 1997, 1253.0),
 ('Id2260', 2003, 1253.94),
 ('Id2259', 2003, 1256.3),
 ('Id2258', 2003, 1261.44),
 ('Id2257', 2003, 1261.86),
 ('Id2256', 2003, 1263.25),
 ('Id2255', 2002, 1267.0),
 ('Id2254', 1997, 1276.0),
 ('Id2253', 2004, 1283.0),
 ('Id2252', 2004, 1285.0),
 ('Id2251', 2000, 1286.0),
 ('Id2250', 1998, 1290.93),
 ('Id2249', 2001, 1293.0),
 ('Id2248', 2002, 1304.0),
 ('Id2247', 1999, 1304.0),
 ('Id2246', 2002, 1315.0),
 ('Id2245', 1999, 1329.17),
 ('Id2244', 1998, 1332.61),
 ('Id2243', 1995, 1338.0),
 ('Id2242', 1997, 1341.16),
 ('Id2241', 1998, 1359.0),
 ('Id2240', 2002, 1382.0),
 ('Id2239', 1999, 1389.0),
 ('Id2238', 2002, 1390.0),
 ('Id2237', 2002, 1391.53),
 ('Id2236', 1998, 1400.44),
 ('Id2235', 1997, 1402.0),
 ('Id2234', 1996, 1417.0),
 ('Id2233', 2001, 1421.0),
 ('Id2232', 1997, 1422.0),
 ('Id2231', 2000, 1438.0),
 ('Id2230', 1997, 1445.0),
 ('Id2229', 2003, 1467.0),
 ('Id2228', 1998, 1477.0),
 ('Id2227', 1997, 1481.0),
 ('Id2226', 1995, 1493.0),
 ('Id2225', 1998, 1497.0),
 ('Id2224', 2001, 1515.34),
 ('Id2223', 2001, 1526.31),
 ('Id2222', 2001, 1532.47),
 ('Id2221', 2001, 1534.3),
 ('Id2220', 1992, 1566.88),
 ('Id2219', 2004, 1607.51),
 ('Id2218', 2004, 1615.77),
 ('Id2217', 1995, 1617.16),
 ('Id2216', 2003, 1621.34),
 ('Id2215', 2004, 1621.88),
 ('Id2214', 2004, 1622.19),
 ('Id2213', 2003, 1625.43),
 ('Id2212', 2003, 1627.28),
 ('Id2211', 2003, 1628.47),
 ('Id2210', 2004, 1629.83),
 ('Id2209', 2004, 1631.67),
 ('Id2208', 2004, 1631.82),
 ('Id2207', 2003, 1632.04),
 ('Id2206', 2003, 1632.56),
 ('Id2205', 2004, 1633.04),
 ('Id2204', 2004, 1633.96),
 ('Id2203', 2004, 1634.57),
 ('Id2202', 2003, 1635.73),
 ('Id2201', 2003, 1639.56),
 ('Id2200', 2003, 1639.56),
 ('Id2199', 2003, 1646.43),
 ('Id2198', 2000, 1665.0),
 ('Id2197', 2000, 1674.63),
 ('Id2196', 2000, 1682.6),
 ('Id2195', 2004, 1694.8),
 ('Id2194', 2004, 1702.46),
 ('Id2193', 2004, 1704.57),
 ('Id2192', 2004, 1704.7),
 ('Id2191', 2004, 1705.62),
 ('Id2190', 2004, 1708.0),
 ('Id2189', 2004, 1708.93),
 ('Id2188', 2004, 1711.03),
 ('Id2187', 2004, 1712.23),
 ('Id2186', 2004, 1719.44),
 ('Id2185', 2004, 1720.35),
 ('Id2184', 2004, 1725.55),
 ('Id2183', 2004, 1727.54),
 ('Id2182', 2003, 1727.79),
 ('Id2181', 2003, 1728.9),
 ('Id2180', 2003, 1731.68),
 ('Id2179', 2003, 1737.38),
 ('Id2178', 2003, 1743.21),
 ('Id2177', 2003, 1744.47),
 ('Id2176', 2003, 1748.77),
 ('Id2175', 1998, 1756.6),
 ('Id2174', 2003, 1759.34),
 ('Id2173', 2002, 1769.53),
 ('Id2172', 1999, 1815.88),
 ('Id2171', 2004, 1822.54),
 ('Id2170', 1999, 1824.29),
 ('Id2169', 1999, 1826.84),
 ('Id2168', 2003, 1832.09),
 ('Id2167', 2003, 1837.24),
 ('Id2166', 1999, 1837.28),
 ('Id2165', 2003, 1842.52),
 ('Id2164', 1994, 1850.55),
 ('Id2163', 2004, 1863.45),
 ('Id2162', 1996, 1865.98),
 ('Id2161', 2002, 1875.34),
 ('Id2160', 2002, 1877.93),
 ('Id2159', 2002, 1880.07),
 ('Id2158', 2002, 1880.49),
 ('Id2157', 2001, 1906.36),
 ('Id2156', 1994, 1908.9),
 ('Id2155', 2001, 1909.53),
 ('Id2154', 2001, 1917.32),
 ('Id2153', 2002, 1964.78),
 ('Id2152', 2002, 1967.02),
 ('Id2151', 1998, 1969.61),
 ('Id2150', 1998, 1972.95),
 ('Id2149', 1998, 1977.82),
 ('Id2148', 2002, 1980.07),
 ('Id2147', 1998, 1981.58),
 ('Id2146', 2002, 1984.45),
 ('Id2145', 1998, 1986.93),
 ('Id2144', 2001, 2007.95),
 ('Id2143', 2001, 2020.18),
 ('Id2142', 2001, 2020.55),
 ('Id2141', 2001, 2026.97),
 ('Id2140', 2000, 2045.69),
 ('Id2139', 2000, 2055.32),
 ('Id2138', 2004, 2094.1),
 ('Id2137', 2001, 2102.26),
 ('Id2136', 2001, 2103.08),
 ('Id2135', 2001, 2104.11),
 ('Id2134', 1989, 2106.26),
 ('Id2133', 2003, 2117.34),
 ('Id2132', 2004, 2118.61),
 ('Id2131', 2003, 2128.43),
 ('Id2130', 2003, 2130.68),
 ('Id2129', 2003, 2134.9),
 ('Id2128', 2003, 2136.88),
 ('Id2127', 1997, 2137.65),
 ('Id2126', 2003, 2138.07),
 ('Id2125', 2004, 2144.85),
 ('Id2124', 2000, 2150.47),
 ('Id2123', 2000, 2154.36),
 ('Id2122', 2000, 2155.68),
 ('Id2121', 2000, 2156.75),
 ('Id2120', 2000, 2166.73),
 ('Id2119', 1994, 2170.08),
 ('Id2118', 1991, 2193.2),
 ('Id2117', 2004, 2196.47),
 ('Id2116', 2004, 2198.19),
 ('Id2115', 2004, 2200.83),
 ('Id2114', 2004, 2201.1),
 ('Id2113', 2004, 2203.47),
 ('Id2112', 2004, 2203.74),
 ('Id2111', 2004, 2205.98),
 ('Id2110', 2004, 2207.7),
 ('Id2109', 2004, 2211.13),
 ('Id2108', 1994, 2213.21),
 ('Id2107', 2004, 2217.47),
 ('Id2106', 2004, 2217.6),
 ('Id2105', 2004, 2219.45),
 ('Id2104', 2003, 2221.56),
 ('Id2103', 2000, 2250.84),
 ('Id2102', 2000, 2254.8),
 ('Id2101', 2002, 2257.48),
 ('Id2100', 2002, 2261.57),
 ('Id2099', 1991, 2277.72),
 ('Id2098', 1989, 2295.24),
 ('Id2097', 1996, 2302.3),
 ('Id2096', 2004, 2304.0),
 ('Id2095', 1996, 2322.62),
 ('Id2094', 2003, 2331.52),
 ('Id2093', 1998, 2352.97),
 ('Id2092', 2002, 2362.23),
 ('Id2091', 1988, 2373.3),
 ('Id2090', 1999, 2395.17),
 ('Id2089', 1999, 2396.1),
 ('Id2088', 2001, 2404.73),
 ('Id2087', 1999, 2416.96),
 ('Id2086', 1999, 2438.06),
 ('Id2085', 2002, 2457.21),
 ('Id2084', 1998, 2457.5),
 ('Id2083', 2002, 2459.72),
 ('Id2082', 1998, 2464.62),
 ('Id2081', 1998, 2473.33),
 ('Id2080', 1998, 2480.98),
 ('Id2079', 1995, 2483.74),
 ('Id2078', 1995, 2494.02),
 ('Id2077', 1995, 2497.04),
 ('Id2076', 1995, 2498.41),
 ('Id2075', 2004, 2500.93),
 ('Id2074', 1991, 2510.79),
 ('Id2073', 1997, 2523.17),
 ('Id2072', 2000, 2527.82),
 ('Id2071', 1997, 2534.39),
 ('Id2070', 1990, 2540.39),
 ('Id2069', 1991, 2545.68),
 ('Id2068', 2002, 2566.47),
 ('Id2067', 2002, 2585.04),
 ('Id2066', 2001, 2585.27),
 ('Id2065', 2001, 2585.85),
 ('Id2064', 2001, 2597.78),
 ('Id2063', 1997, 2632.99),
 ('Id2062', 2000, 2639.04),
 ('Id2061', 2000, 2643.27),
 ('Id2060', 1996, 2680.95),
 ('Id2059', 1994, 2684.69),
 ('Id2058', 1994, 2689.5),
 ('Id2057', 1999, 2690.11),
 ('Id2056', 1996, 2699.57),
 ('Id2055', 2003, 2709.11),
 ('Id2054', 2003, 2709.24),
 ('Id2053', 2003, 2710.83),
 ('Id2052', 2003, 2719.28),
 ('Id2051', 1997, 2721.32),
 ('Id2050', 1988, 2726.06),
 ('Id2049', 1997, 2727.4),
 ('Id2048', 2003, 2730.11),
 ('Id2047', 2000, 2731.91),
 ('Id2046', 2000, 2741.95),
 ('Id2045', 2000, 2755.02),
 ('Id2044', 1997, 2758.99),
 ('Id2043', 2004, 2773.46),
 ('Id2336', 1999, 2775.19),
 ('Id2042', 1999, 2775.19),
 ('Id2041', 1999, 2789.06),
 ('Id2040', 2004, 2801.26),
 ('Id2039', 2003, 2803.7),
 ('Id2038', 2000, 2819.51),
 ('Id2037', 1998, 2842.76),
 ('Id2036', 1998, 2850.68),
 ('Id2035', 1998, 2855.44),
 ('Id2034', 1993, 2866.09),
 ('Id2033', 1993, 2867.12),
 ('Id2032', 1996, 2897.32),
 ('Id2031', 2000, 2897.46),
 ('Id2030', 1999, 2899.49),
 ('Id2029', 1996, 2902.91),
 ('Id2028', 1996, 2904.09),
 ('Id2027', 2003, 2913.57),
 ('Id2026', 1996, 2927.06),
 ('Id2025', 2002, 2943.41),
 ('Id2024', 1995, 2974.13),
 ('Id2023', 1987, 2979.52),
 ('Id2022', 1991, 2985.67),
 ('Id2021', 2002, 3012.22),
 ('Id2020', 1988, 3018.04),
 ('Id2019', 1997, 3021.81),
 ('Id2018', 1998, 3044.21),
 ('Id2017', 1998, 3046.06),
 ('Id2016', 1997, 3051.73),
 ('Id2015', 2002, 3056.39),
 ('Id2014', 1994, 3062.51),
 ('Id2013', 1989, 3065.49),
 ('Id2012', 1995, 3070.81),
 ('Id2011', 2001, 3077.1),
 ('Id2010', 1987, 3088.06),
 ('Id2009', 1999, 3128.35),
 ('Id2008', 1994, 3161.45),
 ('Id2007', 1993, 3162.02),
 ('Id2006', 2001, 3167.46),
 ('Id2005', 1994, 3171.61),
 ('Id2004', 1994, 3172.02),
 ('Id2003', 1996, 3176.29),
 ('Id2002', 1996, 3176.82),
 ('Id2001', 2000, 3179.96),
 ('Id2000', 2001, 3180.51),
 ('Id1999', 1996, 3201.25),
 ('Id1998', 1997, 3206.49),
 ('Id1997', 1997, 3208.79),
 ('Id1996', 1997, 3213.62),
 ('Id1995', 1997, 3227.12),
 ('Id1994', 1997, 3238.44),
 ('Id1993', 1991, 3260.2),
 ('Id1992', 1994, 3268.85),
 ('Id1991', 1994, 3277.16),
 ('Id1990', 2001, 3279.87),
 ('Id1989', 2003, 3280.22),
 ('Id1988', 1996, 3292.53),
 ('Id1987', 2003, 3300.7),
 ('Id1986', 2003, 3308.46),
 ('Id1985', 1997, 3309.79),
 ('Id1984', 1991, 3342.79),
 ('Id1983', 1993, 3353.28),
 ('Id1982', 1995, 3353.47),
 ('Id1981', 1993, 3366.67),
 ('Id1980', 1996, 3378.91),
 ('Id1979', 1996, 3385.4),
 ('Id1978', 1996, 3392.37),
 ('Id1977', 1996, 3392.98),
 ('Id1976', 2004, 3393.36),
 ('Id1975', 1996, 3410.32),
 ('Id1974', 2001, 3434.38),
 ('Id1973', 1986, 3436.5),
 ('Id1972', 2000, 3443.06),
 ('Id1971', 1987, 3453.77),
 ('Id1970', 2003, 3463.51),
 ('Id1969', 1993, 3471.41),
 ('Id1968', 2004, 3481.87),
 ('Id1967', 1996, 3484.33),
 ('Id1966', 1996, 3490.55),
 ('Id1965', 1999, 3500.61),
 ('Id1964', 1998, 3537.7),
 ('Id1963', 2003, 3538.9),
 ('Id1962', 1988, 3540.12),
 ('Id1961', 1992, 3554.2),
 ('Id1960', 1994, 3556.92),
 ('Id1959', 1995, 3558.62),
 ('Id1958', 1995, 3561.89),
 ('Id1957', 1981, 3562.87),
 ('Id1956', 1988, 3569.96),
 ('Id1955', 1995, 3578.0),
 ('Id1954', 2001, 3579.83),
 ('Id1953', 1986, 3589.14),
 ('Id1952', 1999, 3591.48),
 ('Id1951', 1997, 3594.17),
 ('Id1950', 1999, 3597.6),
 ('Id1949', 1988, 3603.6),
 ('Id1948', 1990, 3606.43),
 ('Id1947', 1985, 3622.13),
 ('Id1946', 1992, 3645.09),
 ('Id1945', 1990, 3653.29),
 ('Id1944', 1992, 3659.35),
 ('Id1943', 1984, 3678.86),
 ('Id1942', 2003, 3688.35),
 ('Id1941', 1981, 3688.38),
 ('Id1940', 1995, 3693.43),
 ('Id1939', 1988, 3699.54),
 ('Id1938', 1989, 3704.35),
 ('Id1937', 2004, 3722.23),
 ('Id1936', 1986, 3731.6),
 ('Id1935', 1994, 3732.63),
 ('Id1934', 1993, 3736.46),
 ('Id1933', 1986, 3748.56),
 ('Id1932', 1991, 3756.62),
 ('Id1931', 1991, 3757.84),
 ('Id1930', 1991, 3761.29),
 ('Id1929', 1994, 3766.88),
 ('Id1928', 1987, 3773.23),
 ('Id1927', 1981, 3785.77),
 ('Id1926', 1988, 3793.55),
 ('Id1925', 1999, 3796.36),
 ('Id1924', 1981, 3797.2),
 ('Id1923', 1994, 3847.67),
 ('Id1922', 1991, 3857.76),
 ('Id1921', 2001, 3858.51),
 ('Id1920', 2001, 3861.21),
 ('Id1919', 1990, 3866.86),
 ('Id1918', 1991, 3875.73),
 ('Id1917', 1996, 3877.3),
 ('Id1916', 2004, 3889.2),
 ('Id1915', 1993, 3898.35),
 ('Id1914', 1981, 3902.07),
 ('Id1913', 1997, 3906.13),
 ('Id1912', 1985, 3910.44),
 ('Id1911', 2000, 3925.76),
 ('Id1910', 2002, 3931.51),
 ('Id1909', 1988, 3935.18),
 ('Id1908', 1993, 3943.6),
 ('Id1907', 1993, 3947.41),
 ('Id1906', 1999, 3955.98),
 ('Id1905', 1995, 3956.07),
 ('Id1904', 1990, 3972.92),
 ('Id1903', 1996, 3981.98),
 ('Id1902', 1996, 3987.93),
 ('Id1901', 1990, 3989.84),
 ('Id1900', 1990, 3994.18),
 ('Id1899', 1989, 4002.36),
 ('Id1898', 2000, 4005.42),
 ('Id1897', 1992, 4032.24),
 ('Id1896', 1984, 4038.41),
 ('Id1895', 1983, 4039.9),
 ('Id1894', 1993, 4040.56),
 ('Id1893', 1988, 4047.94),
 ('Id1892', 1993, 4058.12),
 ('Id1891', 1995, 4058.71),
 ('Id1890', 1983, 4070.42),
 ('Id1889', 2002, 4070.51),
 ('Id1888', 1990, 4074.45),
 ('Id1887', 1990, 4076.5),
 ('Id1886', 1994, 4133.64),
 ('Id1885', 1991, 4134.08),
 ('Id1884', 1992, 4137.52),
 ('Id1883', 1992, 4149.74),
 ('Id1882', 1992, 4151.03),
 ('Id1881', 1998, 4154.97),
 ('Id1880', 1984, 4163.21),
 ('Id1879', 1989, 4185.1),
 ('Id1878', 1995, 4188.73),
 ('Id1877', 1997, 4189.11),
 ('Id1876', 1998, 4234.93),
 ('Id1875', 1992, 4237.13),
 ('Id1874', 1991, 4239.89),
 ('Id1873', 1991, 4243.59),
 ('Id1872', 1982, 4250.24),
 ('Id1871', 1995, 4260.74),
 ('Id1870', 1983, 4265.01),
 ('Id1869', 1992, 4266.17),
 ('Id1868', 2003, 4278.55),
 ('Id1867', 2000, 4296.27),
 ('Id1866', 1988, 4320.41),
 ('Id1865', 1994, 4337.74),
 ('Id1864', 1994, 4340.44),
 ('Id1863', 1991, 4347.02),
 ('Id1862', 1994, 4349.46),
 ('Id1861', 1991, 4350.51),
 ('Id1860', 1990, 4357.04),
 ('Id1859', 1997, 4391.65),
 ('Id1858', 1982, 4392.7),
 ('Id1857', 1988, 4397.31),
 ('Id1856', 1986, 4399.73),
 ('Id1855', 1986, 4402.23),
 ('Id1854', 1988, 4415.16),
 ('Id1853', 1992, 4420.95),
 ('Id1852', 1994, 4428.89),
 ('Id1851', 1993, 4433.39),
 ('Id1850', 1993, 4433.92),
 ('Id1849', 1994, 4435.09),
 ('Id1848', 1994, 4438.26),
 ('Id1847', 1991, 4441.21),
 ('Id1846', 1994, 4449.46),
 ('Id1845', 1990, 4454.4),
 ('Id1844', 1990, 4462.72),
 ('Id1843', 1991, 4463.21),
 ('Id1842', 1999, 4466.62),
 ('Id1841', 2004, 4468.25),
 ('Id1840', 1992, 4488.58),
 ('Id1839', 1988, 4500.34),
 ('Id1838', 1997, 4504.66),
 ('Id1837', 1982, 4511.41),
 ('Id1836', 1980, 4515.71),
 ('Id1835', 2003, 4518.4),
 ('Id1834', 1987, 4518.77),
 ('Id1833', 1988, 4518.83),
 ('Id1832', 1992, 4527.18),
 ('Id1831', 1993, 4529.48),
 ('Id1830', 1988, 4536.26),
 ('Id1829', 1990, 4544.23),
 ('Id1828', 2004, 4561.19),
 ('Id1827', 1990, 4562.84),
 ('Id1826', 1996, 4564.19),
 ('Id1825', 1989, 4571.41),
 ('Id1824', 2000, 4608.03),
 ('Id1823', 1998, 4618.08),
 ('Id1822', 1985, 4646.76),
 ('Id1821', 1996, 4661.29),
 ('Id1820', 1990, 4667.61),
 ('Id1819', 1990, 4670.64),
 ('Id1818', 1990, 4673.39),
 ('Id1817', 1979, 4674.2),
 ('Id1816', 2003, 4678.8),
 ('Id1815', 1990, 4686.39),
 ('Id1814', 2003, 4687.8),
 ('Id1813', 1977, 4699.47),
 ('Id1812', 1981, 4712.12),
 ('Id1811', 1992, 4718.2),
 ('Id1810', 1992, 4719.52),
 ('Id1809', 1994, 4719.74),
 ('Id1808', 1980, 4728.71),
 ('Id1807', 1986, 4734.64),
 ('Id1806', 1991, 4738.27),
 ('Id1805', 2004, 4740.78),
 ('Id1804', 1987, 4746.34),
 ('Id1803', 1987, 4747.05),
 ('Id1802', 1987, 4751.07),
 ('Id1801', 1992, 4753.64),
 ('Id1800', 1987, 4762.33),
 ('Id1799', 1989, 4766.02),
 ('Id1798', 1989, 4779.6),
 ('Id1797', 1987, 4787.42),
 ('Id1796', 1989, 4795.66),
 ('Id1795', 1978, 4812.34),
 ('Id1794', 1981, 4827.1),
 ('Id1793', 1995, 4827.9),
 ('Id1792', 2002, 4830.63),
 ('Id1791', 2000, 4835.43),
 ('Id1790', 1992, 4837.58),
 ('Id1789', 1984, 4839.18),
 ('Id1788', 1995, 4840.95),
 ('Id1787', 1979, 4843.79),
 ('Id1786', 1974, 4844.67),
 ('Id1785', 2001, 4846.53),
 ('Id1784', 1995, 4846.92),
 ('Id1783', 1989, 4859.89),
 ('Id1782', 1997, 4877.98),
 ('Id1781', 1986, 4883.87),
 ('Id1780', 1986, 4889.04),
 ('Id1779', 1989, 4890.0),
 ('Id1778', 1990, 4894.39),
 ('Id1777', 1988, 4894.75),
 ('Id1776', 1993, 4906.41),
 ('Id1775', 1981, 4911.89),
 ('Id1774', 2002, 4915.06),
 ('Id1773', 1993, 4922.92),
 ('Id1772', 1991, 4931.65),
 ('Id1771', 1991, 4934.71),
 ('Id1770', 1974, 4942.06),
 ('Id1769', 1991, 4949.76),
 ('Id1768', 1973, 4985.22),
 ('Id1767', 1988, 4992.38),
 ('Id1766', 2001, 4999.04),
 ('Id1765', 1988, 5002.78),
 ('Id1764', 1977, 5003.77),
 ('Id1763', 1988, 5003.85),
 ('Id1762', 1988, 5012.47),
 ('Id1761', 1985, 5028.15),
 ('Id1760', 1991, 5031.27),
 ('Id1759', 1986, 5034.1),
 ('Id1758', 1997, 5038.57),
 ('Id1757', 2001, 5043.13),
 ('Id1756', 1997, 5045.15),
 ('Id1755', 1980, 5054.05),
 ('Id1754', 1993, 5059.56),
 ('Id1753', 1978, 5077.19),
 ('Id1752', 1997, 5080.1),
 ('Id1751', 1999, 5087.92),
 ('Id1750', 1987, 5116.5),
 ('Id1749', 1988, 5124.19),
 ('Id1748', 1987, 5125.22),
 ('Id1747', 1988, 5136.75),
 ('Id1746', 1993, 5138.26),
 ('Id1745', 1984, 5144.18),
 ('Id1744', 1990, 5148.55),
 ('Id1743', 1990, 5152.13),
 ('Id1742', 1991, 5166.96),
 ('Id1741', 1984, 5177.12),
 ('Id1740', 1979, 5195.58),
 ('Id1739', 2004, 5198.69),
 ('Id1738', 1983, 5207.97),
 ('Id1737', 1993, 5209.58),
 ('Id1736', 1999, 5213.22),
 ('Id1735', 1995, 5216.48),
 ('Id1734', 1987, 5227.99),
 ('Id1733', 1987, 5240.77),
 ('Id1732', 1987, 5245.23),
 ('Id1731', 1987, 5246.05),
 ('Id1730', 1990, 5253.52),
 ('Id1729', 1989, 5257.51),
 ('Id1728', 1989, 5261.47),
 ('Id1727', 1986, 5266.37),
 ('Id1726', 1986, 5267.82),
 ('Id1725', 1986, 5272.18),
 ('Id1724', 1987, 5275.86),
 ('Id1723', 1974, 5291.71),
 ('Id1722', 2004, 5293.67),
 ('Id1721', 2000, 5306.7),
 ('Id1720', 1994, 5312.17),
 ('Id1719', 1974, 5322.24),
 ('Id1718', 1992, 5325.65),
 ('Id1717', 1991, 5327.4),
 ('Id1716', 1972, 5344.81),
 ('Id1715', 1989, 5354.07),
 ('Id1714', 1994, 5364.66),
 ('Id1713', 1986, 5373.36),
 ('Id1712', 1989, 5375.04),
 ('Id1711', 1986, 5377.46),
 ('Id1710', 1984, 5383.54),
 ('Id1709', 1988, 5385.34),
 ('Id1708', 1989, 5396.44),
 ('Id1707', 1984, 5397.62),
 ('Id1706', 1984, 5400.98),
 ('Id1705', 1985, 5402.89),
 ('Id1704', 1975, 5411.99),
 ('Id1703', 1982, 5415.66),
 ('Id1702', 1991, 5425.02),
 ('Id1701', 1992, 5428.73),
 ('Id1700', 1978, 5428.98),
 ('Id1699', 1982, 5438.75),
 ('Id1698', 1986, 5458.05),
 ('Id1697', 1973, 5466.88),
 ('Id1696', 1986, 5469.01),
 ('Id1695', 1986, 5472.45),
 ('Id1694', 1986, 5478.04),
 ('Id1693', 1984, 5484.47),
 ('Id1692', 1984, 5488.26),
 ('Id1691', 1988, 5503.36),
 ('Id1690', 1981, 5539.4),
 ('Id1689', 1980, 5540.35),
 ('Id1688', 1999, 5552.61),
 ('Id1687', 1974, 5576.35),
 ('Id1686', 1985, 5582.95),
 ('Id1685', 1986, 5584.31),
 ('Id1684', 1983, 5587.59),
 ('Id1683', 1988, 5594.85),
 ('Id1682', 1978, 5612.83),
 ('Id1681', 1994, 5615.37),
 ('Id1680', 1987, 5630.46),
 ('Id1679', 1983, 5649.72),
 ('Id1678', 1978, 5650.14),
 ('Id1677', 1983, 5662.23),
 ('Id1676', 1984, 5679.13),
 ('Id1675', 1972, 5690.79),
 ('Id1674', 1992, 5693.43),
 ('Id1673', 1974, 5698.74),
 ('Id1672', 1981, 5699.84),
 ('Id1671', 1993, 5708.87),
 ('Id1670', 1981, 5709.16),
 ('Id1669', 1971, 5720.38),
 ('Id1668', 1987, 5729.01),
 ('Id1667', 1972, 5741.67),
 ('Id1666', 1993, 5748.13),
 ('Id1665', 1983, 5757.41),
 ('Id1664', 2004, 5778.71),
 ('Id1663', 1980, 5807.06),
 ('Id1662', 1972, 5812.9),
 ('Id1661', 2002, 5816.58),
 ('Id1660', 1971, 5832.6),
 ('Id1659', 1987, 5836.52),
 ('Id1658', 1995, 5843.99),
 ('Id1657', 1987, 5846.92),
 ('Id1656', 1985, 5847.24),
 ('Id1655', 1984, 5855.9),
 ('Id1654', 1993, 5877.02),
 ('Id1653', 1982, 5910.94),
 ('Id1652', 1982, 5920.1),
 ('Id1651', 1987, 5926.85),
 ('Id1650', 1993, 5926.93),
 ('Id1649', 1994, 5927.65),
 ('Id1648', 1987, 5934.38),
 ('Id1647', 2003, 5957.35),
 ('Id1646', 2004, 5960.91),
 ('Id1645', 1980, 5966.89),
 ('Id1644', 1980, 5969.72),
 ('Id1643', 1989, 5972.38),
 ('Id1642', 1984, 5974.38),
 ('Id1641', 1984, 5976.83),
 ('Id1640', 1970, 5979.66),
 ('Id1639', 1980, 5979.73),
 ('Id1638', 1974, 5979.99),
 ('Id1637', 1988, 5989.52),
 ('Id1636', 1974, 5990.17),
 ('Id1635', 1980, 5993.62),
 ('Id1634', 1989, 6059.17),
 ('Id1633', 1996, 6061.8),
 ('Id1632', 1994, 6064.37),
 ('Id1631', 1984, 6067.13),
 ('Id1630', 1979, 6074.37),
 ('Id1629', 1984, 6079.67),
 ('Id1628', 1984, 6082.41),
 ('Id1627', 1970, 6098.38),
 ('Id1626', 1995, 6111.95),
 ('Id1625', 1985, 6112.35),
 ('Id1624', 1991, 6113.23),
 ('Id1623', 1983, 6117.49),
 ('Id1622', 1983, 6123.57),
 ('Id1621', 1990, 6128.8),
 ('Id1620', 1969, 6138.5),
 ('Id1619', 1978, 6138.58),
 ('Id1618', 1976, 6139.14),
 ('Id1617', 1970, 6147.12),
 ('Id1616', 1973, 6152.05),
 ('Id1615', 1985, 6159.57),
 ('Id1614', 1984, 6170.96),
 ('Id1613', 1985, 6183.32),
 ('Id1612', 1970, 6183.46),
 ('Id1611', 1988, 6184.3),
 ('Id1610', 1981, 6185.32),
 ('Id1609', 1981, 6186.13),
 ('Id1608', 1988, 6196.45),
 ('Id1607', 1985, 6198.75),

**Task 4: High BMI Patients Analysis**

In this project, we aim to retrieve the name, year, and charges for customers with a BMI (Body Mass Index) greater than 35 from a medical dataset. Analyzing the data of high BMI patients allows us to understand the healthcare costs associated with this specific group. This information can be valuable for identifying health trends, managing patient care, and optimizing medical expenses.

In [23]:
%%sql
SELECT n.name, h.year, h.charges
FROM hospitalisation_details AS h
JOIN medical_examinations AS m ON h.customer_id = m.customer_id
JOIN names AS n ON n.customer_id = m.customer_id
WHERE m.BMI > 35;

 * postgresql://postgres:***@localhost:5432/Medical
699 rows affected.

[('Albertson, Mr.  Mark P.', 2004, 1141.45),
 ('Montoya, Mr.  Alvaro Sr.', 2004, 1146.8),
 ('Luy, Mr.  David', 2004, 1149.4),
 ('Boulay, Mr.  Pierre', 2004, 1163.46),
 ('Johnson, Mr.  Ryan C.', 2003, 1263.25),
 ('Lawder, Mr.  Matthew T.', 2001, 1532.47),
 ('Sanseverino, Mr.  Cole', 2001, 1534.3),
 ('Freeman, Ms.  Jennifer A.', 2004, 1629.83),
 ('Prince, Ms.  Dani', 2004, 1631.67),
 ('Ytterstad, Ms.  Nina Wavik Sr.', 2004, 1631.82),
 ('Erdos, Ms.  Elleree', 2004, 1633.04),
 ('Gibson, Ms.  Andrea K', 2004, 1633.96),
 ('Slason, Ms.  Deborah L.', 2004, 1634.57),
 ('Gehlsen, Mr.  Eric N', 2003, 1646.43),
 ('Hicks, Mr.  Dustin G.', 2000, 1682.6),
 ('Murphy, Mr.  Timothy P.', 2004, 1727.54),
 ("O'Brien, Ms.  Caitlin H.", 2003, 1759.34),
 ('Neill, Mr.  Ian T', 1999, 1837.28),
 ('Lutz, Mr.  Zachary A', 2001, 1917.32),
 ('Laumann, Mr.  Scott R.', 2002, 1984.45),
 ('Stein, Mr.  Russell N.', 1998, 1986.93),
 ('De Hueck, Ms.  Jennifer', 2001, 2026.97),
 ('Chua, Ms.  Catherine C.', 2003, 2134.9),
 ('Flajslik, Ms.  Kristen', 2003, 2136.88),
 ('Carroll, Ms.  Jennifer L.', 2003, 2138.07),
 ('Waters, Ms.  Kara', 2000, 2166.73),
 ('Li, Ms.  Ji', 2004, 2211.13),
 ('Von Rock, Ms.  Hallie', 2004, 2217.47),
 ('Simone, Ms.  Erin', 2004, 2217.6),
 ('Strickler, Ms.  Mary Beth', 2004, 2219.45),
 ('Fonti, Mr.  Massimiliano', 1996, 2322.62),
 ('Teeuwen, Ms.  Rosalie', 2001, 2404.73),
 ('Walsh, Mr.  Jeremy', 1999, 2416.96),
 ('Galvan, Mr.  Ariel', 1999, 2438.06),
 ('Jacobs, Ms.  Janae N.', 1998, 2480.98),
 ('Walsh, Mr.  Anthony S', 1997, 2534.39),
 ('Sharkey, Mr.  Bryan', 1994, 2689.5),
 ('Tang, Ms.  Jingjing', 2003, 2730.11),
 ('Allan, Ms.  Kirsten N.', 2000, 2755.02),
 ('Parton, Mr.  Nicholas E.', 1996, 2927.06),
 ('Shaw, Ms.  Carolyn', 1996, 3201.25),
 ('Mayo, Ms.  Susan', 1997, 3238.44),
 ('Cacciapaglia, Mr.  Christopher W', 1994, 3268.85),
 ('Cadotte, Mr.  Christopher P.', 1994, 3277.16),
 ('Durfee, Ms.  Carolyn R', 1993, 3366.67),
 ('Hunter-Galvan, Ms.  Liza', 2004, 3393.36),
 ('Cackett, Ms.  Rachel B.', 1996, 3410.32),
 ('Sprague, Mr.  Dustin L', 1993, 3471.41),
 ('Vaughn, Ms.  Kindsey P.', 1999, 3500.61),
 ('Dillon, Mr.  William', 1999, 3597.6),
 ('McGinn, Mr.  Michael P.', 1995, 3693.43),
 ('McLean, Ms.  Pauline', 1994, 3766.88),
 ('Heuninck, Mr.  Jan', 1991, 3875.73),
 ('Newman, Ms.  Christin', 1990, 3989.84),
 ('Gonzales, Ms.  Jessica', 1990, 3994.18),
 ('Chong, Mr.  Eduardo', 1993, 4058.12),
 ('McCormick, Mr.  Zachary', 1992, 4266.17),
 ('Lapp, Mr.  Samuel M.', 1988, 4320.41),
 ('Johnson, Mr.  Bart', 1991, 4463.21),
 ('Lombardo, Ms.  Megan', 2004, 4468.25),
 ('Boyd, Mr.  Caleb', 1988, 4536.26),
 ('Blanton, Mr.  Matthew T', 2000, 4608.03),
 ('Weston, Mr.  Rob', 1990, 4667.61),
 ('Bell, Mr.  Colin', 1990, 4670.64),
 ('Mollak, Mr.  Justin R', 1990, 4673.39),
 ('Cowan, Mr.  Benjamin', 1990, 4686.39),
 ('Clash, Mr.  Daniel C', 2004, 4740.78),
 ('Comment, Ms.  Kristen', 1992, 4753.64),
 ('Shabot Marcos, Mr.  Alfredo', 1987, 4762.33),
 ('Conrad, Ms.  Sara', 1989, 4795.66),
 ('Schulz, Ms.  Heather', 2002, 4830.63),
 ('Mone, Mr.  Peter J. Jr.', 1989, 4890.0),
 ('Misuraca, Ms.  Katie', 1991, 4949.76),
 ('Whitbeck, Mr.  Ben', 2001, 4999.04),
 ('Hall, Mr.  Kyle M', 2001, 5043.13),
 ('Brian, Mr.  Tom', 1988, 5124.19),
 ('Coogan, Ms.  Rachel', 1993, 5138.26),
 ('Marriott, Mr.  Richard J', 2004, 5198.69),
 ('Casto, Mr.  Trent', 2004, 5293.67),
 ('Lambe, Mr.  Patrick', 2000, 5306.7),
 ('Barnett, Ms.  Marie E.', 1984, 5397.62),
 ('Fairley, Ms.  Kim', 1984, 5400.98),
 ('Hennigar, Mr.  Stephen', 1992, 5428.73),
 ('Syring, Mr.  Brian', 1982, 5438.75),
 ('Manion, Ms.  Linda', 1987, 5630.46),
 ('Gosnell, Ms.  Theresa', 1983, 5662.23),
 ('Larue, Mr.  Bob R', 1981, 5709.16),
 ('Tusso, Mr.  Robert B', 1983, 5757.41),
 ('Ugarte, Mr.  Patricio Sr.', 2004, 5778.71),
 ('Jablonski, Mrs.  Kelly K', 2002, 5816.58),
 ('Chang, Ms.  Kelly', 1987, 5836.52),
 ('Barry, Ms.  Colleen C.', 1987, 5846.92),
 ('Leonhardt, Ms.  Kerri', 1982, 5920.1),
 ('Cartmell, Mr.  Greg', 2003, 5957.35),
 ('Rudder, Mrs.  Rachel M', 2004, 5960.91),
 ('Fischer-Daly, Ms.  Sabine', 1989, 5972.38),
 ('Rediger, Ms.  Andrea K.', 1988, 5989.52),
 ('Deppen, Mr.  Drew L.', 1994, 6064.37),
 ('Cabada, Mr.  Fernando', 1984, 6079.67),
 ('Lizak, Ms.  Marisa A', 1988, 6196.45),
 ('Simon, Mrs.  Anne-Marie', 1999, 6207.26),
 ('Besse, Mr.  Arthur M.', 2004, 6311.11),
 ('Keating, Ms.  Paula', 1990, 6334.34),
 ('Goldberg, Mr.  Samuel L', 1983, 6356.27),
 ('Millett, Ms.  Lexy', 1989, 6360.99),
 ('Campbell, Ms.  Cathi', 1984, 6373.56),
 ('Zywek, Mr.  Maciej', 1997, 6389.53),
 ('Ryan, Mr.  Paul', 1985, 6435.62),
 ('Oh, Ms.  Yann Kai', 1980, 6474.01),
 ('Mayer, Ms.  Stephanie W.', 1989, 6551.75),
 ('Frank, Mr.  Mason D.', 1982, 6610.11),
 ('Yabu, Ms.  Yoshie', 2003, 6638.16),
 ('Randall, Mr.  Jack', 1989, 6666.24),
 ('Theriault, Ms.  Jodi', 1981, 6781.35),
 ('Bellucci, Ms.  Tiffany A', 2000, 6842.28),
 ('Gudenkauf, Ms.  Kimberly K', 2004, 6876.53),
 ('Ohara, Mr.  Chip', 1978, 6948.7),
 ('Peck, Mr.  Stephen M', 1995, 7042.11),
 ('Pond, Mr.  Kyle K', 1999, 7144.4),
 ("D'Andrea, Mr.  Shawn E", 1978, 7152.67),
 ('Danner, Mr.  Andrew', 1980, 7160.09),
 ('Horvath, Mr.  Adrian', 1980, 7160.33),
 ('Dever, Mr.  Shaun R', 1980, 7162.01),
 ('Ash, Mr.  Alan', 1982, 7196.87),
 ('Goode, Mr.  Adam', 1981, 7265.7),
 ('Glenn, Ms.  Ashley N.', 1979, 7345.73),
 ('Irwin, Ms.  April', 1977, 7348.14),
 ('Barrett, Mr.  John S.', 1993, 7349.12),
 ('Monette, Ms.  Nicole', 1981, 7371.77),
 ('Winkelman, Mrs.  Laurie A', 1993, 7388.85),
 ('Ryder, Ms.  Sharon E.', 1980, 7443.64),
 ('Novales, Mr.  Estuardo F', 1977, 7448.4),
 ('Nettik, Ms.  Jenni', 2001, 7450.36),
 ('Waliaula, Mr.  James', 1996, 7487.38),
 ('Hartman, Ms.  Lindsay M', 1997, 7504.3),
 ("O'Neill, Mr.  Eoghan", 1994, 7567.13),
 ('Lattin, Mr.  Eric W', 1997, 7607.03),
 ('Sulkowski, Mr.  Adam', 1996, 7623.13),
 ('Hodge, Ms.  Jessica F.', 2001, 7636.92),
 ('Roybal, Mrs.  Robyn', 1999, 7642.05),
 ('Rollie, Ms.  Jessica R', 1980, 7650.77),
 ('Temple, Mr.  Brian', 1993, 7650.8),
 ('Betournay, Mr.  Brian', 1998, 7652.26),
 ('Blois, Mr.  Michael', 1996, 7670.75),
 ('Kelly, Mr.  Joseph P', 1995, 7676.4),
 ('Hand, Ms.  Katie', 1977, 7731.86),
 ('Julia, Mr.  Jaime', 1978, 7740.34),
 ('Garey, Mr.  Rick', 1997, 7763.06),
 ('Campbell, Mrs.  Colleen L.', 1999, 7794.68),
 ('Montez, Mr.  Ricky', 1997, 7803.77),
 ('King, Mr.  Travis', 1974, 7804.16),
 ('Babler, Mr.  Jesse J', 2001, 7844.8),
 ('Krueger, Mr.  Jan-Patrick', 1994, 7851.85),
 ('Wrenn, Ms.  Bean K.', 1977, 7935.29),
 ('Flynn, Ms.  Jackie J', 1995, 8014.62),
 ('Olson, Ms.  Amy C', 1978, 8023.14),
 ('Clark, Ms.  Angie', 2003, 8035.64),
 ("O'Kelly, Mr.  Brian", 1975, 8068.19),
 ('Armitage, Mrs.  Natascia', 1993, 8077.41),
 ('Cochrane, Ms.  Krysta', 2001, 8081.26),
 ('Pigott, Mrs.  Jessica L.', 1994, 8081.74),
 ('Chaisson, Mr.  Stan J', 1975, 8083.92),
 ('M???ler, Mr.  Jan', 1973, 8124.41),
 ('Montagna, Mr.  Dino', 1973, 8125.78),
 ('Tedsen, Mrs.  Elizabeth A', 1997, 8182.89),
 ('Palko, Mr.  Dustin J', 2000, 8271.46),
 ('Randolph, Ms.  Sara A.', 1993, 8314.65),
 ('Lapierre, Mr.  Yannick', 1976, 8342.91),
 ('Roy, Mr.  Daniel G', 1976, 8347.16),
 ('Rao, Mr.  Neil K.', 1972, 8457.82),
 ('Shell, Ms.  Alison', 1992, 8466.35),
 ('Christenson, Mr.  B.j.', 1993, 8471.65),
 ('Jean, Ms.  Annie', 1977, 8527.53),
 ('Wegner, Ms.  Lana J', 1975, 8556.91),
 ('Amato, Ms.  Jennifer D.', 1975, 8569.86),
 ('Godoy, Ms.  Martha Patricia', 1974, 8671.19),
 ('Deng, Mr.  Guomin', 1976, 8733.23),
 ('MacDonald, Ms.  Sarah K.', 1999, 8747.68),
 ('Merkle, Mr.  Israel', 1971, 8798.59),
 ('McGrane, Mr.  Michael', 2001, 8821.88),
 ('Maina, Mr.  Stanley', 1997, 8906.14),
 ('Dannenhauer, Mr.  Rafer', 1976, 8944.12),
 ('Chorney, Mrs.  Yuki', 1992, 8954.99),
 ('Frechette, Mr.  Samuel', 1974, 8978.19),
 ('Patrick, Mrs.  Sarah M', 1993, 9010.2),
 ('Howard, Mr.  John III', 1972, 9048.03),
 ('Soto, Mr.  Juan Carlos', 1972, 9058.73),
 ('Harris, Mr.  Stephen A.', 1970, 9144.57),
 ('Osmark, Mr.  Mathias', 1973, 9304.7),
 ('Bonilla, Mrs.  Veronica', 1996, 9338.61),
 ('Lafrance, Mr.  Sylvain', 1971, 9386.16),
 ('Rusterholz, Mr.  Tim', 1971, 9391.35),
 ('Steele-Belkin, Ms.  Dara', 1976, 9432.93),
 ('Jackson, Mr.  Jacob', 1969, 9504.31),
 ('Zaferos, Ms.  Audrey', 1992, 9507.68),
 ('Currier, Ms.  Mary-Lynn B.', 1972, 9541.7),
 ('Jenkins, Ms.  Kristin M', 1972, 9549.57),
 ('Chen, Mrs.  Sophia', 1998, 9628.79),
 ('Roecker, Ms.  Samantha', 1970, 9634.54),
 ('Miller, Ms.  Liisa A.', 1977, 9704.67),
 ('Segall, Mr.  Cary', 1970, 9748.91),
 ('Mossler, Ms.  Emily E', 2001, 9753.49),
 ('Diviney, Mr.  Ciaran', 1996, 9787.32),
 ('Guinn, Ms.  Julee', 1973, 9800.89),
 ('Fairbrother, Mr.  Tom L.', 1992, 9844.45),
 ('Proulx, Mr.  Ryan', 1998, 9870.59),
 ('Choi, Ms.  Elizabeth S.', 1971, 9875.68),
 ('Custance, Ms.  Lucie J.', 1971, 9877.61),
 ('Maltby, Ms.  Sara', 1971, 9880.07),
 ('Zoeller, Ms.  Lara', 1996, 9894.69),
 ('Michell, Mr.  Robert G.', 1969, 10085.85),
 ('Schaaf, Ms.  Gisele', 1997, 10139.84),
 ('Paul, Mr.  Charlie', 1967, 10226.28),
 ('Brown, Mr.  Scott A.', 1988, 10276.99),
 ('Henstrom, Ms.  Stephanie D', 1991, 10315.91),
 ('Betancourth, Mrs.  Maria', 1991, 10322.9),
 ('Kidwell, Mr.  Matthew', 1970, 10325.21),
 ('Frownfelter, Ms.  Milah B', 1973, 10381.48),
 ('Bailey, Mr.  Chris', 1968, 10450.55),
 ('Balcom, Ms.  Jennifer D', 1987, 10464.83),
 ('Vallejo Sarmiento, Ms.  Yazmin', 1969, 10579.71),
 ('Dockemeyer, Mr.  Kevin J', 1966, 10601.41),
 ('Tegenkamp, Mr.  Matt', 1966, 10602.39),
 ('Donnelly, Mrs.  Brenn E.', 1992, 10617.04),
 ('Clason, Ms.  Gillian', 1990, 10620.26),
 ('Kretz, Ms.  Jamie L.', 1967, 10713.64),
 ('Perry, Mr.  Tim', 1992, 10719.57),
 ('Toews, Mr.  Wesley', 1974, 10736.87),
 ('Kirouac, Mrs.  Kathya', 1986, 10749.02),
 ('Ptucha, Mr.  Stephen J.', 1989, 10769.75),
 ('Mooney, Ms.  Tara', 1971, 10848.13),
 ('Hickory, Ms.  Mckendree', 1994, 10886.66),
 ('Dawes, Ms.  Bridget K.', 1969, 10959.69),
 ('Astrike-Davis, Ms.  Emma M', 1973, 10977.21),
 ('Vinson, Mr.  Tim', 1965, 10982.5),
 ('McVay, Mr.  David', 2000, 10991.58),
 ('Leguizamo, Ms.  Claudia L.', 1991, 11018.05),
 ('Kallay, Mr.  Ian M.', 1996, 11028.56),
 ('Howard, Ms.  Liza J.', 1974, 11033.66),
 ('Gabris, Mr.  Stephen', 1989, 11037.51),
 ('Reyes, Mrs.  Joanna G.', 2001, 11046.02),
 ('Hobson, Ms.  Valery L', 2000, 11068.7),
 ('Kebede, Ms.  Aberu', 1966, 11090.72),
 ('Craft, Ms.  Amy', 1966, 11093.62),
 ('Basham, Ms.  Amanda N.', 1969, 11163.57),
 ('Schaefer, Mrs.  Stephanie A', 1989, 11250.43),
 ('Deady, Mrs.  Lauren', 1981, 11255.29),
 ('Garcia, Mr.  Jose A.', 1969, 11264.54),
 ('Mitchell, Mr.  Tristan D.', 1988, 11294.57),
 ('Chiappone, Mrs.  Suzanne', 1995, 11318.57),
 ('Webster, Ms.  Deanne', 2002, 11321.49),
 ('McCue, Mr.  Daniel T.', 1989, 11326.71),
 ('Robertson, Mr.  Chris', 1964, 11362.76),
 ('Deeg, Mr.  Thomas J', 1964, 11363.28),
 ('Fraser, Mr.  Kyle', 1964, 11365.95),
 ('Varner, Mr.  Alexander', 1964, 11381.33),
 ('Hughes, Mrs.  Bettina', 1997, 11388.27),
 ('McCurdy, Mr.  Matthew', 1967, 11394.07),
 ('Higgins, Ms.  Danielle N', 1970, 11396.9),
 ('Truex, Ms.  Melissa', 1970, 11411.69),
 ('Ginsburg, Mr.  Brandon F', 1983, 11412.02),
 ('Eidinger, Ms.  Jessica L', 1985, 11419.49),
 ('Pizarro, Ms.  Rachelle M', 1971, 11436.74),
 ('Jacobson, Mrs.  Sarah E.', 1983, 11492.46),
 ('Webb, Mrs.  Jane R.', 1989, 11511.61),
 ('Finecey, Mrs.  Meghan E', 1988, 11524.25),
 ('Endara, Ms.  Carrie A.', 1968, 11538.42),
 ('Petersson, Mr.  Erik', 1965, 11566.3),
 ('Alvarez, Mr.  Eric', 1965, 11576.13),
 ('Loftus, Mr.  John', 1986, 11625.11),
 ('Murphy, Mr.  Nicholas T', 1994, 11657.81),
 ('Rainey, Ms.  Chandler', 1966, 11674.13),
 ('Scoville, Mr.  Morgan B.', 1982, 11712.97),
 ('Savage, Mrs.  Ulrike', 1984, 11730.82),
 ('Goldsmith, Mrs.  Lisa M', 1982, 11773.06),
 ('Frey, Ms.  Laura A', 1964, 11856.41),
 ('Chang, Ms.  Chia J.', 1974, 11858.56),
 ('Chorney, Mr.  Christopher', 1991, 11941.83),
 ('Seigel, Mrs.  Leah L.', 1983, 11987.68),
 ('Prowse, Ms.  Wendy', 1993, 11994.89),
 ('Lesniak, Mr.  Joseph W', 1982, 12001.29),
 ('Doran, Mr.  Patrick J.', 1979, 12035.18),
 ('White, Mrs.  Alyssa', 1986, 12048.13),
 ('Walsh, Mr.  Robert', 1984, 12091.34),
 ('Glass, Mrs.  Rhonda', 1991, 12130.8),
 ('Mendoza, Mr.  Francisco J. Sr.', 1974, 12137.6),
 ('Hansen, Mr.  Joshua E.', 1987, 12148.2),
 ('Ashworth, Mrs.  Kimberly M.', 1991, 12198.64),
 ('Feehley, Ms.  Taylor J', 1977, 12218.7),
 ('Chung, Ms.  Joan', 1964, 12235.84),
 ('Triedman, Ms.  Nellie A.', 1963, 12244.53),
 ('Imbalzano Zegar, Ms.  Renee', 1974, 12245.17),
 ('Hoskins, Mrs.  Amanda L', 1989, 12254.44),
 ('Phillippi, Mrs.  Victoria', 1986, 12255.04),
 ('Musa, Ms.  Skylar', 1966, 12265.51),
 ('Fatehali, Ms.  Shaista S', 1990, 12282.38),
 ('Bowman, Mr.  Mark', 1963, 12347.17),
 ('Sellers, Mr.  Chad', 1966, 12363.55),
 ('Monteleone, Mr.  Steven M.', 1989, 12404.88),
 ('Jacobs, Mr.  Jason L.', 1979, 12408.29),
 ('Locatelli, Mr.  Alex', 1995, 12452.25),
 ('Connolly, Ms.  Katherine', 1967, 12485.8),
 ('McFadden, Ms.  Kelly M.', 1968, 12495.29),
 ('Ricardi, Mr.  Joshua', 1961, 12574.05),
 ('Swann, Ms.  Andee W.', 1970, 12592.53),
 ('Duhaime, Mr.  Spencer', 1988, 12600.46),
 ('Ruhlman, Ms.  Katie J', 1972, 12640.24),
 ('Antrim, Ms.  Amelia F.', 1962, 12644.59),
 ('Bill, Ms.  Laura F', 1965, 12646.21),
 ('Pittaway, Ms.  Elizabeth', 1962, 12648.7),
 ('Cale, Mr.  Eric D', 1974, 12697.48),
 ('Marshall, Ms.  Wendy', 1992, 12699.56),
 ('Vitalo, Ms.  Antonia G', 1970, 12713.0),
 ('Bellemare, Mrs.  Karine', 1988, 12718.21),
 ('Swartz, Mr.  Ryan K.', 1962, 12741.17),
 ('Anis, Mr.  Michael', 1975, 12770.27),
 ('Ryan, Mrs.  Maggie M', 1983, 12788.18),
 ('Proctor, Ms.  Kelli', 1978, 12797.21),
 ('Humphrey, Mr.  Robert', 1993, 12847.24),
 ('Stevenson, Mr.  Thomas K.', 1973, 12852.37),
 ('Windler, Ms.  Mary', 1984, 12870.31),
 ('Nice, Mr.  Andy', 2004, 12890.06),
 ('Levy, Mr.  Wayne A.', 1961, 12950.07),
 ('Edwards, Mr.  Tom', 1960, 12979.36),
 ('Fernandez, Mr.  Doug', 1960, 12981.35),
 ('Wiltse, Mr.  Matthew W.', 1960, 12982.87),
 ('Engnes, Mrs.  Amy M', 1979, 12994.12),
 ('Revenis, Mr.  Bradley D', 1981, 13002.91),
 ('Hebert, Mr.  Karl', 1972, 13010.86),
 ('Thind, Mrs.  Kulwinder', 1985, 13051.22),
 ('Porfirio, Ms.  Deedra G.', 1961, 13063.88),
 ('Berry, Mrs.  Colleen M', 1978, 13101.74),
 ('Dicharry, Ms.  Sarah', 1971, 13110.79),
 ('Monaghan, Mrs.  Sheila', 1992, 13113.51),
 ('Broderick, Ms.  Una M', 1982, 13214.43),
 ('Flanagan, Ms.  Shalane', 1962, 13228.85),
 ('Lalanne, Mr.  Justin E', 1994, 13292.52),
 ('Schubert, Ms.  Emily', 1976, 13333.71),
 ('Taylor, Ms.  Tennille', 1990, 13360.94),
 ('Tillman, Mrs.  Amy L.', 1979, 13377.41),
 ('Wallace, Mr.  Jeremy J', 1984, 13383.67),
 ('French, Mr.  Michael', 1959, 13405.39),
 ('Hammersmith, Mr.  Matthew D', 1992, 13412.97),
 ('McDonough, Ms.  Stacey', 1994, 13417.05),
 ('Greenwell, Ms.  Ashley M.', 1975, 13440.7),
 ('Cavatorta, Mr.  Jason', 1985, 13465.8),
 ('Reichmann, Ms.  Lisa', 1960, 13470.8),
 ('Barber, Ms.  Rosemary E.', 1960, 13470.86),
 ('Schmole, Mr.  Filip', 1975, 13472.19),
 ('McCann, Mr.  Greg', 1990, 13480.83),
 ('Prescott, Ms.  Margie', 1992, 13588.17),
 ('Horton, Mr.  Kevin', 1969, 13622.01),
 ('Parker, Ms.  Megan', 1961, 13635.64),
 ('Kosla, Mr.  Daniel', 1984, 13638.06),
 ('Silbert, Mrs.  Jessie M.', 1985, 13685.51),
 ('Sittlington, Mr.  Mark H.', 1986, 13714.55),
 ('Hribar, Mrs.  Kathryn E', 1985, 13726.21),
 ('Farkash, Mrs.  Lauren', 1969, 13746.74),
 ('Richey, Mr.  Cary J', 1986, 13819.49),
 ('Aitken, Mr.  Kyle', 1958, 13831.12),
 ('Johnson, Ms.  Tracy', 1978, 13874.89),
 ('Liebald, Mr.  Benjamin', 1985, 13886.4),
 ('Vandongen, Ms.  Jennifer L', 1959, 13887.2),
 ('Stanley Torres, Ms.  Dana', 1959, 13887.97),
 ('Driscoll, Mr.  James', 1990, 13979.45),
 ('Appman, Mr.  William D. Jr.', 1959, 13981.85),
 ('Fouquet, Mr.  Maxime', 1991, 14081.93),
 ('Ramirez, Mr.  Josh', 1976, 14098.07),
 ('Bourgeois, Ms.  A Danielle', 2004, 14133.04),
 ('Nalven, Ms.  Amy B', 1984, 14152.46),
 ('Smith, Mrs.  Shannon L', 1968, 14193.55),
 ('Lin, Mrs.  Ashley', 1983, 14209.4),
 ('Boyce, Mr.  Albert', 1958, 14210.54),
 ('Barry, Ms.  Kristin P.', 1961, 14235.07),
 ('Dupere, Mrs.  Sally', 1974, 14256.79),
 ('Young, Mrs.  Katie', 1972, 14258.33),
 ('Mehech, Mr.  Bruno F.', 1968, 14285.9),
 ('Delong, Ms.  Candace N', 1958, 14313.85),
 ('Wagner, Ms.  Danielle', 1958, 14319.03),
 ('Olausson, Mr.  Anders', 1969, 14337.91),
 ('Holland-Stergar, Mrs.  Brianne', 1967, 14355.43),
 ('Power, Mr.  Rich M', 1958, 14410.93),
 ('Looi, Mr.  Alexander', 1958, 14418.28),
 ('McCollum, Mrs.  Rebecca B.', 1967, 14426.66),
 ('Corona Iturriaga, Mr.  Roberto', 1967, 14427.63),
 ('Mason Cox, Ms.  Cheryl', 1976, 14470.01),
 ('Parry, Ms.  Karine', 1959, 14474.68),
 ('Toupin, Mr.  Marc-Olivier', 1989, 14507.46),
 ('Canarecci, Ms.  Kimberly D', 1989, 14547.26),
 ('Battaglino, Mr.  Peter', 1967, 14600.62),
 ('Lund, Mr.  Mario J.', 1965, 14612.33),
 ('Muhly, Ms.  Margaret E', 1991, 14630.52),
 ('Tsoucas, Mrs.  Daphne', 1967, 14640.35),
 ('Rodriguez, Ms.  Jocelyn', 1981, 14657.2),
 ('Fitzmaurice, Ms.  Meredith L.', 1969, 14665.75),
 ('Ainsworth, Ms.  Reina H.', 1982, 14696.77),
 ('Nicholson, Mrs.  Jennifer', 1965, 14750.42),
 ('Davenport, Mr.  Ryan J.', 1975, 14819.0),
 ('Funk, Mrs.  Molly K.', 1979, 14839.34),
 ('Flanagan, Mrs.  Erin M.', 1981, 14843.96),
 ('Tatton, Mr.  Christopher P', 1970, 14847.63),
 ('Heitzman, Ms.  Ariel E', 1958, 14901.52),
 ('Koniuch, Ms.  Katherine L.', 1981, 14908.27),
 ('Grosscup, Mr.  Neil D', 1968, 14926.97),
 ('Ackerman, Ms.  Rachel E', 1979, 15025.76),
 ('Haley, Ms.  Meta', 1970, 15026.3),
 ('Millett, Mr.  Matthew A.', 1971, 15038.51),
 ('Willenberg, Mr.  Lukasz', 1968, 15052.68),
 ('Aliff, Mr.  Thomas', 1975, 15090.35),
 ('Tseronis, Mr.  Tasos', 1972, 15103.69),
 ('Pennings, Ms.  Victoria', 1978, 15123.19),
 ('Harmon, Mr.  David', 1971, 15150.44),
 ('Giles, Ms.  Della', 1962, 15161.25),
 ('Lanza, Mr.  Kevin L', 1959, 15170.07),
 ('Ertel, Ms.  Monica K', 1962, 15174.81),
 ('Petersen, Ms.  Jessica A.', 1978, 15207.92),
 ('Ehrhardt, Ms.  Elizabeth M.', 1960, 15230.32),
 ('Cote, Mr.  Benoit', 1969, 15260.52),
 ('Myers, Mr.  Scott', 1963, 15322.77),
 ('Otsuka, Mr.  Takuo', 1988, 15361.5),
 ('Osborne, Mrs.  Sandra H', 1968, 15363.77),
 ('Erwin, Ms.  Bethany N.', 1962, 15368.22),
 ('McLucas, Mr.  Doug', 1964, 15377.77),
 ('Markert, Ms.  Stephanie', 1990, 15440.2),
 ('Stoney, Mrs.  Hilda', 1976, 15450.48),
 ('Lovlien, Mrs.  Maya', 1974, 15532.16),
 ('Mutai, Mr.  Christopher', 1959, 15555.19),
 ('Drotz, Mr.  Erik', 1974, 15556.67),
 ('Stewart, Mrs.  Samantha A.', 1965, 15608.58),
 ('Cale, Mr.  Scott M', 1988, 15646.28),
 ('Lawson, Mrs.  Meghann R.', 1973, 15670.3),
 ('Rivel, Mr.  Mario Sr.', 1976, 15698.86),
 ('Garges, Mr.  Christopher J', 1974, 15746.62),
 ('Clay, Mr.  Brad', 1962, 15840.81),
 ('Drnjevich, Mrs.  Kristina K', 1980, 15922.29),
 ('Mills, Ms.  Jessica L', 1982, 15965.29),
 ('Haglund, Ms.  Brittany L.', 1980, 15966.19),
 ('Leedham, Ms.  Amy', 1988, 16059.06),
 ('Walker, Mrs.  Sarah', 1978, 16062.89),
 ('Nadar, Ms.  Devin C.', 1958, 16085.13),
 ('Widlowski, Mr.  Daniel G.', 1985, 16097.94),
 ('Pesyna, Ms.  Megan A.', 1987, 16122.65),
 ('Carman, Mrs.  Aubri', 1982, 16152.04),
 ('Dewine, Mr.  Mark W.', 1974, 16190.97),
 ('Coronado, Mr.  Hector', 1988, 16199.1),
 ('Grillo, Mr.  Gianfilippo', 1988, 16205.88),
 ('Alleman, Mr.  Greg D.', 1972, 16267.32),
 ('Erlandson, Mrs.  Megan C', 1969, 16311.05),
 ('Scott, Mrs.  Heather', 1965, 16351.42),
 ('Wathke, Mr.  Brent', 1963, 16587.96),
 ('Colby, Ms.  Greer D', 1970, 16600.16),
 ('Laleman, Mrs.  Kelly J', 1975, 16602.18),
 ('Petry, Ms.  Kati A', 1977, 16631.61),
 ('Reilly, Mr.  Jason', 1974, 16770.99),
 ('Cochran, Mrs.  Lacey', 1962, 16779.4),
 ('Fetzer, Ms.  Alexis N', 1974, 16841.32),
 ('Mason, Ms.  Alison B', 1968, 16903.5),
 ('Mertz, Mr.  Christopher', 1977, 16921.09),
 ('Bambauer, Ms.  Benjamina C', 1980, 16990.55),
 ('McCartney, Mr.  Phil', 1971, 17016.01),
 ('Aziz, Mrs.  Meredith', 1965, 17172.27),

**Task 5: Customers with Major Surgeries**

This project focuses on listing customer IDs and names of individuals from the names table who have undergone major surgeries, as recorded in the medical_examinations table. By identifying such patients, we can gain insights into the population with a history of major surgical procedures, which can inform healthcare planning, risk assessment, and medical follow-up.

In [24]:
%%sql
SELECT n.customer_id, n.name
FROM names AS n
JOIN medical_examinations AS m ON n.customer_id = m.customer_id
WHERE m.numberofmajorsurgeries >= 1;

 * postgresql://postgres:***@localhost:5432/Medical
1261 rows affected.

[('Id3', 'Lu, Mr.  Phil'),
 ('Id8', 'Hallman, Mr.  Stephen'),
 ('Id9', 'Moran, Mr.  Patrick R.'),
 ('Id11', 'Fierro Vargas, Ms.  Paola Andrea'),
 ('Id15', 'Rios, Ms.  Leilani M.'),
 ('Id17', 'Cronin, Ms.  Jennifer A.'),
 ('Id18', 'Noordstar, Ms.  Christina M.'),
 ('Id19', 'Boudalia, Mr.  Said Sr.'),
 ('Id21', 'Fennon, Mr.  Myles'),
 ('Id22', 'Hribar, Ms.  Madelyn C'),
 ('Id23', 'Tassello, Ms.  Nicole'),
 ('Id24', 'Mauricette, Mr.  Eric A.'),
 ('Id25', 'Garcia, Mr.  Emiliano I.'),
 ('Id26', 'Airoldi, Mr.  Adam'),
 ('Id28', 'Hamm, Ms.  Stephanie W.'),
 ('Id29', 'Cox, Mr.  Stephen'),
 ('Id35', 'Bruestle, Ms.  Sydney L.'),
 ('Id40', 'Fisher, Mr.  Robert'),
 ('Id41', 'Jenkins, Mr.  James R.'),
 ('Id45', 'Januszewski, Mr.  Eric W'),
 ('Id46', 'Rohne, Ms.  Brianna L'),
 ('Id47', "O'Grady, Mr.  Thomas J."),
 ('Id49', 'De Simone, Mr.  Flavio'),
 ('Id50', 'Beckett, Mr.  Ryan'),
 ('Id51', 'Sobrilsky, Mr.  Anthony J.'),
 ('Id53', 'Campa, Mr.  David'),
 ('Id56', 'Vishik, Ms.  Inna'),
 ('Id57', 'Schorr, Mr.  Ari'),
 ('Id61', 'Rieth, Mr.  Cameron'),
 ('Id65', 'Smith, Mr.  Bryson C.'),
 ('Id66', 'Hyland, Ms.  Megan'),
 ('Id67', 'Ducharme, Mr.  Daniel'),
 ('Id68', 'Johnson, Mr.  Steven M.'),
 ('Id71', 'Turner, Mr.  Jeff'),
 ('Id72', 'Rangel, Mr.  Elenilton V. Sr.'),
 ('Id73', 'Lacey, Ms.  Maurya'),
 ('Id75', 'Caldwell, Ms.  Bethany A'),
 ('Id76', 'Marmillod, Mr.  Yves'),
 ('Id81', 'Meyer, Ms.  Gwen M.'),
 ('Id83', 'Magee, Ms.  Kate'),
 ('Id84', 'Thoma, Mr.  Kevin'),
 ('Id85', 'Heagy, Mr.  Stephen II'),
 ('Id86', 'Regnier, Mr.  Philip'),
 ('Id87', 'Parendo, Mr.  Brett A'),
 ('Id89', 'Driscoll, Ms.  Kelley'),
 ('Id90', 'Mitchell, Ms.  Abigail K'),
 ('Id91', 'Cutler, Ms.  Hope'),
 ('Id93', 'Farina, Mr.  Nicholas'),
 ('Id95', 'Kratz, Ms.  Natalie'),
 ('Id96', 'Boland, Mr.  Thomas'),
 ('Id98', 'Ramsey, Ms.  Jessica'),
 ('Id103', 'Burns, Mr.  Robert M.'),
 ('Id105', 'Yitref, Mr.  Gedion'),
 ('Id106', 'Loudon-Brown, Mr.  Mark'),
 ('Id109', 'Potter, Ms.  Amanda'),
 ('Id110', 'Rasmussen, Mr.  Nicholas'),
 ('Id112', 'Antonopoulos, Ms.  Yianna'),
 ('Id114', 'Zywicki, Mr.  Benjamin P.'),
 ('Id115', 'Cardinal, Mr.  Craig'),
 ('Id117', 'Stroffolino, Mr.  Jamie P'),
 ('Id120', 'Keflezighi, Mr.  Meb'),
 ('Id123', 'Defranco, Ms.  Meredith'),
 ('Id126', 'Bejar, Mr.  Matthew P'),
 ('Id133', 'Taormina, Mr.  Nick'),
 ('Id135', 'Tavella, Ms.  Becky L'),
 ('Id136', 'Neufeld, Ms.  Steph K.'),
 ('Id137', 'Walhovd, Ms.  Kristine B.'),
 ('Id141', 'Atkins, Mr.  Cole'),
 ('Id144', 'Anderson, Mr.  Matthew S.'),
 ('Id146', 'Curtis, Ms.  Valeria R'),
 ('Id151', 'Yesian, Ms.  Bonnie'),
 ('Id153', 'Conlon, Mr.  Paul'),
 ('Id154', 'Arnstein, Mr.  Michael'),
 ('Id155', 'Jurek, Mr.  Samuel'),
 ('Id156', 'Thill, Mr.  Matthew'),
 ('Id157', 'Glaz, Mr.  Daniel'),
 ('Id159', 'Duliba, Ms.  Aleksandra'),
 ('Id160', 'Tanguay, Mr.  Steeve T Sr.'),
 ('Id163', 'Nishimura, Mr.  Akira'),
 ('Id165', 'Trenk, Ms.  Jana'),
 ('Id166', 'Wittmann, Mr.  Jay T.'),
 ('Id167', 'Tremblay, Ms.  Marie-Helene'),
 ('Id170', 'Torphy, Mr.  Bobby'),
 ('Id171', 'Busby, Ms.  Natalie'),
 ('Id173', 'Hanley, Mr.  Zebulon'),
 ('Id175', 'Rankin, Mr.  Greg'),
 ('Id176', 'Ricardi, Mr.  John'),
 ('Id180', 'King, Ms.  Jennifer L'),
 ('Id181', 'Samuelson, Ms.  Abby W.'),
 ('Id182', 'Fredsall, Mr.  Tyler'),
 ('Id183', 'Eggleston, Mr.  Jeffrey'),
 ('Id185', 'Silva, Mr.  Ryan J.'),
 ('Id186', 'Bugala, Ms.  Amy'),
 ('Id187', 'Dublin, Mr.  Andrew P'),
 ('Id188', 'Cleland, Mr.  George M. V'),
 ('Id190', 'Boyd, Ms.  Lara'),
 ('Id191', 'Roulier, Mr.  Sebastien'),
 ('Id193', 'Hofmann, Ms.  Heather'),
 ('Id194', 'Garcia Garcia, Mr.  Jorge'),
 ('Id195', 'Klecker, Mr.  Jack R'),
 ('Id196', 'Cancre, Mr.  Felix'),
 ('Id199', 'Weinberg, Ms.  Jill'),
 ('Id200', 'Walsh, Mr.  William'),
 ('Id201', 'Pasten, Mr.  Alejandro'),
 ('Id203', 'Guzman, Mr.  Hector Sr.'),
 ('Id206', 'Woodward, Ms.  Elizabeth H'),
 ('Id210', 'Looney, Ms.  Kate L'),
 ('Id211', 'Zyryanov, Mr.  Sergey'),
 ('Id213', 'Littlefield, Mr.  Andrew S'),
 ('Id214', 'Shearer, Mr.  Matthew D'),
 ('Id215', 'Armstrong, Ms.  Jessica'),
 ('Id216', 'Warriner, Mr.  Lawrence'),
 ('Id217', 'White, Mr.  Alex'),
 ('Id219', 'Hamilton, Mr.  Gavin M.'),
 ('Id220', 'Meyer, Mr.  Rick E'),
 ('Id222', 'Malatesta, Mr.  Anthony S'),
 ('Id224', 'Lucan, Ms.  Kiley D'),
 ('Id226', 'Smith, Mr.  Chris'),
 ('Id227', "O'Connor, Ms.  Marian M."),
 ('Id229', 'Federoff, Ms.  Allison H'),
 ('Id230', 'Goya, Ms.  Elizabeth'),
 ('Id231', 'Hodges, Mr.  Andrew'),
 ('Id232', 'Erickson, Mr.  Anders J'),
 ('Id233', 'Welleck, Mr.  Sean'),
 ('Id235', 'Lynch, Mr.  Jeremy'),
 ('Id237', 'Doak, Mr.  Randy'),
 ('Id239', 'Heninger, Ms.  Brittany L.'),
 ('Id240', 'Richardson, Ms.  Cassie J.'),
 ('Id241', 'Deucher, Mr.  Peter W'),
 ('Id242', 'Wilson, Mr.  Douglas'),
 ('Id243', 'Hall, Mr.  Dan'),
 ('Id244', 'Reed, Mr.  Dan M.'),
 ('Id246', 'Creasy, Mr.  Les J'),
 ('Id250', 'Velardo, Ms.  Stephanie M.'),
 ('Id252', 'Escorcia, Ms.  Kelly'),
 ('Id253', 'Larscheid, Ms.  Carrie'),
 ('Id254', "O'Bannon, Mr.  Alex"),
 ('Id256', 'Black, Mr.  Alan'),
 ('Id257', 'Canton, Mr.  Nate'),
 ('Id258', 'Fine, Mr.  Jesse G.'),
 ('Id259', 'Bui, Mr.  Jason'),
 ('Id260', 'Riepma, Ms.  Megan A.'),
 ('Id262', 'Kruzel, Ms.  Jacy D'),
 ('Id264', 'Land, Ms.  Ainsley E.'),
 ('Id265', 'Brecher, Ms.  Erica A.'),
 ('Id268', 'Boyd, Ms.  Adrienne'),
 ('Id272', 'Maddison, Mr.  Stephen'),
 ('Id275', 'Jackson, Mr.  Shawn P.'),
 ('Id277', 'Guthals, Mr.  Nathaniel'),
 ('Id283', 'Walker, Mr.  Xaviour J.'),
 ('Id287', 'Jurgens, Ms.  Nancy M'),
 ('Id288', 'Hackman, Mr.  Matt'),
 ('Id289', 'Klarich, Mr.  Lee'),
 ('Id291', 'Fagerstrom, Mr.  Erik T.'),
 ('Id293', 'Hess, Mr.  Joey'),
 ('Id294', 'Shaw, Ms.  Hillary L.'),
 ('Id295', 'Williams, Mr.  Eric J'),
 ('Id296', 'Menzies, Mr.  Nicolas'),
 ('Id299', 'Arsenault, Mr.  Evan D'),
 ('Id301', 'Hall, Mr.  Kyle'),
 ('Id303', 'Rindahl, Mr.  Martin A.'),
 ('Id304', 'Clark, Ms.  Stacey'),
 ('Id305', 'Irish, Ms.  Christine'),
 ('Id306', 'Richardson, Ms.  Sarah C.'),
 ('Id307', 'Dewitt, Ms.  Megan'),
 ('Id309', 'Gonzalez, Ms.  Michele'),
 ('Id310', 'Difani, Ms.  Nikki'),
 ('Id311', 'Turner, Mr.  Philip J.'),
 ('Id312', 'Widmann, Mr.  Bryan L'),
 ('Id314', 'San Juan, Ms.  Angielyn M'),
 ('Id315', 'Croll, Ms.  Jeanie M.'),
 ('Id316', 'Rolfes, Mr.  Greg'),
 ('Id318', 'Leuchanka, Mr.  Aliaksandr'),
 ('Id319', 'Ayr, Mr.  Jason M.'),
 ('Id321', 'Penrose, Ms.  Janice'),
 ('Id326', 'Potere, Mr.  Erik F.'),
 ('Id327', 'Podgurski, Mr.  Andrew'),
 ('Id331', 'Chatfield, Mr.  Caleb N'),
 ('Id332', 'Bruns, Mr.  Jason M.'),
 ('Id333', 'Yochum, Ms.  Angela R'),
 ('Id334', 'Freeburn, Mr.  Keith J'),
 ('Id335', 'Spencer, Ms.  Emma'),
 ('Id336', 'Jarosik, Mr.  Nathan A'),
 ('Id338', 'Kelley, Ms.  Elizabeth H.'),
 ('Id340', 'Jeseritz, Ms.  Cheryl A'),
 ('Id342', 'Hill, Ms.  Cynthia'),
 ('Id345', 'Pitt, Ms.  Allison'),
 ('Id346', 'Lorton, Mr.  Alex'),
 ('Id347', 'Castaneda, Ms.  Gabriela'),
 ('Id349', 'Howell, Mr.  Jason A'),
 ('Id356', 'Daniels, Ms.  Marie'),
 ('Id361', 'Arcand, Mr.  Pierre-Michel'),
 ('Id367', 'Susmann, Mr.  Austin W'),
 ('Id368', 'Harsh, Ms.  Berenice'),
 ('Id369', 'Pocasangre, Mr.  Kenneth A'),
 ('Id370', 'Martinez Lopez, Mr.  Miguel'),
 ('Id372', 'Monson, Mr.  Taylor'),
 ('Id376', 'Ornelas, Mr.  Zachary'),
 ('Id377', 'Fitzpatrick, Mr.  Michael'),
 ('Id381', 'Earle, Ms.  Sara E.'),
 ('Id384', 'Graham, Ms.  Danielle'),
 ('Id386', 'Wegener, Mr.  Joel D'),
 ('Id388', 'Murphy, Mr.  Michael J.'),
 ('Id390', 'Cook, Ms.  Summer B.'),
 ('Id391', 'Breen, Mr.  Edward'),
 ('Id392', 'Fitzsimons, Mr.  Ryan'),
 ('Id394', 'Woodward, Mr.  Dave'),
 ('Id395', 'Ray, Ms.  Maryanna'),
 ('Id396', 'Jennings, Ms.  Jessica H.'),
 ('Id398', 'Lovisek, Mr.  Peter'),
 ('Id399', 'Painter, Ms.  Rebecca'),
 ('Id401', 'Liebl, Mr.  Gregory'),
 ('Id402', 'Kasabian-Larson, Ms.  Sarah E.'),
 ('Id403', 'Creamer, Ms.  Anne Elise'),
 ('Id407', 'Nunlist, Mr.  Corey'),
 ('Id408', 'Cutter, Mr.  Patrick D.'),
 ('Id409', 'Martin, Mr.  Anthony D.'),
 ('Id410', 'Cooney, Ms.  Melissa'),
 ('Id411', 'Bier, Ms.  Raven'),
 ('Id412', 'Muskopf, Mr.  Christopher'),
 ('Id413', 'Sirak, Ms.  Kendra A'),
 ('Id414', 'Nelsen, Ms.  Jordan'),
 ('Id415', 'Schallner, Mr.  Nils'),
 ('Id416', 'Dunlap, Mr.  Scott'),
 ('Id418', 'Bondell, Ms.  Allison'),
 ('Id420', 'Gruman, Ms.  Tracy M'),
 ('Id422', 'Robinson, Ms.  Jenny'),
 ('Id423', 'Sabo, Ms.  Emily'),
 ('Id424', 'Nazarian, Ms.  Fabienne'),
 ('Id426', 'Dahl, Mr.  Matt'),
 ('Id428', 'Spetner, Ms.  Temima'),
 ('Id429', 'Brandon, Ms.  Jennifer'),
 ('Id431', 'Sedicum, Ms.  Victoria M.'),
 ('Id432', 'Markle, Ms.  Phoebe'),
 ('Id434', 'Wimert, Ms.  Rebecca'),
 ('Id435', 'Peterson, Mr.  Nicholas D'),
 ('Id437', 'Laurie, Mr.  Jonathon S.'),
 ('Id438', 'Sekaquaptewa, Ms.  Caroline'),
 ('Id439', 'Frash, Mr.  Joshua D.'),
 ('Id441', 'Sandahl, Ms.  Denise M'),
 ('Id442', 'Speight, Mr.  Peter R.'),
 ('Id443', 'Lee, Mr.  Johnson K'),
 ('Id444', 'Nielsen, Ms.  Katherine'),
 ('Id445', 'Zirdok, Ms.  Lynda'),
 ('Id446', 'Crudale, Mr.  Anthony'),
 ('Id447', 'Koopmans, Ms.  Linnea C.'),
 ('Id448', 'Milani, Mr.  Massimiliano A.'),
 ('Id449', 'Kelly, Mr.  James M.'),
 ('Id457', 'Muir, Mr.  Lee'),
 ('Id458', 'Yang, Mr.  Shizhong'),
 ('Id459', 'Gravel, Ms.  Marie-Claire'),
 ('Id460', 'Smith, Mr.  Todd J.'),
 ('Id461', 'Williams, Ms.  Carolyn'),
 ('Id462', 'Meyer, Ms.  Lindsey'),
 ('Id465', 'Sansonetti, Ms.  Danielle'),
 ('Id469', 'Canitz, Ms.  Corina'),
 ('Id473', 'Frome, Mr.  Gavin V.'),
 ('Id475', 'Narang, Mr.  Jatin'),
 ('Id476', 'Royston, Mr.  J P. II'),
 ('Id477', 'Tieri, Ms.  Angela M.'),
 ('Id479', 'Wandzilak, Mr.  Brian T.'),
 ('Id480', 'Valenzona, Mr.  Damon'),
 ('Id483', 'Alexson, Ms.  Margaret B.'),
 ('Id484', 'Wright, Ms.  Helen'),
 ('Id489', 'Catoggio, Mr.  Timothy'),
 ('Id490', 'Adams, Mr.  Scott'),
 ('Id491', 'Windt, Ms.  Carly E'),
 ('Id494', 'Raffetto, Mr.  Louis'),
 ('Id495', 'Young, Mr.  Brian R.'),
 ('Id496', 'Oehlke, Mrs.  Jessica'),
 ('Id498', 'Van Es, Mr.  Chris'),
 ('Id499', 'Dolge, Ms.  Karen'),
 ('Id500', 'Marlier, Ms.  Jessica'),
 ('Id504', 'Koester, Ms.  Freya R'),
 ('Id506', 'Rubinich, Ms.  Kara'),
 ('Id508', 'Corcoran, Mr.  Brendan'),
 ('Id510', 'Watson, Mr.  Sean K'),
 ('Id511', 'Esponda, Mr.  Rick'),
 ('Id513', 'Poskin, Mr.  Brady'),
 ('Id517', 'Hicks, Ms.  Amanda'),
 ('Id518', 'Lockyer, Ms.  Karen'),
 ('Id520', 'Norris, Ms.  Sabine'),
 ('Id521', 'Darda, Mr.  Joseph'),
 ('Id522', 'Otstot, Mr.  Adam'),
 ('Id523', 'Bowley, Ms.  Karolyn A'),
 ('Id524', 'Rogers, Mrs.  Anita L.'),
 ('Id525', 'Mclaughlin, Ms.  Laura E.'),
 ('Id526', 'Ziegler, Ms.  Sarah'),
 ('Id527', 'Hughey, Mrs.  Ashley E'),
 ('Id528', 'Knast, Ms.  Lindsey'),
 ('Id530', 'Jensen, Mr.  Dan R.'),
 ('Id531', 'Mutter, Ms.  Katie'),
 ('Id532', 'Ahern, Mr.  Eric'),
 ('Id533', 'Chviruk, Ms.  Cathryn'),
 ('Id535', 'Gammon, Ms.  Shauna'),
 ('Id536', 'Lee, Mr.  Terence'),
 ('Id537', 'Franco, Ms.  Marisol'),
 ('Id538', 'Patterson, Ms.  Lindsay'),
 ('Id540', 'Craig, Mr.  Daniel'),
 ('Id541', 'Whipple, Mr.  Brett W'),
 ('Id542', 'Marton, Mr.  Dylan J'),
 ('Id543', 'Hildebrandt, Ms.  Elizabeth'),
 ('Id544', 'Biggs, Ms.  Brooke M.'),
 ('Id545', 'Shigezumi, Mrs.  Teiko'),
 ('Id546', 'Meineke, Mr.  Zachary'),
 ('Id549', 'Cervantes, Mr.  Andres Sr.'),
 ('Id553', 'Stone, Mr.  Jeb'),
 ('Id554', 'Campbell, Ms.  Amy R.'),
 ('Id556', 'Mazzotta, Mr.  Mike G'),
 ('Id557', 'Huttl, Ms.  Simonezitrone Sr.'),
 ('Id558', 'Ferron, Mr.  Nicholas'),
 ('Id559', 'Colarusso, Ms.  Angela M'),
 ('Id562', 'Niska, Mr.  Bobby E.'),
 ('Id564', 'Zidek, Ms.  Marie E.'),
 ('Id569', 'Strong, Ms.  Kayla B.'),
 ('Id570', 'Ferguson, Mr.  Mark D.'),
 ('Id571', 'Klein, Mr.  Patrick J.'),
 ('Id572', 'Eusebio, Mr.  Alejandro'),
 ('Id573', 'Szolosi, Mrs.  Beth A'),
 ('Id575', 'Fukuchi, Mr.  Yoshinori'),
 ('Id576', 'Drucker, Ms.  Adrienne G.'),
 ('Id578', 'Pak, Mr.  Junyong'),
 ('Id580', 'Velez, Ms.  Maria I.'),
 ('Id586', 'Rotich, Ms.  Caroline'),
 ('Id588', 'Mattis, Ms.  Shanda L'),
 ('Id592', 'Johnson, Ms.  Mary'),
 ('Id594', 'Laleman, Mrs.  Kelly J'),
 ('Id595', 'Colby, Ms.  Greer D'),
 ('Id596', 'Wathke, Mr.  Brent'),
 ('Id598', 'Dillon, Ms.  Erin D'),
 ('Id599', 'Pontes, Ms.  Kamilla'),
 ('Id600', 'Spies, Mr.  Wayne I.'),
 ('Id601', 'Greig, Ms.  Tracy L'),
 ('Id603', 'Erlandson, Mrs.  Megan C'),
 ('Id604', 'Autrey, Mr.  Jonathan'),
 ('Id605', 'Alleman, Mr.  Greg D.'),
 ('Id607', 'Grillo, Mr.  Gianfilippo'),
 ('Id608', 'Coronado, Mr.  Hector'),
 ('Id611', 'Neems, Mr.  Justin'),
 ('Id612', 'Pesyna, Ms.  Megan A.'),
 ('Id613', 'Meling, Ms.  Erika M.'),
 ('Id615', 'Nadar, Ms.  Devin C.'),
 ('Id616', 'Turner, Ms.  Louise A'),
 ('Id618', 'Leedham, Ms.  Amy'),
 ('Id624', 'Coon, Mr.  Craig R.'),
 ('Id625', 'Vanttinen, Mr.  Simo'),
 ('Id628', 'Lawson, Mrs.  Meghann R.'),
 ('Id629', 'Cale, Mr.  Scott M'),
 ('Id633', 'Mutai, Mr.  Christopher'),
 ('Id635', 'Bruns, Mr.  Zachary T'),
 ('Id638', 'McLucas, Mr.  Doug'),
 ('Id641', 'Otsuka, Mr.  Takuo'),
 ('Id643', 'Myers, Mr.  Scott'),
 ('Id644', 'Cote, Mr.  Benoit'),
 ('Id648', 'Lanza, Mr.  Kevin L'),
 ('Id649', 'Picklesimer, Mr.  Gregory'),
 ('Id653', 'Tseronis, Mr.  Tasos'),
 ('Id654', 'Aliff, Mr.  Thomas'),
 ('Id657', 'Haley, Ms.  Meta'),
 ('Id658', 'Ackerman, Ms.  Rachel E'),
 ('Id660', 'Michaud, Ms.  Kathleen'),
 ('Id661', 'Gunnink, Mr.  Gabriel D.'),
 ('Id665', 'Heitzman, Ms.  Ariel E'),
 ('Id666', 'Tatton, Mr.  Christopher P'),
 ('Id668', 'Funk, Mrs.  Molly K.'),
 ('Id669', 'Davenport, Mr.  Ryan J.'),
 ('Id674', 'Gayagoy, Ms.  Kristi'),
 ('Id675', 'Fitzmaurice, Ms.  Meredith L.'),
 ('Id681', 'Pena, Ms.  Carolina'),
 ('Id683', 'Hancox, Ms.  Jessica'),
 ('Id686', 'Mulley, Mr.  Russell J'),
 ('Id687', 'Parry, Ms.  Karine'),
 ('Id690', 'Nelson, Ms.  Adriana'),
 ('Id691', 'Forte, Ms.  Miranda J'),
 ('Id695', 'Looi, Mr.  Alexander'),
 ('Id696', 'Power, Mr.  Rich M'),
 ('Id697', 'Routon, Mr.  Aaron C'),
 ('Id699', 'Gillespie, Ms.  Maria M'),
 ('Id700', 'Oskvig, Mr.  Daven W'),
 ('Id702', 'Arai, Mr.  Hiroki'),
 ('Id703', 'Olausson, Mr.  Anders'),
 ('Id704', 'Wagner, Ms.  Danielle'),
 ('Id705', 'Delong, Ms.  Candace N'),
 ('Id707', 'Machiela, Ms.  Emily'),
 ('Id708', 'Young, Mrs.  Katie'),
 ('Id710', 'Iandolo, Ms.  Meaghan J'),
 ('Id711', 'Ito, Ms.  Rina'),
 ('Id712', 'Barry, Ms.  Kristin P.'),
 ('Id713', 'Boyce, Mr.  Albert'),
 ('Id714', 'Lin, Mrs.  Ashley'),
 ('Id716', 'Nalven, Ms.  Amy B'),
 ('Id717', 'Bourgeois, Ms.  A Danielle'),
 ('Id718', 'Orloff, Mr.  Conrad F'),
 ('Id722', 'Burgin, Ms.  Melissa'),
 ('Id723', 'Roberts, Ms.  Laura P.'),
 ('Id724', 'Nemec, Mrs.  Lisa'),
 ('Id725', 'Appman, Mr.  William D. Jr.'),
 ('Id727', 'Glotzbach, Mr.  John'),
 ('Id730', 'Stanley Torres, Ms.  Dana'),
 ('Id731', 'Vandongen, Ms.  Jennifer L'),
 ('Id733', 'Holte, Ms.  Tanya'),
 ('Id736', 'Bergman, Ms.  Kelly R'),
 ('Id737', 'Aitken, Mr.  Kyle'),
 ('Id738', 'Berger, Mr.  Bruce A Jr.'),
 ('Id739', 'Richey, Mr.  Cary J'),
 ('Id740', 'Trotter, Mrs.  Jill M'),
 ('Id741', 'Chavez, Mr.  Chris'),
 ('Id742', 'Orifice, Mr.  Michael E.'),
 ('Id743', 'Farkash, Mrs.  Lauren'),
 ('Id746', 'Sittlington, Mr.  Mark H.'),
 ('Id748', 'Carrique, Mr.  Chris'),
 ('Id749', 'Kosla, Mr.  Daniel'),
 ('Id750', 'Parker, Ms.  Megan'),
 ('Id751', 'Horton, Mr.  Kevin'),
 ('Id752', 'Boller, Ms.  Caroline S.'),
 ('Id753', 'Olaru, Ms.  Nuta'),
 ('Id754', 'Prescott, Ms.  Margie'),
 ('Id757', 'Bustamante, Mr.  Enrique M Sr.'),
 ('Id759', 'Schmole, Mr.  Filip'),
 ('Id766', 'Greenwell, Ms.  Ashley M.'),
 ('Id767', 'Steele, Ms.  Alison R.'),
 ('Id768', 'Gunter, Ms.  Madeleine'),
 ('Id770', 'Sweetland, Ms.  Kimberly'),
 ('Id771', 'Hammersmith, Mr.  Matthew D'),
 ('Id772', 'French, Mr.  Michael'),
 ('Id773', 'Garbe, Mr.  Ben'),
 ('Id774', 'Duncan, Mr.  Chris'),
 ('Id775', 'Wallace, Mr.  Jeremy J'),
 ('Id776', 'Tillman, Mrs.  Amy L.'),
 ('Id777', 'Lee, Mrs.  Karen L.'),
 ('Id788', 'Fisher, Mr.  James A'),
 ('Id789', 'Zhou, Mr.  Ning'),
 ('Id790', 'Clarke-Ames, Mr.  Joel'),
 ('Id792', 'Forster, Ms.  Brittney'),
 ('Id793', 'Monaghan, Mrs.  Sheila'),
 ('Id797', 'Porfirio, Ms.  Deedra G.'),
 ('Id800', 'Horn, Ms.  Sarah E'),
 ('Id801', 'Sabadosa, Ms.  Apryl J.'),
 ('Id803', 'Phillips, Ms.  Katherine'),
 ('Id805', 'Hebert, Mr.  Karl'),
 ('Id806', 'Fair, Mr.  Stephen'),
 ('Id809', 'Engnes, Mrs.  Amy M'),
 ('Id814', 'Levy, Mr.  Wayne A.'),
 ('Id815', 'Takeda, Mr.  Nobuyori'),
 ('Id816', 'Burke, Mr.  Rich'),
 ('Id817', 'Duarte, Mr.  Marcos S'),
 ('Id818', 'Clark, Mr.  Dave'),
 ('Id819', 'Nice, Mr.  Andy'),
 ('Id820', 'Windler, Ms.  Mary'),
 ('Id821', 'Jones, Mr.  Marcus B'),
 ('Id822', 'Stevenson, Mr.  Thomas K.'),
 ('Id823', 'Humphrey, Mr.  Robert'),
 ('Id824', 'Nelson, Mr.  Geoff'),
 ('Id826', 'Hails, Ms.  Kate A.'),
 ('Id828', 'Ryan, Mrs.  Maggie M'),
 ('Id829', 'Watson, Mrs.  Michelle L.'),
 ('Id830', 'Gresh, Mrs.  Ashley K'),
 ('Id831', 'Anis, Mr.  Michael'),
 ('Id834', 'Bellemare, Mrs.  Karine'),
 ('Id835', 'Vitalo, Ms.  Antonia G'),
 ('Id836', 'Hamilton, Ms.  Casondra L'),
 ('Id837', 'Marshall, Ms.  Wendy'),
 ('Id842', 'Doolittle-Crider, Ms.  Amy L.'),
 ('Id843', 'Ruhlman, Ms.  Katie J'),
 ('Id847', 'Edmonds, Ms.  Natali N'),
 ('Id848', 'Otto, Ms.  Beth'),
 ('Id849', 'Kurt, Mr.  Alex'),
 ('Id850', 'Duhaime, Mr.  Spencer'),
 ('Id851', 'Swann, Ms.  Andee W.'),
 ('Id852', 'Burton, Mrs.  Amy'),
 ('Id853', 'Ricardi, Mr.  Joshua'),
 ('Id854', 'Joslyn, Mr.  C Fred'),
 ('Id856', 'Kanyane, Mr.  Patrick Sr.'),
 ('Id861', 'Locatelli, Mr.  Alex'),
 ('Id862', 'Brake, Ms.  Kathryn'),
 ('Id863', 'Jacobs, Mr.  Jason L.'),
 ('Id864', 'Vaught, Mr.  Benjamin J.'),
 ('Id867', 'Sellers, Mr.  Chad'),
 ('Id868', 'Bowman, Mr.  Mark'),
 ('Id869', 'Marley, Mr.  David'),
 ('Id870', 'Grey, Mr.  Matthew R'),
 ('Id871', "O'Rourke, Mrs.  Orla"),
 ('Id873', 'Piza-Taylor, Mrs.  Emily'),
 ('Id876', 'Musa, Ms.  Skylar'),
 ('Id877', 'Phillippi, Mrs.  Victoria'),
 ('Id880', 'Triedman, Ms.  Nellie A.'),
 ('Id881', 'Lovuolo, Ms.  Tamara'),
 ('Id882', 'Chung, Ms.  Joan'),
 ('Id883', 'Newsom, Ms.  Aimee J.'),
 ('Id884', 'Harrington, Ms.  Suzanne'),
 ('Id885', 'Hoffman, Ms.  Kristin A.'),
 ('Id886', 'Van Vugt, Ms.  Bronwyn'),
 ('Id889', 'Hansen, Mr.  Joshua E.'),
 ('Id894', 'Butcher, Mr.  John'),
 ('Id895', 'Traiser, Mr.  Miles J.'),
 ('Id899', 'Walsh, Mr.  Robert'),
 ('Id900', 'White, Mrs.  Alyssa'),
 ('Id901', 'Sheppard, Ms.  Jessica E.'),
 ('Id902', 'Doran, Mr.  Patrick J.'),
 ('Id906', 'Prowse, Ms.  Wendy'),
 ('Id907', 'Seigel, Mrs.  Leah L.'),
 ('Id909', 'Simpson, Mr.  Jason M.'),
 ('Id911', 'Jeuland, Mr.  Marc'),
 ('Id913', 'Rook, Mr.  Kevin'),
 ('Id914', 'Wright, Mr.  Aharon N'),
 ('Id915', 'Chin, Mr.  Lawrence D.'),
 ('Id916', 'White, Mr.  Malcolm'),
 ('Id921', 'Frey, Ms.  Laura A'),
 ('Id922', 'Krishna, Ms.  Aditi'),
 ('Id924', 'Boivin, Ms.  Marianne'),
 ('Id926', 'Akhmedova, Ms.  Oksana'),
 ('Id927', 'Tucker, Ms.  Rebecca B.'),
 ('Id930', 'Tranter, Mr.  Steve Jr.'),
 ('Id931', 'Tu, Mrs.  Tiffany'),
 ('Id932', 'Kaczka, Mr.  Greg'),
 ('Id933', 'Hunter, Mr.  Dale'),
 ('Id934', 'Moran, Ms.  Brittany A.'),
 ('Id935', 'Ashby, Mr.  Robert S'),
 ('Id936', 'Ausen, Mr.  Cameron'),
 ('Id937', 'Savage, Mrs.  Ulrike'),
 ('Id938', "O'Leary, Ms.  Katlyn A."),
 ('Id940', 'Kaus, Mr.  Peter'),
 ('Id941', 'Rainey, Ms.  Chandler'),
 ('Id942', 'Rasch, Ms.  Silvana M.'),
 ('Id943', 'Plunkett, Ms.  Natty'),
 ('Id945', 'Gusmer, Ms.  Rebecca'),
 ('Id946', 'Loftus, Mr.  John'),
 ('Id947', 'Scott, Mr.  Antony G'),
 ('Id951', 'Tripaldi, Ms.  Cassandra'),
 ('Id955', 'Germain, Mr.  Matthew R.'),
 ('Id956', 'Finecey, Mrs.  Meghan E'),
 ('Id960', 'Stocker, Ms.  Allison M'),
 ('Id961', 'Jacobson, Mrs.  Sarah E.'),
 ('Id962', 'Shaw, Mr.  Philip J'),
 ('Id963', 'Goodwin, Ms.  Jillian A.'),
 ('Id964', 'Brock, Mrs.  Laura D'),
 ('Id966', 'Siragusa, Ms.  Shannon J.'),
 ('Id970', 'Ginsburg, Mr.  Brandon F'),
 ('Id971', 'Truex, Ms.  Melissa'),
 ('Id972', 'Higgins, Ms.  Danielle N'),
 ('Id974', 'Hughes, Mrs.  Bettina'),
 ('Id975', 'Varner, Mr.  Alexander'),
 ('Id976', 'Dahmen, Mrs.  Holli'),
 ('Id977', 'Young, Mrs.  Heather C'),
 ('Id978', 'Fraser, Mr.  Kyle'),
 ('Id979', 'Deeg, Mr.  Thomas J'),

**Task 6: Average Charges by Hospital Tier in 2000**

In this project, we aim to calculate the average hospital charges per hospital tier for the year 2000 from the hospitalization_details table. This analysis allows us to understand the variation in charges based on the hospital tier, providing insights into cost disparities and healthcare quality across different tiers. It can assist in making informed decisions about healthcare facilities and costs.

In [25]:
%%sql
select hospital_tier, avg(charges) from hospitalisation_details
where year = 2000
group by hospital_tier;

 * postgresql://postgres:***@localhost:5432/Medical
3 rows affected.

[('tier - 1', 35367.4375),
 ('tier - 3', 4673.116666666667),
 ('tier - 2', 8915.937027027028)]

**Task 7: Smoking Patients with Transplants Analysis**

This project aims to retrieve customer IDs, BMI, and charges for patients who are smokers and have undergone a transplant, as per the medical_examinations and hospitalization_details tables. Analyzing this data allows us to study the healthcare costs and health conditions of patients with a history of smoking and transplants. This information can be valuable for targeted healthcare interventions and cost estimation.

In [26]:
%%sql
select m.customer_id, m.BMI, h.charges from medical_examinations as m
JOIN hospitalisation_details as h ON h.customer_id = m.customer_id
where smoker = 'yes' AND any_transplant = 'yes';

 * postgresql://postgres:***@localhost:5432/Medical
25 rows affected.

[('Id824', 17.29, 12829.46),
 ('Id742', 21.565, 13747.87),
 ('Id707', 21.66, 14283.46),
 ('Id575', 27.36, 17178.68),
 ('Id543', 27.28, 18223.45),
 ('Id428', 25.71, 24294.02),
 ('Id399', 27.79, 26026.97),
 ('Id394', 32.06, 26316.59),
 ('Id391', 32.54, 26479.4),
 ('Id386', 30.86, 26936.98),
 ('Id315', 43.5, 30328.27),
 ('Id304', 46.06, 31196.61),
 ('Id303', 43.53, 31234.56),
 ('Id257', 31.73, 33732.69),
 ('Id254', 51.18, 33829.39),
 ('Id252', 30.4, 33907.55),
 ('Id235', 33.535, 34617.84),
 ('Id211', 35.6, 35585.58),
 ('Id210', 31.02, 35595.59),
 ('Id199', 36.85, 36149.48),
 ('Id194', 38.17, 36307.8),
 ('Id170', 37.62, 37165.16),
 ('Id163', 37.07, 37484.45),
 ('Id137', 42.24, 38792.69),
 ('Id41', 52.58, 44501.4)]

**Task 8: Patients with Major Surgeries or Cancer History**

In this project, we retrieve the names of customers who have had at least two major surgeries or have a history of cancer, as recorded in the medical_examinations table. This analysis helps identify patients with complex medical histories, enabling healthcare providers to tailor care plans and assess potential healthcare costs for these individuals.n.

In [27]:
%%sql
select n.name from  names as n
JOIN medical_examinations as m ON m.customer_id = n.customer_id
where cancer_history = 'Yes' OR numberofmajorsurgeries >= 2;

 * postgresql://postgres:***@localhost:5432/Medical
687 rows affected.

[('Lu, Mr.  Phil',),
 ('Hallman, Mr.  Stephen',),
 ('Moran, Mr.  Patrick R.',),
 ('Fierro Vargas, Ms.  Paola Andrea',),
 ('Rios, Ms.  Leilani M.',),
 ('Cronin, Ms.  Jennifer A.',),
 ('Noordstar, Ms.  Christina M.',),
 ('Fennon, Mr.  Myles',),
 ('Hribar, Ms.  Madelyn C',),
 ('Tassello, Ms.  Nicole',),
 ('Mauricette, Mr.  Eric A.',),
 ('Garcia, Mr.  Emiliano I.',),
 ('Airoldi, Mr.  Adam',),
 ('Hamm, Ms.  Stephanie W.',),
 ('Cox, Mr.  Stephen',),
 ('Bruestle, Ms.  Sydney L.',),
 ('Fisher, Mr.  Robert',),
 ("O'Grady, Mr.  Thomas J.",),
 ('De Simone, Mr.  Flavio',),
 ('Beckett, Mr.  Ryan',),
 ('Campa, Mr.  David',),
 ('Schorr, Mr.  Ari',),
 ('Rieth, Mr.  Cameron',),
 ('Hyland, Ms.  Megan',),
 ('Ducharme, Mr.  Daniel',),
 ('Johnson, Mr.  Steven M.',),
 ('Rangel, Mr.  Elenilton V. Sr.',),
 ('Lacey, Ms.  Maurya',),
 ('Thoma, Mr.  Kevin',),
 ('Heagy, Mr.  Stephen II',),
 ('Regnier, Mr.  Philip',),
 ('Parendo, Mr.  Brett A',),
 ('Driscoll, Ms.  Kelley',),
 ('Mitchell, Ms.  Abigail K',),
 ('Farina, Mr.  Nicholas',),
 ('Kratz, Ms.  Natalie',),
 ('Ramsey, Ms.  Jessica',),
 ('Burns, Mr.  Robert M.',),
 ('Yitref, Mr.  Gedion',),
 ('Loudon-Brown, Mr.  Mark',),
 ('Antonopoulos, Ms.  Yianna',),
 ('Cardinal, Mr.  Craig',),
 ('Stroffolino, Mr.  Jamie P',),
 ('Defranco, Ms.  Meredith',),
 ('Neufeld, Ms.  Steph K.',),
 ('Curtis, Ms.  Valeria R',),
 ('Conlon, Mr.  Paul',),
 ('Jurek, Mr.  Samuel',),
 ('Thill, Mr.  Matthew',),
 ('Tanguay, Mr.  Steeve T Sr.',),
 ('Trenk, Ms.  Jana',),
 ('Wittmann, Mr.  Jay T.',),
 ('Torphy, Mr.  Bobby',),
 ('King, Ms.  Jennifer L',),
 ('Samuelson, Ms.  Abby W.',),
 ('Fredsall, Mr.  Tyler',),
 ('Silva, Mr.  Ryan J.',),
 ('Bugala, Ms.  Amy',),
 ('Cleland, Mr.  George M. V',),
 ('Boyd, Ms.  Lara',),
 ('Klecker, Mr.  Jack R',),
 ('Cancre, Mr.  Felix',),
 ('Walsh, Mr.  William',),
 ('Pasten, Mr.  Alejandro',),
 ('Guzman, Mr.  Hector Sr.',),
 ('Zyryanov, Mr.  Sergey',),
 ('Shearer, Mr.  Matthew D',),
 ('Warriner, Mr.  Lawrence',),
 ('Meyer, Mr.  Rick E',),
 ('Smith, Mr.  Chris',),
 ('Federoff, Ms.  Allison H',),
 ('Hodges, Mr.  Andrew',),
 ('Welleck, Mr.  Sean',),
 ('Heninger, Ms.  Brittany L.',),
 ('Deucher, Mr.  Peter W',),
 ('Velardo, Ms.  Stephanie M.',),
 ('Escorcia, Ms.  Kelly',),
 ('Larscheid, Ms.  Carrie',),
 ("O'Bannon, Mr.  Alex",),
 ('Black, Mr.  Alan',),
 ('Fine, Mr.  Jesse G.',),
 ('Bui, Mr.  Jason',),
 ('Kruzel, Ms.  Jacy D',),
 ('Land, Ms.  Ainsley E.',),
 ('Brecher, Ms.  Erica A.',),
 ('Boyd, Ms.  Adrienne',),
 ('Guthals, Mr.  Nathaniel',),
 ('Walker, Mr.  Xaviour J.',),
 ('Jurgens, Ms.  Nancy M',),
 ('Fagerstrom, Mr.  Erik T.',),
 ('Hess, Mr.  Joey',),
 ('Shaw, Ms.  Hillary L.',),
 ('Rindahl, Mr.  Martin A.',),
 ('Irish, Ms.  Christine',),
 ('Dewitt, Ms.  Megan',),
 ('Gonzalez, Ms.  Michele',),
 ('Turner, Mr.  Philip J.',),
 ('San Juan, Ms.  Angielyn M',),
 ('Rolfes, Mr.  Greg',),
 ('Leuchanka, Mr.  Aliaksandr',),
 ('Ayr, Mr.  Jason M.',),
 ('Penrose, Ms.  Janice',),
 ('Bruns, Mr.  Jason M.',),
 ('Yochum, Ms.  Angela R',),
 ('Spencer, Ms.  Emma',),
 ('Kelley, Ms.  Elizabeth H.',),
 ('Jeseritz, Ms.  Cheryl A',),
 ('Hill, Ms.  Cynthia',),
 ('Lorton, Mr.  Alex',),
 ('Castaneda, Ms.  Gabriela',),
 ('Howell, Mr.  Jason A',),
 ('Daniels, Ms.  Marie',),
 ('Arcand, Mr.  Pierre-Michel',),
 ('Harsh, Ms.  Berenice',),
 ('Pocasangre, Mr.  Kenneth A',),
 ('Fitzpatrick, Mr.  Michael',),
 ('Earle, Ms.  Sara E.',),
 ('Graham, Ms.  Danielle',),
 ('Wegener, Mr.  Joel D',),
 ('Murphy, Mr.  Michael J.',),
 ('Fitzsimons, Mr.  Ryan',),
 ('Jennings, Ms.  Jessica H.',),
 ('Lovisek, Mr.  Peter',),
 ('Liebl, Mr.  Gregory',),
 ('Kasabian-Larson, Ms.  Sarah E.',),
 ('Creamer, Ms.  Anne Elise',),
 ('Nunlist, Mr.  Corey',),
 ('Nelsen, Ms.  Jordan',),
 ('Schallner, Mr.  Nils',),
 ('Gruman, Ms.  Tracy M',),
 ('Sabo, Ms.  Emily',),
 ('Nazarian, Ms.  Fabienne',),
 ('Dahl, Mr.  Matt',),
 ('Sedicum, Ms.  Victoria M.',),
 ('Markle, Ms.  Phoebe',),
 ('Wimert, Ms.  Rebecca',),
 ('Peterson, Mr.  Nicholas D',),
 ('Laurie, Mr.  Jonathon S.',),
 ('Frash, Mr.  Joshua D.',),
 ('Sandahl, Ms.  Denise M',),
 ('Speight, Mr.  Peter R.',),
 ('Lee, Mr.  Johnson K',),
 ('Zirdok, Ms.  Lynda',),
 ('Crudale, Mr.  Anthony',),
 ('Koopmans, Ms.  Linnea C.',),
 ('Milani, Mr.  Massimiliano A.',),
 ('Kelly, Mr.  James M.',),
 ('Yang, Mr.  Shizhong',),
 ('Gravel, Ms.  Marie-Claire',),
 ('Smith, Mr.  Todd J.',),
 ('Williams, Ms.  Carolyn',),
 ('Meyer, Ms.  Lindsey',),
 ('Sansonetti, Ms.  Danielle',),
 ('Frome, Mr.  Gavin V.',),
 ('Narang, Mr.  Jatin',),
 ('Alexson, Ms.  Margaret B.',),
 ('Wright, Ms.  Helen',),
 ('Catoggio, Mr.  Timothy',),
 ('Adams, Mr.  Scott',),
 ('Raffetto, Mr.  Louis',),
 ('Oehlke, Mrs.  Jessica',),
 ('Van Es, Mr.  Chris',),
 ('Dolge, Ms.  Karen',),
 ('Marlier, Ms.  Jessica',),
 ('Koester, Ms.  Freya R',),
 ('Watson, Mr.  Sean K',),
 ('Poskin, Mr.  Brady',),
 ('Hicks, Ms.  Amanda',),
 ('Lockyer, Ms.  Karen',),
 ('Norris, Ms.  Sabine',),
 ('Rogers, Mrs.  Anita L.',),
 ('Mclaughlin, Ms.  Laura E.',),
 ('Hughey, Mrs.  Ashley E',),
 ('Knast, Ms.  Lindsey',),
 ('Jensen, Mr.  Dan R.',),
 ('Ahern, Mr.  Eric',),
 ('Gammon, Ms.  Shauna',),
 ('Biggs, Ms.  Brooke M.',),
 ('Shigezumi, Mrs.  Teiko',),
 ('Meineke, Mr.  Zachary',),
 ('Stone, Mr.  Jeb',),
 ('Campbell, Ms.  Amy R.',),
 ('Mazzotta, Mr.  Mike G',),
 ('Huttl, Ms.  Simonezitrone Sr.',),
 ('Ferron, Mr.  Nicholas',),
 ('Colarusso, Ms.  Angela M',),
 ('Niska, Mr.  Bobby E.',),
 ('Zidek, Ms.  Marie E.',),
 ('Strong, Ms.  Kayla B.',),
 ('Klein, Mr.  Patrick J.',),
 ('Eusebio, Mr.  Alejandro',),
 ('Velez, Ms.  Maria I.',),
 ('Rotich, Ms.  Caroline',),
 ('Johnson, Ms.  Mary',),
 ('Colby, Ms.  Greer D',),
 ('Wathke, Mr.  Brent',),
 ('Pontes, Ms.  Kamilla',),
 ('Spies, Mr.  Wayne I.',),
 ('Erlandson, Mrs.  Megan C',),
 ('Autrey, Mr.  Jonathan',),
 ('Alleman, Mr.  Greg D.',),
 ('Neems, Mr.  Justin',),
 ('Meling, Ms.  Erika M.',),
 ('Nadar, Ms.  Devin C.',),
 ('Turner, Ms.  Louise A',),
 ('Vanttinen, Mr.  Simo',),
 ('Lawson, Mrs.  Meghann R.',),
 ('Mutai, Mr.  Christopher',),
 ('Myers, Mr.  Scott',),
 ('Cote, Mr.  Benoit',),
 ('Lanza, Mr.  Kevin L',),
 ('Picklesimer, Mr.  Gregory',),
 ('Tseronis, Mr.  Tasos',),
 ('Haley, Ms.  Meta',),
 ('Ackerman, Ms.  Rachel E',),
 ('Gunnink, Mr.  Gabriel D.',),
 ('Heitzman, Ms.  Ariel E',),
 ('Tatton, Mr.  Christopher P',),
 ('Funk, Mrs.  Molly K.',),
 ('Gayagoy, Ms.  Kristi',),
 ('Fitzmaurice, Ms.  Meredith L.',),
 ('Pena, Ms.  Carolina',),
 ('Mulley, Mr.  Russell J',),
 ('Parry, Ms.  Karine',),
 ('Nelson, Ms.  Adriana',),
 ('Forte, Ms.  Miranda J',),
 ('Looi, Mr.  Alexander',),
 ('Power, Mr.  Rich M',),
 ('Routon, Mr.  Aaron C',),
 ('Gillespie, Ms.  Maria M',),
 ('Arai, Mr.  Hiroki',),
 ('Olausson, Mr.  Anders',),
 ('Wagner, Ms.  Danielle',),
 ('Delong, Ms.  Candace N',),
 ('Young, Mrs.  Katie',),
 ('Iandolo, Ms.  Meaghan J',),
 ('Ito, Ms.  Rina',),
 ('Barry, Ms.  Kristin P.',),
 ('Boyce, Mr.  Albert',),
 ('Lin, Mrs.  Ashley',),
 ('Orloff, Mr.  Conrad F',),
 ('Burgin, Ms.  Melissa',),
 ('Roberts, Ms.  Laura P.',),
 ('Nemec, Mrs.  Lisa',),
 ('Appman, Mr.  William D. Jr.',),
 ('Glotzbach, Mr.  John',),
 ('Stanley Torres, Ms.  Dana',),
 ('Vandongen, Ms.  Jennifer L',),
 ('Holte, Ms.  Tanya',),
 ('Bergman, Ms.  Kelly R',),
 ('Aitken, Mr.  Kyle',),
 ('Berger, Mr.  Bruce A Jr.',),
 ('Trotter, Mrs.  Jill M',),
 ('Chavez, Mr.  Chris',),
 ('Farkash, Mrs.  Lauren',),
 ('Carrique, Mr.  Chris',),
 ('Parker, Ms.  Megan',),
 ('Horton, Mr.  Kevin',),
 ('Boller, Ms.  Caroline S.',),
 ('Bustamante, Mr.  Enrique M Sr.',),
 ('Steele, Ms.  Alison R.',),
 ('Gunter, Ms.  Madeleine',),
 ('Sweetland, Ms.  Kimberly',),
 ('French, Mr.  Michael',),
 ('Garbe, Mr.  Ben',),
 ('Duncan, Mr.  Chris',),
 ('Tillman, Mrs.  Amy L.',),
 ('Fisher, Mr.  James A',),
 ('Zhou, Mr.  Ning',),
 ('Clarke-Ames, Mr.  Joel',),
 ('Forster, Ms.  Brittney',),
 ('Porfirio, Ms.  Deedra G.',),
 ('Horn, Ms.  Sarah E',),
 ('Sabadosa, Ms.  Apryl J.',),
 ('Hebert, Mr.  Karl',),
 ('Fair, Mr.  Stephen',),
 ('Engnes, Mrs.  Amy M',),
 ('Levy, Mr.  Wayne A.',),
 ('Takeda, Mr.  Nobuyori',),
 ('Burke, Mr.  Rich',),
 ('Duarte, Mr.  Marcos S',),
 ('Clark, Mr.  Dave',),
 ('Jones, Mr.  Marcus B',),
 ('Stevenson, Mr.  Thomas K.',),
 ('Humphrey, Mr.  Robert',),
 ('Hails, Ms.  Kate A.',),
 ('Ryan, Mrs.  Maggie M',),
 ('Watson, Mrs.  Michelle L.',),
 ('Gresh, Mrs.  Ashley K',),
 ('Vitalo, Ms.  Antonia G',),
 ('Doolittle-Crider, Ms.  Amy L.',),
 ('Ruhlman, Ms.  Katie J',),
 ('Edmonds, Ms.  Natali N',),
 ('Otto, Ms.  Beth',),
 ('Swann, Ms.  Andee W.',),
 ('Burton, Mrs.  Amy',),
 ('Ricardi, Mr.  Joshua',),
 ('Joslyn, Mr.  C Fred',),
 ('Kanyane, Mr.  Patrick Sr.',),
 ('Jacobs, Mr.  Jason L.',),
 ('Vaught, Mr.  Benjamin J.',),
 ('Sellers, Mr.  Chad',),
 ('Bowman, Mr.  Mark',),
 ('Marley, Mr.  David',),
 ('Grey, Mr.  Matthew R',),
 ("O'Rourke, Mrs.  Orla",),
 ('Piza-Taylor, Mrs.  Emily',),
 ('Musa, Ms.  Skylar',),
 ('Triedman, Ms.  Nellie A.',),
 ('Lovuolo, Ms.  Tamara',),
 ('Newsom, Ms.  Aimee J.',),
 ('Butcher, Mr.  John',),
 ('Traiser, Mr.  Miles J.',),
 ('Sheppard, Ms.  Jessica E.',),
 ('Doran, Mr.  Patrick J.',),
 ('Prowse, Ms.  Wendy',),
 ('Seigel, Mrs.  Leah L.',),
 ('Tranter, Mr.  Steve Jr.',),
 ('Tu, Mrs.  Tiffany',),
 ('Hunter, Mr.  Dale',),
 ('Moran, Ms.  Brittany A.',),
 ("O'Leary, Ms.  Katlyn A.",),
 ('Kaus, Mr.  Peter',),
 ('Rainey, Ms.  Chandler',),
 ('Rasch, Ms.  Silvana M.',),
 ('Plunkett, Ms.  Natty',),
 ('Gusmer, Ms.  Rebecca',),
 ('Tripaldi, Ms.  Cassandra',),
 ('Germain, Mr.  Matthew R.',),
 ('Stocker, Ms.  Allison M',),
 ('Jacobson, Mrs.  Sarah E.',),
 ('Shaw, Mr.  Philip J',),
 ('Brock, Mrs.  Laura D',),
 ('Siragusa, Ms.  Shannon J.',),
 ('Ginsburg, Mr.  Brandon F',),
 ('Truex, Ms.  Melissa',),
 ('Higgins, Ms.  Danielle N',),
 ('Hughes, Mrs.  Bettina',),
 ('Dahmen, Mrs.  Holli',),
 ('Young, Mrs.  Heather C',),
 ('Anderson, Ms.  Carrie',),
 ('Opie, Ms.  Jasmine P.',),
 ('Rall, Ms.  Tracie',),
 ('Chen, Mr.  Peiweng',),
 ('Garcia, Mr.  Jose A.',),
 ('Campbell, Mr.  Jonathon M.',),
 ("D'Alessandro, Mr.  Patrick",),
 ('Rose, Ms.  Jenessa',),
 ('Hopper, Mr.  Ryan M.',),
 ('Finneran, Mr.  Thomas',),
 ('Basham, Ms.  Amanda N.',),
 ('Inman, Ms.  Teresa P.',),
 ('Craft, Ms.  Amy',),
 ('Kebede, Ms.  Aberu',),
 ('Strobel, Ms.  Ashley',),
 ('Morimoto, Ms.  Tania K.',),
 ('Manlove, Ms.  Ashley E',),
 ('Hobson, Ms.  Valery L',),
 ('McVay, Mr.  David',),
 ('Astrike-Davis, Ms.  Emma M',),
 ('Harder, Mr.  Tim',),
 ('Dawes, Ms.  Bridget K.',),
 ('Yaremczuk, Ms.  Natasha',),
 ('Lohrenz, Ms.  Erin C',),
 ('Demise, Ms.  Shure',),
 ('McBroom, Ms.  Tiffany',),
 ('Tegenkamp, Mr.  Matt',),
 ('Dockemeyer, Mr.  Kevin J',),
 ('Steele, Mr.  William H. III',),
 ('Aguila, Mr.  Anton',),
 ('Vallejo Sarmiento, Ms.  Yazmin',),
 ('Beisheim, Mr.  Florian',),
 ('Lenhoff, Ms.  Karen L',),
 ('Vos, Ms.  Sharon',),
 ('Dirth, Mr.  Eric',),
 ('Swartzfager, Mrs.  Lisa K.',),
 ('Clevenger, Mrs.  Kristine',),
 ('Sunstrum, Mr.  Chris',),
 ('Frownfelter, Ms.  Milah B',),
 ('Richter, Ms.  Annette M.',),
 ('McLean, Ms.  Laura',),
 ('Lane, Mr.  William G.',),
 ('Kidwell, Mr.  Matthew',),
 ('Black, Ms.  Sara M.',),
 ('Reasoner, Mrs.  Lauren',),
 ('Wandzilak, Mr.  Scott',),
 ('Carver, Mr.  Brian A.',),
 ('Benton, Ms.  Kelli M',),
 ('Bakula, Mrs.  Sarah M.',),
 ('Edwards, Ms.  Jennifer',),
 ('Schaaf, Ms.  Gisele',),
 ('Sack, Ms.  Myra L',),
 ('Williamson, Ms.  Eleanor F.',),
 ('Dollas, Ms.  Elizabeth',),
 ('Michell, Mr.  Robert G.',),
 ('Datwyler, Mr.  Thomas C.',),
 ('Mead, Mr.  Matthew J.',),
 ('Czech, Mr.  Christopher D.',),
 ('Bachman, Ms.  Ariell',),
 ('Koren, Ms.  Katie',),
 ('Lynn, Ms.  Colleen',),
 ('Flesch, Ms.  Megan',),
 ('Hamilton, Mr.  Daniel',),
 ('Paullin, Mr.  Matthew J',),
 ('Fagan, Mr.  Brian',),
 ('Toth, Mr.  Matthew',),
 ('Guinn, Ms.  Julee',),
 ('Marlatt, Ms.  Kara',),
 ('Segall, Mr.  Cary',),
 ('Sprieser, Mr.  Steven',),
 ('Blanco, Mr.  Jose Antonio Sr.',),
 ('Chruniak, Mr.  Dan T.',),
 ('Sadler, Mr.  Maxwell',),
 ('Roecker, Ms.  Samantha',),
 ('Peters, Mr.  David W',),
 ('Bower, Mr.  Grant',),
 ('Capriccioso, Ms.  Christina',),
 ('Rissell, Mr.  Ethan',),
 ('Manwaring, Ms.  Kasey E.',),
 ('Tomaszewski, Mr.  Jeff',),
 ('Gannon, Ms.  Amy',),
 ('Jenkins, Ms.  Kristin M',),
 ('Currier, Ms.  Mary-Lynn B.',),
 ('Rixe, Mr.  Jeffrey A.',),
 ('Jackson, Mr.  Jacob',),
 ('Samland, Mr.  Marc C.',),
 ('Shapiro, Mr.  Mark S',),
 ('Salowitz, Mrs.  Kaitlin M',),
 ('Lowe, Ms.  Deirdre A',),
 ('Osmark, Mr.  Mathias',),
 ('Warwick, Mr.  Kurt',),
 ('Magnuson, Mr.  Samuel',),
 ('Marsh, Mrs.  Emily',),
 ('Standiford, Mr.  Alex F',),
 ('Phillips-Cook, Ms.  Lisa J.',),
 ('Wang, Ms.  Katharina',),
 ('Harris, Mr.  Stephen A.',),
 ('Shafer, Mr.  Dan',),
 ('Soto, Mr.  Juan Carlos',),
 ('Howard, Mr.  John III',),
 ('Patrick, Mrs.  Sarah M',),
 ('Dacko, Mrs.  Kristin C',),
 ('Glassey, Ms.  Casey M.',),
 ('Gauthier, Ms.  Anne-Marie',),
 ('McComb, Ms.  Claire',),
 ('Maina, Mr.  Stanley',),
 ('Maas, Mr.  Eric',),
 ('Van De Kamp, Mr.  Fritz',),
 ('Ruffo, Mr.  Brad',),
 ('Mucci, Ms.  Alicia',),
 ('De Mata, Mr.  Javier',),
 ('Cheney, Mr.  Thomas S',),
 ('Rider, Ms.  Alicia',),
 ('Leboeuf, Mr.  Maxime M',),
 ('Pretot, Ms.  Svetlana V.',),
 ('Willsey, Ms.  Jana L',),
 ('Roach, Ms.  Laura',),
 ('Wild, Ms.  Lindsey',),
 ('Christenson, Mr.  B.j.',),
 ('Rao, Mr.  Neil K.',),
 ('McLean, Ms.  Sandra',),
 ('Gomez, Mr.  Robert',),
 ('Hemingway, Mr.  Rodney',),
 ('Pett, Mr.  Carl R',),
 ('Boyle, Mr.  Christopher',),
 ('Bomberger, Mr.  Matthew R',),
 ('Randolph, Ms.  Sara A.',),
 ('Masterson, Ms.  Erin C.',),
 ('Tedsen, Mrs.  Elizabeth A',),
 ('Koehlinger, Mr.  Andrew',),
 ('Pielechaty, Ms.  Dawn M.',),
 ('Montagna, Mr.  Dino',),
 ('M???ler, Mr.  Jan',),
 ('Baker, Mr.  Jonathan E.',),
 ('Johnson, Mrs.  Mary',),
 ('Armitage, Mrs.  Natascia',),
 ('Willard, Ms.  Kelly C',),
 ('Clark, Ms.  Angie',),
 ('Devitt, Ms.  Kerry',),
 ('Lynch, Ms.  Cindy G.',),
 ('Tramontano, Mr.  Gennaro',),
 ('Burke, Mr.  Patrick J',),
 ('Fellure, Ms.  Nicole',),
 ('Montez, Mr.  Ricky',),
 ('Garey, Mr.  Rick',),
 ('Walker, Ms.  Kerry L',),
 ('Temple, Mr.  Brian',),
 ('Lattin, Mr.  Eric W',),
 ('Schauwaers, Mr.  Kevin',),
 ('Hartman, Ms.  Lindsay M',),
 ('Larsen, Mr.  Jacob W???er',),
 ('Smith, Ms.  Carolyn',),
 ('Winkelman, Mrs.  Laurie A',),
 ('Gonzalez, Ms.  Leticia',),
 ('Barrett, Mr.  John S.',),
 ('Glenn, Ms.  Ashley N.',),
 ('Anderson, Ms.  Meredith S',),
 ('Tecklenburg, Ms.  Lisa',),
 ('Johnson, Ms.  Kate L.',),
 ('Morgan, Ms.  Heather L',),
 ('Doden, Mr.  Jeremy J',),
 ('Bien, Ms.  Katie',),
 ("O'Connor, Ms.  Christi",),
 ('Bersani, Mr.  Michael A.',),
 ('Mattingly, Ms.  Ashley R',),
 ('Holley, Mr.  Tristan P.',),
 ('Jones, Mr.  Logan M',),
 ('Collins, Mr.  Matthew',),
 ('Follo, Mr.  Jonathan D.',),
 ('Barana, Ms.  Victoria',),
 ('Cummings, Mr.  Cameron M.',),
 ('Deppen, Ms.  Jackie K.',),
 ('Yabu, Ms.  Yoshie',),
 ('Strang, Ms.  Lauren A',),
 ('Moore, Mr.  Jim',),
 ('McKay, Ms.  Janel N.',),
 ('Quigley, Ms.  Aoife',),
 ('Zywek, Mr.  Maciej',),
 ('Addison, Mr.  Alex M',),
 ('Goldberg, Mr.  Samuel L',),
 ('Kelley, Mr.  Spencer A.',),
 ('Shillings, Mr.  Joseph R.',),
 ('Pisano, Mrs.  Katie',),
 ('Ellwanger, Mr.  Chatham',),
 ('Hanson, Mr.  Derek',),
 ('Tucker, Mr.  Kalvin J.',),
 ('Counts, Mr.  Dave',),
 ('Carson, Ms.  Barbara G.',),
 ('Schnabel, Mr.  Nick',),
 ('Chauhan, Ms.  Elizabeth M.',),
 ('Cress, Ms.  Jennifer A',),
 ('Mawson, Mr.  Leif S.',),
 ('Schroeder, Ms.  Leah',),
 ('Tissue, Mr.  Jeffrey',),
 ('Wood, Mr.  Justin',),
 ('Buchholtz, Ms.  Trasi',),
 ('Lobaciute, Ms.  Ieva',),
 ('Grise, Ms.  Suzanne M',),
 ('Cartmell, Mr.  Greg',),
 ('Berg, Mrs.  Jessica',),
 ('Cacharelis, Mr.  Nicholas G',),
 ('Jakubowitch, Mr.  Andrew',),
 ('Tusso, Mr.  Robert B',),
 ('Johnson, Mr.  Benjamin M',),
 ('Landry, Mr.  Robert',),
 ('Hodge, Ms.  Stephanie J.',),
 ('Roels, Mr.  Guillaume',),
 ('Gosnell, Ms.  Theresa',),
 ('McCarron, Ms.  Emma L.',),
 ('Shen, Mr.  Yefeng',),
 ('Mueller, Ms.  Katarina K.',),
 ('Parise, Mr.  Thomas',),
 ('Thomas, Mr.  Ian',),
 ('Leon, Mr.  Alex',),
 ('Wilkins, Ms.  Jacqueline N.',),
 ('Coogan, Ms.  Rachel',),
 ('Traver, Mr.  Scott M.',),
 ('Scott, Mr.  Jonathan C',),
 ('Michalis, Ms.  Pilar',),
 ('Tjong Clemons, Mrs.  Christie',),
 ('Attar, Ms.  Sarah',),
 ('Trnovcova, Ms.  Zuzana',),
 ('Stern, Ms.  Jessica',),
 ('Haines, Mr.  Douglas W',),
 ('Cooper, Mr.  Brandon S.',),
 ('Philbrook, Ms.  Lauren',),
 ('Sousa, Mr.  Hugo M',),
 ('Stanton, Mr.  Daniel J. Jr.',),
 ('Dawes, Ms.  Jaime',),
 ('Corkum, Mrs.  Elizabeth A.',),
 ('Sakamoto, Mr.  Takaya',),
 ('Timko, Mr.  Kyle',),
 ('Achatz, Mr.  Ryan',),
 ('Morton, Ms.  Martina',),
 ('Barry, Mr.  Tom J.',),
 ('McElroy, Mr.  Dane',),
 ('Fiorini, Ms.  Allison M.',),
 ('Trout, Ms.  Christina',),
 ('Chong, Mr.  Eduardo',),
 ('Brenneman, Mr.  Charlie',),
 ('Kemp, Ms.  Melissa D.',),
 ('Turner, Mr.  Wesley C.',),
 ('Shaw, Ms.  Christine E',),
 ('Mills-Honarvar, Ms.  Donna',),
 ('Skinner, Ms.  Kayleigh',),
 ('Shue, Mr.  Billy',),
 ('Blinn, Ms.  Brenda M.',),
 ('Bashaw, Ms.  Jessica',),
 ('Quinteros, Mr.  Martin',),
 ('Neuschel, Ms.  Lauren M',),
 ('Metzger, Mr.  Peter T II',),
 ('Sprague, Mr.  Dustin L',),
 ('Lasseron, Mrs.  Chloe',),
 ('Dennison, Mr.  Joshua',),
 ('Durfee, Ms.  Carolyn R',),
 ('Reiland, Ms.  Holly A',),
 ('Lessek, Mr.  Tim',),
 ('Colavincenzo, Mr.  John',),
 ('Mendez-Karr, Mrs.  Cynthia',),
 ('Schoonover, Ms.  Kate',),
 ('Mayo, Ms.  Susan',),
 ('Zicko, Ms.  Tatyana K',),
 ('Graham, Ms.  Chrissy',),
 ('Boland, Ms.  Carrie',),
 ('Cupp, Ms.  Halle',),
 ('Musal, Mr.  Rasim M',),
 ('Martin, Mrs.  Kristen M',),
 ('Curley, Mr.  Stephen F.',),
 ('Dunn, Ms.  Alyson',),
 ('Downs, Ms.  Deborah',),
 ('Wiles, Ms.  Kipling',),
 ('Serafini, Mr.  Louis C.',),
 ('Button, Mr.  Daniel J',),
 ('Hyland, Mr.  Sean P.',),
 ('Reid, Ms.  Paula C.',),
 ('Tang, Ms.  Jingjing',),
 ('Kennedy, Mr.  Morgan',),
 ('Chepkwony, Mr.  Frankline',),
 ('Rodriguez, Ms.  Laura T.',),
 ('Szynkarczuk, Ms.  Natalia',),
 ('Brill, Ms.  Jennifer L.',),
 ('Adams, Ms.  Brooke',),
 ('Flynn, Ms.  Stefanie A',),
 ('Walsh, Mr.  Anthony S',),
 ('Villa, Ms.  Elisabetta',),
 ('Cable, Mr.  Trevor N.',),
 ('Sischo, Ms.  Lauren',),
 ('Goetz, Mr.  Justin',),
 ('Brady, Mr.  Shamus M.',),
 ('Moran, Mr.  Mike',),
 ('Carroll, Ms.  Jennifer L.',),
 ('Campos, Mr.  Jesus Sr.',),
 ('Flajslik, Ms.  Kristen',),
 ('Chua, Ms.  Catherine C.',),
 ('Wiltse, Ms.  Paula',),
 ('Fisher, Ms.  Evan',),
 ('Thayer, Ms.  Ashley M',),
 ('Gamirov, Mr.  Arthur',),
 ('Briot, Mr.  Thomas',),
 ('Mears, Mr.  Benjamin',),
 ('Tola, Mr.  Tadese',),
 ('Briskman, Mr.  Jonathan',),
 ("O'Brien, Ms.  Caitlin H.",),
 ("O'Connor, Ms.  Siobhan A.",),
 ('White, Ms.  Andrea J.',),
 ('Davenport, Ms.  Marie',),
 ('Karmen, Ms.  Rachel A.',),
 ('Miller, Ms.  Emma',),
 ('Lippmann, Ms.  Kiersten',),
 ('Klehm, Ms.  Rachael',),
 ('Gehlsen, Mr.  Eric N',),
 ('Roche, Mr.  Connor',),
 ('Hearn, Mr.  Patrick H.',),
 ('Dimson, Mr.  Tyler',),
 ('Cushman, Mr.  Brandon J',),
 ('Hammel, Mr.  Steve',),
 ('Petrulak, Mr.  Martin',),
 ('Lloyd, Mr.  Steve',),
 ('Zablocki, Mr.  Christopher',),
 ('Taylor, Mr.  Trent A',),
 ('McGraw, Ms.  Elizabeth A.',),
 ('Lunz, Ms.  Ruth',),
 ('Kyle, Mr.  Gregory S',),
 ('Schmitt, Ms.  Hillary',),
 ('Regan, Mr.  John',),
 ('Cavallo, Ms.  Anna',),
 ('Friel, Ms.  Alexandra',),
 ('Johnson, Mr.  Ryan C.',),
 ('Gerber, Mr.  Cliff',),
 ('Benadum, Mr.  Blue',),
 ('Ragazzini, Mr.  Jeffrey M',),
 ('Kessinger, Mr.  Andrew',),
 ('Bezgin, Ms.  Julia',),
 ('Woldesilassie, Mr.  Daniel',),
 ('Ruiz Herrero, Mr.  Jaime',),
 ('Bin Alias, Mr.  Mohd Syahidan',),
 ('Fischer-Daly, Mr.  Matthew',),
 ('Kraai, Ms.  Abby L.',),
 ('Fava, Ms.  Carla',),
 ('Jeffers, Mr.  Patrick',),
 ('Ozahowski, Mr.  David',),
 ('Horbol, Ms.  Sarah E.',),
 ('Petermann, Mr.  Theodore A.',),
 ('Danielson, Mr.  Thomas',),
 ('Castro, Mr.  Sebastian',),
 ('Bohinski, Ms.  Susan E',),
 ('Albano, Ms.  Julie',)]

**Task 9: Customer with Most Major Surgeries**

In this project, we identify and display the customer with the highest number of major surgeries. By joining the names and medical_examinations tables and sorting the records by the number of major surgeries in descending order, we can pinpoint the customer with the most significant surgical history. This insight is valuable for personalized healthcare management and resource allocation.n.

In [28]:
%%sql
select n.customer_id, n.name from  names as n
JOIN medical_examinations as m ON m.customer_id = n.customer_id
order by numberofmajorsurgeries desc
limit 1;

 * postgresql://postgres:***@localhost:5432/Medical
1 rows affected.

[('Id8', 'Hallman, Mr.  Stephen')]

**Task 10: Customers with Major Surgeries and City Tiers**

In this project, we compile a list of customers who have undergone major surgeries and their respective cities' tier levels (city_tier) from the hospitalization_details table. This analysis provides insights into the distribution of major surgeries across different city tiers, aiding in healthcare planning, resource allocation, and assessing the impact of city tiers on surgical cases.n.

In [29]:
%%sql
SELECT n.customer_id, n.name, h.city_tier
FROM hospitalisation_details AS h
JOIN medical_examinations AS m ON h.customer_id = m.customer_id
JOIN names AS n ON n.customer_id = m.customer_id
where numberofmajorsurgeries > 0;

 * postgresql://postgres:***@localhost:5432/Medical
1260 rows affected.

[('Id3', 'Lu, Mr.  Phil', 'tier - 1'),
 ('Id8', 'Hallman, Mr.  Stephen', 'tier - 2'),
 ('Id9', 'Moran, Mr.  Patrick R.', 'tier - 2'),
 ('Id11', 'Fierro Vargas, Ms.  Paola Andrea', 'tier - 1'),
 ('Id15', 'Rios, Ms.  Leilani M.', 'tier - 3'),
 ('Id17', 'Cronin, Ms.  Jennifer A.', 'tier - 3'),
 ('Id18', 'Noordstar, Ms.  Christina M.', 'tier - 3'),
 ('Id19', 'Boudalia, Mr.  Said Sr.', 'tier - 3'),
 ('Id21', 'Fennon, Mr.  Myles', 'tier - 3'),
 ('Id22', 'Hribar, Ms.  Madelyn C', 'tier - 1'),
 ('Id23', 'Tassello, Ms.  Nicole', 'tier - 1'),
 ('Id24', 'Mauricette, Mr.  Eric A.', 'tier - 2'),
 ('Id25', 'Garcia, Mr.  Emiliano I.', 'tier - 1'),
 ('Id26', 'Airoldi, Mr.  Adam', 'tier - 3'),
 ('Id28', 'Hamm, Ms.  Stephanie W.', 'tier - 3'),
 ('Id29', 'Cox, Mr.  Stephen', 'tier - 1'),
 ('Id35', 'Bruestle, Ms.  Sydney L.', 'tier - 1'),
 ('Id40', 'Fisher, Mr.  Robert', 'tier - 2'),
 ('Id41', 'Jenkins, Mr.  James R.', 'tier - 3'),
 ('Id45', 'Januszewski, Mr.  Eric W', 'tier - 2'),
 ('Id46', 'Rohne, Ms.  Brianna L', 'tier - 1'),
 ('Id47', "O'Grady, Mr.  Thomas J.", 'tier - 2'),
 ('Id49', 'De Simone, Mr.  Flavio', 'tier - 3'),
 ('Id50', 'Beckett, Mr.  Ryan', 'tier - 2'),
 ('Id51', 'Sobrilsky, Mr.  Anthony J.', 'tier - 1'),
 ('Id53', 'Campa, Mr.  David', 'tier - 2'),
 ('Id56', 'Vishik, Ms.  Inna', 'tier - 3'),
 ('Id57', 'Schorr, Mr.  Ari', 'tier - 1'),
 ('Id61', 'Rieth, Mr.  Cameron', 'tier - 3'),
 ('Id65', 'Smith, Mr.  Bryson C.', 'tier - 3'),
 ('Id66', 'Hyland, Ms.  Megan', 'tier - 1'),
 ('Id67', 'Ducharme, Mr.  Daniel', 'tier - 1'),
 ('Id68', 'Johnson, Mr.  Steven M.', 'tier - 3'),
 ('Id71', 'Turner, Mr.  Jeff', 'tier - 1'),
 ('Id72', 'Rangel, Mr.  Elenilton V. Sr.', 'tier - 1'),
 ('Id73', 'Lacey, Ms.  Maurya', 'tier - 3'),
 ('Id75', 'Caldwell, Ms.  Bethany A', 'tier - 1'),
 ('Id76', 'Marmillod, Mr.  Yves', 'tier - 2'),
 ('Id81', 'Meyer, Ms.  Gwen M.', 'tier - 2'),
 ('Id83', 'Magee, Ms.  Kate', 'tier - 3'),
 ('Id84', 'Thoma, Mr.  Kevin', 'tier - 2'),
 ('Id85', 'Heagy, Mr.  Stephen II', 'tier - 3'),
 ('Id86', 'Regnier, Mr.  Philip', 'tier - 2'),
 ('Id87', 'Parendo, Mr.  Brett A', 'tier - 3'),
 ('Id89', 'Driscoll, Ms.  Kelley', 'tier - 2'),
 ('Id90', 'Mitchell, Ms.  Abigail K', 'tier - 2'),
 ('Id91', 'Cutler, Ms.  Hope', 'tier - 2'),
 ('Id93', 'Farina, Mr.  Nicholas', 'tier - 3'),
 ('Id95', 'Kratz, Ms.  Natalie', 'tier - 1'),
 ('Id96', 'Boland, Mr.  Thomas', 'tier - 3'),
 ('Id98', 'Ramsey, Ms.  Jessica', 'tier - 3'),
 ('Id103', 'Burns, Mr.  Robert M.', 'tier - 3'),
 ('Id105', 'Yitref, Mr.  Gedion', 'tier - 2'),
 ('Id106', 'Loudon-Brown, Mr.  Mark', 'tier - 3'),
 ('Id109', 'Potter, Ms.  Amanda', 'tier - 3'),
 ('Id110', 'Rasmussen, Mr.  Nicholas', 'tier - 2'),
 ('Id112', 'Antonopoulos, Ms.  Yianna', 'tier - 2'),
 ('Id114', 'Zywicki, Mr.  Benjamin P.', 'tier - 1'),
 ('Id115', 'Cardinal, Mr.  Craig', 'tier - 2'),
 ('Id117', 'Stroffolino, Mr.  Jamie P', 'tier - 1'),
 ('Id120', 'Keflezighi, Mr.  Meb', 'tier - 3'),
 ('Id123', 'Defranco, Ms.  Meredith', 'tier - 2'),
 ('Id126', 'Bejar, Mr.  Matthew P', 'tier - 3'),
 ('Id133', 'Taormina, Mr.  Nick', 'tier - 2'),
 ('Id135', 'Tavella, Ms.  Becky L', 'tier - 2'),
 ('Id136', 'Neufeld, Ms.  Steph K.', 'tier - 1'),
 ('Id137', 'Walhovd, Ms.  Kristine B.', 'tier - 2'),
 ('Id141', 'Atkins, Mr.  Cole', 'tier - 3'),
 ('Id144', 'Anderson, Mr.  Matthew S.', 'tier - 2'),
 ('Id146', 'Curtis, Ms.  Valeria R', 'tier - 3'),
 ('Id151', 'Yesian, Ms.  Bonnie', 'tier - 3'),
 ('Id153', 'Conlon, Mr.  Paul', 'tier - 2'),
 ('Id154', 'Arnstein, Mr.  Michael', 'tier - 3'),
 ('Id155', 'Jurek, Mr.  Samuel', 'tier - 2'),
 ('Id156', 'Thill, Mr.  Matthew', 'tier - 2'),
 ('Id157', 'Glaz, Mr.  Daniel', 'tier - 1'),
 ('Id159', 'Duliba, Ms.  Aleksandra', 'tier - 3'),
 ('Id160', 'Tanguay, Mr.  Steeve T Sr.', 'tier - 3'),
 ('Id163', 'Nishimura, Mr.  Akira', 'tier - 1'),
 ('Id165', 'Trenk, Ms.  Jana', 'tier - 1'),
 ('Id166', 'Wittmann, Mr.  Jay T.', 'tier - 3'),
 ('Id167', 'Tremblay, Ms.  Marie-Helene', 'tier - 3'),
 ('Id170', 'Torphy, Mr.  Bobby', 'tier - 3'),
 ('Id171', 'Busby, Ms.  Natalie', 'tier - 2'),
 ('Id173', 'Hanley, Mr.  Zebulon', 'tier - 1'),
 ('Id175', 'Rankin, Mr.  Greg', 'tier - 3'),
 ('Id176', 'Ricardi, Mr.  John', 'tier - 1'),
 ('Id180', 'King, Ms.  Jennifer L', 'tier - 2'),
 ('Id181', 'Samuelson, Ms.  Abby W.', 'tier - 1'),
 ('Id182', 'Fredsall, Mr.  Tyler', 'tier - 3'),
 ('Id183', 'Eggleston, Mr.  Jeffrey', 'tier - 3'),
 ('Id185', 'Silva, Mr.  Ryan J.', 'tier - 1'),
 ('Id186', 'Bugala, Ms.  Amy', 'tier - 2'),
 ('Id187', 'Dublin, Mr.  Andrew P', 'tier - 2'),
 ('Id188', 'Cleland, Mr.  George M. V', 'tier - 3'),
 ('Id190', 'Boyd, Ms.  Lara', 'tier - 3'),
 ('Id191', 'Roulier, Mr.  Sebastien', 'tier - 2'),
 ('Id193', 'Hofmann, Ms.  Heather', 'tier - 2'),
 ('Id194', 'Garcia Garcia, Mr.  Jorge', 'tier - 2'),
 ('Id195', 'Klecker, Mr.  Jack R', 'tier - 1'),
 ('Id196', 'Cancre, Mr.  Felix', 'tier - 3'),
 ('Id199', 'Weinberg, Ms.  Jill', 'tier - 2'),
 ('Id200', 'Walsh, Mr.  William', 'tier - 3'),
 ('Id201', 'Pasten, Mr.  Alejandro', 'tier - 2'),
 ('Id203', 'Guzman, Mr.  Hector Sr.', 'tier - 1'),
 ('Id206', 'Woodward, Ms.  Elizabeth H', 'tier - 1'),
 ('Id210', 'Looney, Ms.  Kate L', 'tier - 3'),
 ('Id211', 'Zyryanov, Mr.  Sergey', 'tier - 3'),
 ('Id213', 'Littlefield, Mr.  Andrew S', 'tier - 1'),
 ('Id214', 'Shearer, Mr.  Matthew D', 'tier - 1'),
 ('Id215', 'Armstrong, Ms.  Jessica', 'tier - 3'),
 ('Id216', 'Warriner, Mr.  Lawrence', 'tier - 2'),
 ('Id217', 'White, Mr.  Alex', 'tier - 2'),
 ('Id219', 'Hamilton, Mr.  Gavin M.', 'tier - 1'),
 ('Id220', 'Meyer, Mr.  Rick E', 'tier - 2'),
 ('Id222', 'Malatesta, Mr.  Anthony S', 'tier - 1'),
 ('Id224', 'Lucan, Ms.  Kiley D', 'tier - 1'),
 ('Id226', 'Smith, Mr.  Chris', 'tier - 2'),
 ('Id227', "O'Connor, Ms.  Marian M.", 'tier - 1'),
 ('Id229', 'Federoff, Ms.  Allison H', 'tier - 3'),
 ('Id230', 'Goya, Ms.  Elizabeth', 'tier - 3'),
 ('Id231', 'Hodges, Mr.  Andrew', 'tier - 3'),
 ('Id232', 'Erickson, Mr.  Anders J', 'tier - 2'),
 ('Id233', 'Welleck, Mr.  Sean', 'tier - 2'),
 ('Id235', 'Lynch, Mr.  Jeremy', 'tier - 3'),
 ('Id237', 'Doak, Mr.  Randy', 'tier - 3'),
 ('Id239', 'Heninger, Ms.  Brittany L.', 'tier - 1'),
 ('Id240', 'Richardson, Ms.  Cassie J.', 'tier - 3'),
 ('Id241', 'Deucher, Mr.  Peter W', 'tier - 2'),
 ('Id242', 'Wilson, Mr.  Douglas', 'tier - 2'),
 ('Id243', 'Hall, Mr.  Dan', 'tier - 1'),
 ('Id244', 'Reed, Mr.  Dan M.', 'tier - 3'),
 ('Id246', 'Creasy, Mr.  Les J', 'tier - 1'),
 ('Id250', 'Velardo, Ms.  Stephanie M.', 'tier - 2'),
 ('Id252', 'Escorcia, Ms.  Kelly', 'tier - 2'),
 ('Id253', 'Larscheid, Ms.  Carrie', 'tier - 3'),
 ('Id254', "O'Bannon, Mr.  Alex", 'tier - 3'),
 ('Id256', 'Black, Mr.  Alan', 'tier - 3'),
 ('Id257', 'Canton, Mr.  Nate', 'tier - 1'),
 ('Id258', 'Fine, Mr.  Jesse G.', 'tier - 2'),
 ('Id259', 'Bui, Mr.  Jason', 'tier - 2'),
 ('Id260', 'Riepma, Ms.  Megan A.', 'tier - 3'),
 ('Id262', 'Kruzel, Ms.  Jacy D', 'tier - 2'),
 ('Id264', 'Land, Ms.  Ainsley E.', 'tier - 3'),
 ('Id265', 'Brecher, Ms.  Erica A.', 'tier - 3'),
 ('Id268', 'Boyd, Ms.  Adrienne', 'tier - 2'),
 ('Id272', 'Maddison, Mr.  Stephen', 'tier - 1'),
 ('Id275', 'Jackson, Mr.  Shawn P.', 'tier - 2'),
 ('Id277', 'Guthals, Mr.  Nathaniel', 'tier - 2'),
 ('Id283', 'Walker, Mr.  Xaviour J.', 'tier - 2'),
 ('Id287', 'Jurgens, Ms.  Nancy M', 'tier - 2'),
 ('Id288', 'Hackman, Mr.  Matt', 'tier - 2'),
 ('Id289', 'Klarich, Mr.  Lee', 'tier - 3'),
 ('Id291', 'Fagerstrom, Mr.  Erik T.', 'tier - 2'),
 ('Id293', 'Hess, Mr.  Joey', 'tier - 3'),
 ('Id294', 'Shaw, Ms.  Hillary L.', 'tier - 1'),
 ('Id295', 'Williams, Mr.  Eric J', 'tier - 3'),
 ('Id296', 'Menzies, Mr.  Nicolas', 'tier - 1'),
 ('Id299', 'Arsenault, Mr.  Evan D', 'tier - 1'),
 ('Id301', 'Hall, Mr.  Kyle', 'tier - 2'),
 ('Id303', 'Rindahl, Mr.  Martin A.', 'tier - 1'),
 ('Id304', 'Clark, Ms.  Stacey', 'tier - 1'),
 ('Id305', 'Irish, Ms.  Christine', 'tier - 2'),
 ('Id306', 'Richardson, Ms.  Sarah C.', 'tier - 1'),
 ('Id307', 'Dewitt, Ms.  Megan', 'tier - 3'),
 ('Id309', 'Gonzalez, Ms.  Michele', 'tier - 3'),
 ('Id310', 'Difani, Ms.  Nikki', 'tier - 1'),
 ('Id311', 'Turner, Mr.  Philip J.', 'tier - 1'),
 ('Id312', 'Widmann, Mr.  Bryan L', 'tier - 3'),
 ('Id314', 'San Juan, Ms.  Angielyn M', 'tier - 2'),
 ('Id315', 'Croll, Ms.  Jeanie M.', 'tier - 2'),
 ('Id316', 'Rolfes, Mr.  Greg', 'tier - 1'),
 ('Id318', 'Leuchanka, Mr.  Aliaksandr', 'tier - 1'),
 ('Id319', 'Ayr, Mr.  Jason M.', 'tier - 3'),
 ('Id321', 'Penrose, Ms.  Janice', 'tier - 3'),
 ('Id326', 'Potere, Mr.  Erik F.', 'tier - 1'),
 ('Id327', 'Podgurski, Mr.  Andrew', 'tier - 3'),
 ('Id331', 'Chatfield, Mr.  Caleb N', 'tier - 2'),
 ('Id332', 'Bruns, Mr.  Jason M.', 'tier - 3'),
 ('Id333', 'Yochum, Ms.  Angela R', 'tier - 1'),
 ('Id334', 'Freeburn, Mr.  Keith J', 'tier - 1'),
 ('Id335', 'Spencer, Ms.  Emma', 'tier - 2'),
 ('Id336', 'Jarosik, Mr.  Nathan A', 'tier - 1'),
 ('Id338', 'Kelley, Ms.  Elizabeth H.', 'tier - 2'),
 ('Id340', 'Jeseritz, Ms.  Cheryl A', 'tier - 3'),
 ('Id342', 'Hill, Ms.  Cynthia', 'tier - 3'),
 ('Id345', 'Pitt, Ms.  Allison', 'tier - 3'),
 ('Id346', 'Lorton, Mr.  Alex', 'tier - 3'),
 ('Id347', 'Castaneda, Ms.  Gabriela', 'tier - 1'),
 ('Id349', 'Howell, Mr.  Jason A', 'tier - 2'),
 ('Id356', 'Daniels, Ms.  Marie', 'tier - 1'),
 ('Id361', 'Arcand, Mr.  Pierre-Michel', 'tier - 3'),
 ('Id367', 'Susmann, Mr.  Austin W', 'tier - 2'),
 ('Id368', 'Harsh, Ms.  Berenice', 'tier - 1'),
 ('Id369', 'Pocasangre, Mr.  Kenneth A', 'tier - 3'),
 ('Id370', 'Martinez Lopez, Mr.  Miguel', 'tier - 3'),
 ('Id372', 'Monson, Mr.  Taylor', 'tier - 2'),
 ('Id376', 'Ornelas, Mr.  Zachary', 'tier - 3'),
 ('Id377', 'Fitzpatrick, Mr.  Michael', 'tier - 2'),
 ('Id381', 'Earle, Ms.  Sara E.', 'tier - 2'),
 ('Id384', 'Graham, Ms.  Danielle', 'tier - 2'),
 ('Id386', 'Wegener, Mr.  Joel D', 'tier - 3'),
 ('Id388', 'Murphy, Mr.  Michael J.', 'tier - 1'),
 ('Id390', 'Cook, Ms.  Summer B.', 'tier - 1'),
 ('Id391', 'Breen, Mr.  Edward', 'tier - 2'),
 ('Id392', 'Fitzsimons, Mr.  Ryan', 'tier - 3'),
 ('Id394', 'Woodward, Mr.  Dave', 'tier - 3'),
 ('Id395', 'Ray, Ms.  Maryanna', 'tier - 1'),
 ('Id396', 'Jennings, Ms.  Jessica H.', 'tier - 3'),
 ('Id398', 'Lovisek, Mr.  Peter', 'tier - 3'),
 ('Id399', 'Painter, Ms.  Rebecca', 'tier - 3'),
 ('Id401', 'Liebl, Mr.  Gregory', 'tier - 2'),
 ('Id402', 'Kasabian-Larson, Ms.  Sarah E.', 'tier - 3'),
 ('Id403', 'Creamer, Ms.  Anne Elise', 'tier - 3'),
 ('Id407', 'Nunlist, Mr.  Corey', 'tier - 2'),
 ('Id408', 'Cutter, Mr.  Patrick D.', 'tier - 1'),
 ('Id409', 'Martin, Mr.  Anthony D.', 'tier - 3'),
 ('Id410', 'Cooney, Ms.  Melissa', 'tier - 2'),
 ('Id411', 'Bier, Ms.  Raven', 'tier - 2'),
 ('Id412', 'Muskopf, Mr.  Christopher', 'tier - 3'),
 ('Id413', 'Sirak, Ms.  Kendra A', 'tier - 1'),
 ('Id414', 'Nelsen, Ms.  Jordan', 'tier - 1'),
 ('Id415', 'Schallner, Mr.  Nils', 'tier - 2'),
 ('Id416', 'Dunlap, Mr.  Scott', 'tier - 3'),
 ('Id418', 'Bondell, Ms.  Allison', 'tier - 3'),
 ('Id420', 'Gruman, Ms.  Tracy M', 'tier - 3'),
 ('Id422', 'Robinson, Ms.  Jenny', 'tier - 2'),
 ('Id423', 'Sabo, Ms.  Emily', 'tier - 3'),
 ('Id424', 'Nazarian, Ms.  Fabienne', 'tier - 2'),
 ('Id426', 'Dahl, Mr.  Matt', 'tier - 3'),
 ('Id428', 'Spetner, Ms.  Temima', 'tier - 1'),
 ('Id429', 'Brandon, Ms.  Jennifer', 'tier - 1'),
 ('Id431', 'Sedicum, Ms.  Victoria M.', 'tier - 2'),
 ('Id432', 'Markle, Ms.  Phoebe', 'tier - 2'),
 ('Id434', 'Wimert, Ms.  Rebecca', 'tier - 3'),
 ('Id435', 'Peterson, Mr.  Nicholas D', 'tier - 3'),
 ('Id437', 'Laurie, Mr.  Jonathon S.', 'tier - 2'),
 ('Id438', 'Sekaquaptewa, Ms.  Caroline', 'tier - 3'),
 ('Id439', 'Frash, Mr.  Joshua D.', 'tier - 2'),
 ('Id441', 'Sandahl, Ms.  Denise M', 'tier - 3'),
 ('Id442', 'Speight, Mr.  Peter R.', 'tier - 3'),
 ('Id443', 'Lee, Mr.  Johnson K', 'tier - 2'),
 ('Id444', 'Nielsen, Ms.  Katherine', 'tier - 2'),
 ('Id445', 'Zirdok, Ms.  Lynda', 'tier - 2'),
 ('Id446', 'Crudale, Mr.  Anthony', 'tier - 1'),
 ('Id447', 'Koopmans, Ms.  Linnea C.', 'tier - 2'),
 ('Id448', 'Milani, Mr.  Massimiliano A.', 'tier - 1'),
 ('Id449', 'Kelly, Mr.  James M.', 'tier - 3'),
 ('Id457', 'Muir, Mr.  Lee', 'tier - 3'),
 ('Id458', 'Yang, Mr.  Shizhong', 'tier - 1'),
 ('Id459', 'Gravel, Ms.  Marie-Claire', 'tier - 1'),
 ('Id460', 'Smith, Mr.  Todd J.', 'tier - 1'),
 ('Id461', 'Williams, Ms.  Carolyn', 'tier - 2'),
 ('Id462', 'Meyer, Ms.  Lindsey', 'tier - 1'),
 ('Id465', 'Sansonetti, Ms.  Danielle', 'tier - 3'),
 ('Id469', 'Canitz, Ms.  Corina', 'tier - 1'),
 ('Id473', 'Frome, Mr.  Gavin V.', 'tier - 1'),
 ('Id475', 'Narang, Mr.  Jatin', 'tier - 2'),
 ('Id476', 'Royston, Mr.  J P. II', 'tier - 3'),
 ('Id477', 'Tieri, Ms.  Angela M.', 'tier - 1'),
 ('Id479', 'Wandzilak, Mr.  Brian T.', 'tier - 3'),
 ('Id480', 'Valenzona, Mr.  Damon', 'tier - 1'),
 ('Id483', 'Alexson, Ms.  Margaret B.', 'tier - 2'),
 ('Id484', 'Wright, Ms.  Helen', 'tier - 2'),
 ('Id489', 'Catoggio, Mr.  Timothy', 'tier - 3'),
 ('Id490', 'Adams, Mr.  Scott', 'tier - 3'),
 ('Id491', 'Windt, Ms.  Carly E', 'tier - 3'),
 ('Id494', 'Raffetto, Mr.  Louis', 'tier - 1'),
 ('Id495', 'Young, Mr.  Brian R.', 'tier - 1'),
 ('Id496', 'Oehlke, Mrs.  Jessica', 'tier - 3'),
 ('Id498', 'Van Es, Mr.  Chris', 'tier - 3'),
 ('Id499', 'Dolge, Ms.  Karen', 'tier - 1'),
 ('Id500', 'Marlier, Ms.  Jessica', 'tier - 3'),
 ('Id504', 'Koester, Ms.  Freya R', 'tier - 3'),
 ('Id506', 'Rubinich, Ms.  Kara', 'tier - 2'),
 ('Id508', 'Corcoran, Mr.  Brendan', 'tier - 3'),
 ('Id510', 'Watson, Mr.  Sean K', 'tier - 3'),
 ('Id511', 'Esponda, Mr.  Rick', 'tier - 3'),
 ('Id513', 'Poskin, Mr.  Brady', 'tier - 1'),
 ('Id517', 'Hicks, Ms.  Amanda', 'tier - 1'),
 ('Id518', 'Lockyer, Ms.  Karen', 'tier - 2'),
 ('Id520', 'Norris, Ms.  Sabine', 'tier - 3'),
 ('Id521', 'Darda, Mr.  Joseph', 'tier - 3'),
 ('Id522', 'Otstot, Mr.  Adam', 'tier - 1'),
 ('Id523', 'Bowley, Ms.  Karolyn A', 'tier - 3'),
 ('Id524', 'Rogers, Mrs.  Anita L.', 'tier - 1'),
 ('Id525', 'Mclaughlin, Ms.  Laura E.', 'tier - 3'),
 ('Id526', 'Ziegler, Ms.  Sarah', 'tier - 2'),
 ('Id527', 'Hughey, Mrs.  Ashley E', 'tier - 1'),
 ('Id528', 'Knast, Ms.  Lindsey', 'tier - 3'),
 ('Id530', 'Jensen, Mr.  Dan R.', 'tier - 2'),
 ('Id531', 'Mutter, Ms.  Katie', 'tier - 1'),
 ('Id532', 'Ahern, Mr.  Eric', 'tier - 1'),
 ('Id533', 'Chviruk, Ms.  Cathryn', 'tier - 2'),
 ('Id535', 'Gammon, Ms.  Shauna', 'tier - 3'),
 ('Id536', 'Lee, Mr.  Terence', 'tier - 1'),
 ('Id537', 'Franco, Ms.  Marisol', 'tier - 3'),
 ('Id538', 'Patterson, Ms.  Lindsay', 'tier - 2'),
 ('Id540', 'Craig, Mr.  Daniel', 'tier - 3'),
 ('Id541', 'Whipple, Mr.  Brett W', 'tier - 3'),
 ('Id542', 'Marton, Mr.  Dylan J', 'tier - 1'),
 ('Id543', 'Hildebrandt, Ms.  Elizabeth', 'tier - 3'),
 ('Id544', 'Biggs, Ms.  Brooke M.', 'tier - 1'),
 ('Id545', 'Shigezumi, Mrs.  Teiko', 'tier - 2'),
 ('Id546', 'Meineke, Mr.  Zachary', 'tier - 1'),
 ('Id549', 'Cervantes, Mr.  Andres Sr.', 'tier - 3'),
 ('Id553', 'Stone, Mr.  Jeb', 'tier - 3'),
 ('Id554', 'Campbell, Ms.  Amy R.', 'tier - 2'),
 ('Id556', 'Mazzotta, Mr.  Mike G', 'tier - 2'),
 ('Id557', 'Huttl, Ms.  Simonezitrone Sr.', 'tier - 2'),
 ('Id558', 'Ferron, Mr.  Nicholas', 'tier - 3'),
 ('Id559', 'Colarusso, Ms.  Angela M', 'tier - 1'),
 ('Id562', 'Niska, Mr.  Bobby E.', 'tier - 3'),
 ('Id564', 'Zidek, Ms.  Marie E.', 'tier - 2'),
 ('Id569', 'Strong, Ms.  Kayla B.', 'tier - 1'),
 ('Id570', 'Ferguson, Mr.  Mark D.', 'tier - 1'),
 ('Id571', 'Klein, Mr.  Patrick J.', 'tier - 3'),
 ('Id572', 'Eusebio, Mr.  Alejandro', 'tier - 3'),
 ('Id573', 'Szolosi, Mrs.  Beth A', 'tier - 3'),
 ('Id575', 'Fukuchi, Mr.  Yoshinori', 'tier - 2'),
 ('Id576', 'Drucker, Ms.  Adrienne G.', 'tier - 2'),
 ('Id578', 'Pak, Mr.  Junyong', 'tier - 3'),
 ('Id580', 'Velez, Ms.  Maria I.', 'tier - 2'),
 ('Id586', 'Rotich, Ms.  Caroline', 'tier - 2'),
 ('Id588', 'Mattis, Ms.  Shanda L', 'tier - 3'),
 ('Id592', 'Johnson, Ms.  Mary', 'tier - 1'),
 ('Id594', 'Laleman, Mrs.  Kelly J', 'tier - 1'),
 ('Id595', 'Colby, Ms.  Greer D', 'tier - 2'),
 ('Id596', 'Wathke, Mr.  Brent', 'tier - 2'),
 ('Id598', 'Dillon, Ms.  Erin D', 'tier - 1'),
 ('Id599', 'Pontes, Ms.  Kamilla', 'tier - 2'),
 ('Id600', 'Spies, Mr.  Wayne I.', 'tier - 1'),
 ('Id601', 'Greig, Ms.  Tracy L', 'tier - 3'),
 ('Id603', 'Erlandson, Mrs.  Megan C', 'tier - 3'),
 ('Id604', 'Autrey, Mr.  Jonathan', 'tier - 3'),
 ('Id605', 'Alleman, Mr.  Greg D.', 'tier - 2'),
 ('Id607', 'Grillo, Mr.  Gianfilippo', 'tier - 1'),
 ('Id608', 'Coronado, Mr.  Hector', 'tier - 2'),
 ('Id611', 'Neems, Mr.  Justin', 'tier - 3'),
 ('Id612', 'Pesyna, Ms.  Megan A.', 'tier - 1'),
 ('Id613', 'Meling, Ms.  Erika M.', 'tier - 1'),
 ('Id615', 'Nadar, Ms.  Devin C.', 'tier - 2'),
 ('Id616', 'Turner, Ms.  Louise A', 'tier - 2'),
 ('Id618', 'Leedham, Ms.  Amy', 'tier - 3'),
 ('Id624', 'Coon, Mr.  Craig R.', 'tier - 3'),
 ('Id625', 'Vanttinen, Mr.  Simo', 'tier - 2'),
 ('Id628', 'Lawson, Mrs.  Meghann R.', 'tier - 2'),
 ('Id629', 'Cale, Mr.  Scott M', 'tier - 2'),
 ('Id633', 'Mutai, Mr.  Christopher', 'tier - 3'),
 ('Id635', 'Bruns, Mr.  Zachary T', 'tier - 3'),
 ('Id638', 'McLucas, Mr.  Doug', 'tier - 2'),
 ('Id641', 'Otsuka, Mr.  Takuo', 'tier - 3'),
 ('Id643', 'Myers, Mr.  Scott', 'tier - 3'),
 ('Id644', 'Cote, Mr.  Benoit', 'tier - 2'),
 ('Id648', 'Lanza, Mr.  Kevin L', 'tier - 3'),
 ('Id649', 'Picklesimer, Mr.  Gregory', 'tier - 1'),
 ('Id653', 'Tseronis, Mr.  Tasos', 'tier - 1'),
 ('Id654', 'Aliff, Mr.  Thomas', 'tier - 1'),
 ('Id657', 'Haley, Ms.  Meta', 'tier - 3'),
 ('Id658', 'Ackerman, Ms.  Rachel E', 'tier - 1'),
 ('Id660', 'Michaud, Ms.  Kathleen', 'tier - 2'),
 ('Id661', 'Gunnink, Mr.  Gabriel D.', 'tier - 3'),
 ('Id665', 'Heitzman, Ms.  Ariel E', 'tier - 2'),
 ('Id666', 'Tatton, Mr.  Christopher P', 'tier - 2'),
 ('Id668', 'Funk, Mrs.  Molly K.', 'tier - 3'),
 ('Id669', 'Davenport, Mr.  Ryan J.', 'tier - 3'),
 ('Id674', 'Gayagoy, Ms.  Kristi', 'tier - 1'),
 ('Id675', 'Fitzmaurice, Ms.  Meredith L.', 'tier - 1'),
 ('Id681', 'Pena, Ms.  Carolina', 'tier - 1'),
 ('Id683', 'Hancox, Ms.  Jessica', 'tier - 1'),
 ('Id686', 'Mulley, Mr.  Russell J', 'tier - 2'),
 ('Id687', 'Parry, Ms.  Karine', 'tier - 2'),
 ('Id690', 'Nelson, Ms.  Adriana', 'tier - 3'),
 ('Id691', 'Forte, Ms.  Miranda J', 'tier - 1'),
 ('Id695', 'Looi, Mr.  Alexander', 'tier - 3'),
 ('Id696', 'Power, Mr.  Rich M', 'tier - 2'),
 ('Id697', 'Routon, Mr.  Aaron C', 'tier - 1'),
 ('Id699', 'Gillespie, Ms.  Maria M', 'tier - 2'),
 ('Id700', 'Oskvig, Mr.  Daven W', 'tier - 2'),
 ('Id702', 'Arai, Mr.  Hiroki', 'tier - 2'),
 ('Id703', 'Olausson, Mr.  Anders', 'tier - 3'),
 ('Id704', 'Wagner, Ms.  Danielle', 'tier - 2'),
 ('Id705', 'Delong, Ms.  Candace N', 'tier - 3'),
 ('Id707', 'Machiela, Ms.  Emily', 'tier - 2'),
 ('Id708', 'Young, Mrs.  Katie', 'tier - 2'),
 ('Id710', 'Iandolo, Ms.  Meaghan J', 'tier - 3'),
 ('Id711', 'Ito, Ms.  Rina', 'tier - 1'),
 ('Id712', 'Barry, Ms.  Kristin P.', 'tier - 1'),
 ('Id713', 'Boyce, Mr.  Albert', 'tier - 2'),
 ('Id714', 'Lin, Mrs.  Ashley', 'tier - 1'),
 ('Id716', 'Nalven, Ms.  Amy B', 'tier - 1'),
 ('Id717', 'Bourgeois, Ms.  A Danielle', 'tier - 3'),
 ('Id718', 'Orloff, Mr.  Conrad F', 'tier - 1'),
 ('Id722', 'Burgin, Ms.  Melissa', 'tier - 3'),
 ('Id723', 'Roberts, Ms.  Laura P.', 'tier - 2'),
 ('Id724', 'Nemec, Mrs.  Lisa', 'tier - 1'),
 ('Id725', 'Appman, Mr.  William D. Jr.', 'tier - 1'),
 ('Id727', 'Glotzbach, Mr.  John', 'tier - 2'),
 ('Id730', 'Stanley Torres, Ms.  Dana', 'tier - 2'),
 ('Id731', 'Vandongen, Ms.  Jennifer L', 'tier - 3'),
 ('Id733', 'Holte, Ms.  Tanya', 'tier - 2'),
 ('Id736', 'Bergman, Ms.  Kelly R', 'tier - 1'),
 ('Id737', 'Aitken, Mr.  Kyle', 'tier - 1'),
 ('Id738', 'Berger, Mr.  Bruce A Jr.', 'tier - 3'),
 ('Id739', 'Richey, Mr.  Cary J', 'tier - 2'),
 ('Id740', 'Trotter, Mrs.  Jill M', 'tier - 3'),
 ('Id741', 'Chavez, Mr.  Chris', 'tier - 1'),
 ('Id742', 'Orifice, Mr.  Michael E.', 'tier - 2'),
 ('Id743', 'Farkash, Mrs.  Lauren', 'tier - 2'),
 ('Id746', 'Sittlington, Mr.  Mark H.', 'tier - 2'),
 ('Id748', 'Carrique, Mr.  Chris', 'tier - 2'),

**Task 11: Average BMI by City Tier in 1995**

This project aims to calculate the average BMI for each city tier level in the year 1995 from the hospitalization_details table. Analyzing the average BMI across different city tiers allows us to understand the variations in health parameters among urban areas. It provides insights that can be used for health planning, resource allocation, and identifying potential health trends.n.

In [30]:
%%sql
select h.city_tier, AVG(m.BMI) as avg_bmi 
FROM hospitalisation_details AS h
JOIN medical_examinations AS m ON h.customer_id = m.customer_id
where year = 1995
group by h.city_tier

 * postgresql://postgres:***@localhost:5432/Medical
3 rows affected.

[('tier - 1', 29.818666666666672),
 ('tier - 3', 30.685714285714283),
 ('tier - 2', 29.43235294117647)]

**Task 12: High BMI Customers with Health Issues**

In this project, we extract customer IDs, names, and charges of customers who have health issues and a BMI greater than 30. By combining data from the names, medical_examinations, and hospitalization_details tables, we can identify individuals with specific health concerns and high BMI levels. This information is valuable for targeted healthcare interventions and assessing associated healthcare costs.n.

In [31]:
%%sql
SELECT n.customer_id, n.name, h.charges
FROM hospitalisation_details AS h
JOIN medical_examinations AS m ON h.customer_id = m.customer_id
JOIN names AS n ON n.customer_id = m.customer_id
where health_issues = 'yes' and m.BMI > 30;

 * postgresql://postgres:***@localhost:5432/Medical
488 rows affected.

[('Id2223', 'Young, Mr.  Zachary', 1526.31),
 ('Id2222', 'Lawder, Mr.  Matthew T.', 1532.47),
 ('Id2221', 'Sanseverino, Mr.  Cole', 1534.3),
 ('Id2155', 'Waters, Mr.  Brian W.', 1909.53),
 ('Id2154', 'Lutz, Mr.  Zachary A', 1917.32),
 ('Id2143', 'Deiman, Ms.  Lena', 2020.18),
 ('Id2142', 'Putt, Ms.  Tammy', 2020.55),
 ('Id2141', 'De Hueck, Ms.  Jennifer', 2026.97),
 ('Id2139', 'Gamirov, Mr.  Arthur', 2055.32),
 ('Id2102', 'Goetz, Mr.  Justin', 2254.8),
 ('Id2095', 'Fonti, Mr.  Massimiliano', 2322.62),
 ('Id2088', 'Teeuwen, Ms.  Rosalie', 2404.73),
 ('Id2078', 'Beganics, Mr.  Kevin L', 2494.02),
 ('Id2077', 'Croker, Mr.  Nicholas', 2497.04),
 ('Id2076', 'Friedman, Mr.  Robert J.', 2498.41),
 ('Id2071', 'Walsh, Mr.  Anthony S', 2534.39),
 ('Id2063', 'Flynn, Ms.  Stefanie A', 2632.99),
 ('Id2056', 'Nunn, Mr.  Jeremy M', 2699.57),
 ('Id2049', 'Kennedy, Mr.  Morgan', 2727.4),
 ('Id2046', 'McLaughlin, Ms.  Christy', 2741.95),
 ('Id2026', 'Parton, Mr.  Nicholas E.', 2927.06),
 ('Id2019', 'Dunn, Ms.  Alyson', 3021.81),
 ('Id1999', 'Shaw, Ms.  Carolyn', 3201.25),
 ('Id1995', 'Zicko, Ms.  Tatyana K', 3227.12),
 ('Id1994', 'Mayo, Ms.  Susan', 3238.44),
 ('Id1988', 'Saulnier, Mr.  Emmett', 3292.53),
 ('Id1975', 'Cackett, Ms.  Rachel B.', 3410.32),
 ('Id1974', 'Nahigian, Ms.  Laurie B', 3434.38),
 ('Id1972', 'Dennison, Mr.  Joshua', 3443.06),
 ('Id1966', 'Clifford, Mr.  Thomas G.', 3490.55),
 ('Id1955', 'Schubel, Ms.  Leah C.', 3578.0),
 ('Id1954', 'Green, Ms.  Amber', 3579.83),
 ('Id1940', 'McGinn, Mr.  Michael P.', 3693.43),
 ('Id1921', 'Burkholder, Mrs.  Bryn', 3858.51),
 ('Id1917', 'Wardian, Mr.  Michael', 3877.3),
 ('Id1909', 'Farvard, Mr.  Rod', 3935.18),
 ('Id1905', 'Ngo, Ms.  Tiffany K', 3956.07),
 ('Id1902', 'Sayre, Ms.  Sara', 3987.93),
 ('Id1891', 'Gilbert, Mr.  John', 4058.71),
 ('Id1871', 'Coffed, Mr.  Dougie J', 4260.74),
 ('Id1866', 'Lapp, Mr.  Samuel M.', 4320.41),
 ('Id1855', 'Thompson, Mr.  Mark D', 4402.23),
 ('Id1838', 'Sakamoto, Mr.  Takaya', 4504.66),
 ('Id1833', 'Nyambaso, Mr.  Zachariah', 4518.83),
 ('Id1830', 'Boyd, Mr.  Caleb', 4536.26),
 ('Id1822', 'Hendrix, Mr.  Austin D', 4646.76),
 ('Id1785', 'Cho, Mr.  Youngseong', 4846.53),
 ('Id1784', 'Mattis, Mr.  James A', 4846.92),
 ('Id1766', 'Whitbeck, Mr.  Ben', 4999.04),
 ('Id1762', 'Andre, Ms.  Stephanie L.', 5012.47),
 ('Id1758', 'Tjong Clemons, Mrs.  Christie', 5038.57),
 ('Id1757', 'Hall, Mr.  Kyle M', 5043.13),
 ('Id1756', 'Michalis, Ms.  Pilar', 5045.15),
 ('Id1749', 'Brian, Mr.  Tom', 5124.19),
 ('Id1735', 'Wolter, Mrs.  Sarah P.', 5216.48),
 ('Id1725', 'Morgan, Ms.  Micah', 5272.18),
 ('Id1713', 'Stevens, Mr.  Tyler', 5373.36),
 ('Id1711', 'De Jesus, Mr.  Jose Guadalupe P. Sr.', 5377.46),
 ('Id1685', 'Goldsby, Mr.  Thomas J', 5584.31),
 ('Id1683', 'Palmer, Ms.  Jacqueline', 5594.85),
 ('Id1679', 'McCarron, Ms.  Emma L.', 5649.72),
 ('Id1677', 'Gosnell, Ms.  Theresa', 5662.23),
 ('Id1672', 'Marcus, Mr.  Jake', 5699.84),
 ('Id1670', 'Larue, Mr.  Bob R', 5709.16),
 ('Id1665', 'Tusso, Mr.  Robert B', 5757.41),
 ('Id1658', 'Bannon, Mrs.  Annika', 5843.99),
 ('Id1637', 'Rediger, Ms.  Andrea K.', 5989.52),
 ('Id1633', 'Oberndorfer, Ms.  Christina', 6061.8),
 ('Id1626', 'Mooney, Mrs.  Allie', 6111.95),
 ('Id1625', 'Testa, Ms.  Rebecca', 6112.35),
 ('Id1610', 'Crain, Ms.  Amy L', 6185.32),
 ('Id1609', 'Howery, Ms.  Katie', 6186.13),
 ('Id1608', 'Lizak, Ms.  Marisa A', 6196.45),
 ('Id1601', 'Carson, Ms.  Barbara G.', 6238.3),
 ('Id1596', 'Carron, Mrs.  Angela R.', 6261.2),
 ('Id1591', 'Hengoed, Mr.  Joseph', 6289.75),
 ('Id1590', 'Arsenault, Mr.  Christopher', 6293.63),
 ('Id1585', 'Duhon, Mrs.  Madeline E.', 6313.76),
 ('Id1582', 'Kelley, Mr.  Spencer A.', 6338.08),
 ('Id1581', 'Goldberg, Mr.  Samuel L', 6356.27),
 ('Id1578', 'Wu, Mr.  Liang', 6361.47),
 ('Id1573', 'Zywek, Mr.  Maciej', 6389.53),
 ('Id1564', 'Ryan, Mr.  Paul', 6435.62),
 ('Id1547', 'Nolan, Ms.  Alison L.', 6571.02),
 ('Id1518', 'Manuel, Ms.  Lauren', 6775.96),
 ('Id1517', 'Theriault, Ms.  Jodi', 6781.35),
 ('Id1515', 'Reisenauer, Mr.  Matthew', 6796.86),
 ('Id1504', 'Thomas, Mr.  Justin C', 6875.96),
 ('Id1488', 'Peck, Mr.  Stephen M', 7042.11),
 ('Id1461', 'Bien, Ms.  Katie', 7209.49),
 ('Id1455', 'Kuehler, Mr.  Jon', 7256.72),
 ('Id1454', 'Groff, Mr.  Adam C', 7261.74),
 ('Id1452', 'Goode, Mr.  Adam', 7265.7),
 ('Id1434', 'Goldstein, Ms.  Allison', 7358.18),
 ('Id1432', 'Monette, Ms.  Nicole', 7371.77),
 ('Id1429', 'Smith, Ms.  Carolyn', 7418.52),
 ('Id1421', 'Nettik, Ms.  Jenni', 7450.36),
 ('Id1419', 'Waliaula, Mr.  James', 7487.38),
 ('Id1417', 'Hartman, Ms.  Lindsay M', 7504.3),
 ('Id1408', 'Lattin, Mr.  Eric W', 7607.03),
 ('Id1406', 'Sulkowski, Mr.  Adam', 7623.13),
 ('Id1401', 'Hodge, Ms.  Jessica F.', 7636.92),
 ('Id1392', 'Blois, Mr.  Michael', 7670.75),
 ('Id1391', 'Kelly, Mr.  Joseph P', 7676.4),
 ('Id1378', 'Reddy, Ms.  Lauren C', 7749.16),
 ('Id1377', 'Garey, Mr.  Rick', 7763.06),
 ('Id1374', 'Montez, Mr.  Ricky', 7803.77),
 ('Id1370', 'Babler, Mr.  Jesse J', 7844.8),
 ('Id1364', 'McGraw, Ms.  Keara', 7954.52),
 ('Id1357', 'Flynn, Ms.  Jackie J', 8014.62),
 ('Id1347', 'Dye, Mr.  Tyler', 8062.76),
 ('Id1345', "O'Kelly, Mr.  Brian", 8068.19),
 ('Id1342', 'Cochrane, Ms.  Krysta', 8081.26),
 ('Id1340', 'Chaisson, Mr.  Stan J', 8083.92),
 ('Id1329', 'Tedsen, Mrs.  Elizabeth A', 8182.89),
 ('Id1323', 'Deba, Ms.  Buzunesh', 8240.59),
 ('Id1319', 'Palko, Mr.  Dustin J', 8271.46),
 ('Id1312', 'Hammer, Mr.  Peter', 8334.46),
 ('Id1311', 'Beaty, Mr.  Sean R', 8334.59),
 ('Id1310', 'Lapierre, Mr.  Yannick', 8342.91),
 ('Id1309', 'Roy, Mr.  Daniel G', 8347.16),
 ('Id1288', 'Overpeck, Ms.  Sarah', 8538.29),
 ('Id1285', 'Bokun, Ms.  Rebecca E', 8551.35),
 ('Id1284', 'Wegner, Ms.  Lana J', 8556.91),
 ('Id1283', 'Reed, Mr.  Erik', 8567.25),
 ('Id1282', 'Amato, Ms.  Jennifer D.', 8569.86),
 ('Id1278', 'Willsey, Ms.  Jana L', 8596.83),
 ('Id1264', 'Deng, Mr.  Guomin', 8733.23),
 ('Id1257', 'McGrane, Mr.  Michael', 8821.88),
 ('Id1255', 'Bonzi, Ms.  Maria S.', 8823.99),
 ('Id1254', 'Rohde, Mrs.  Jennifer', 8824.27),
 ('Id1253', 'Long, Ms.  Claire M', 8825.09),
 ('Id1247', 'Maina, Mr.  Stanley', 8906.14),
 ('Id1243', 'Dannenhauer, Mr.  Rafer', 8944.12),
 ('Id1229', 'Shafer, Mr.  Dan', 9140.95),
 ('Id1228', 'Harris, Mr.  Stephen A.', 9144.57),
 ('Id1221', 'Tadesse, Mr.  Fasil', 9210.06),
 ('Id1206', 'Ciabattoni, Mr.  Warren', 9320.26),
 ('Id1205', 'Bonilla, Mrs.  Veronica', 9338.61),
 ('Id1204', 'Langerak, Mr.  Bruce', 9344.2),
 ('Id1197', 'Hodge, Ms.  Brenda J', 9411.01),
 ('Id1196', 'Christensen, Ms.  Rachelle R', 9414.92),
 ('Id1195', 'Steele-Belkin, Ms.  Dara', 9432.93),
 ('Id1188', 'Jackson, Mr.  Jacob', 9504.31),
 ('Id1177', 'Manfredi, Mr.  Mark G', 9584.04),
 ('Id1172', 'Capriccioso, Ms.  Christina', 9625.92),
 ('Id1167', 'Roecker, Ms.  Samantha', 9634.54),
 ('Id1164', 'Auger, Ms.  Pascale', 9664.34),
 ('Id1158', 'Blanco, Mr.  Jose Antonio Sr.', 9722.77),
 ('Id1157', 'Sprieser, Mr.  Steven', 9724.53),
 ('Id1156', 'Segall, Mr.  Cary', 9748.91),
 ('Id1155', 'Mossler, Ms.  Emily E', 9753.49),
 ('Id1152', 'Diviney, Mr.  Ciaran', 9787.32),
 ('Id1134', 'Zoeller, Ms.  Lara', 9894.69),
 ('Id1131', 'Kuramoto, Mrs.  Rachelle L', 9930.64),
 ('Id1130', 'Koren, Ms.  Katie', 9931.96),
 ('Id1125', "O'Brien, Mrs.  Jamie", 10011.44),
 ('Id1121', 'Datwyler, Mr.  Thomas C.', 10072.06),
 ('Id1120', 'Michell, Mr.  Robert G.', 10085.85),
 ('Id1116', 'Chenard, Ms.  Melissa M.', 10115.01),
 ('Id1114', 'Schaaf, Ms.  Gisele', 10139.84),
 ('Id1112', 'Davis, Mrs.  Laura J', 10146.13),
 ('Id1109', 'Bauman, Mrs.  Sheridan H', 10191.82),
 ('Id1106', 'Paul, Mr.  Charlie', 10226.28),
 ('Id1104', 'Borror, Ms.  Kaitlin R.', 10259.13),
 ('Id1100', 'Brown, Mr.  Scott A.', 10276.99),
 ('Id1095', 'Kidwell, Mr.  Matthew', 10325.21),
 ('Id1074', 'Dirth, Mr.  Eric', 10461.98),
 ('Id1067', 'Lenhoff, Ms.  Karen L', 10564.88),
 ('Id1065', 'Vallejo Sarmiento, Ms.  Yazmin', 10579.71),
 ('Id1064', 'Aguila, Mr.  Anton', 10594.23),
 ('Id1061', 'Dockemeyer, Mr.  Kevin J', 10601.41),
 ('Id1060', 'Dover, Mr.  Thomas A.', 10601.63),
 ('Id1059', 'Tegenkamp, Mr.  Matt', 10602.39),
 ('Id1049', 'Hempel, Ms.  Alexandra', 10704.47),
 ('Id1048', 'Kretz, Ms.  Jamie L.', 10713.64),
 ('Id1045', 'Kirouac, Mrs.  Kathya', 10749.02),
 ('Id1040', 'Demise, Ms.  Shure', 10797.34),
 ('Id1039', 'Lohrenz, Ms.  Erin C', 10806.84),
 ('Id1038', 'Gardner, Mr.  Joshua P', 10807.49),
 ('Id1030', 'Dawes, Ms.  Bridget K.', 10959.69),
 ('Id1028', 'Harder, Mr.  Tim', 10976.25),
 ('Id1025', 'McVay, Mr.  David', 10991.58),
 ('Id1021', 'Kallay, Mr.  Ian M.', 11028.56),
 ('Id1017', 'Reyes, Mrs.  Joanna G.', 11046.02),
 ('Id1016', 'Hobson, Ms.  Valery L', 11068.7),
 ('Id1010', 'Kebede, Ms.  Aberu', 11090.72),
 ('Id1009', 'Craft, Ms.  Amy', 11093.62),
 ('Id1006', 'Basham, Ms.  Amanda N.', 11163.57),
 ('Id1003', 'Rose, Ms.  Jenessa', 11187.66),
 ('Id1002', 'Wyss, Mrs.  Krista', 11217.35),
 ('Id998', 'Deady, Mrs.  Lauren', 11255.29),
 ('Id997', 'Garcia, Mr.  Jose A.', 11264.54),
 ('Id993', 'Chen, Mr.  Peiweng', 11289.11),
 ('Id992', 'Mitchell, Mr.  Tristan D.', 11294.57),
 ('Id988', 'Chiappone, Mrs.  Suzanne', 11318.57),
 ('Id980', 'Robertson, Mr.  Chris', 11362.76),
 ('Id979', 'Deeg, Mr.  Thomas J', 11363.28),
 ('Id978', 'Fraser, Mr.  Kyle', 11365.95),
 ('Id975', 'Varner, Mr.  Alexander', 11381.33),
 ('Id974', 'Hughes, Mrs.  Bettina', 11388.27),
 ('Id973', 'McCurdy, Mr.  Matthew', 11394.07),
 ('Id972', 'Higgins, Ms.  Danielle N', 11396.9),
 ('Id971', 'Truex, Ms.  Melissa', 11411.69),
 ('Id970', 'Ginsburg, Mr.  Brandon F', 11412.02),
 ('Id969', 'Eidinger, Ms.  Jessica L', 11419.49),
 ('Id962', 'Shaw, Mr.  Philip J', 11488.32),
 ('Id961', 'Jacobson, Mrs.  Sarah E.', 11492.46),
 ('Id956', 'Finecey, Mrs.  Meghan E', 11524.25),
 ('Id955', 'Germain, Mr.  Matthew R.', 11530.12),
 ('Id946', 'Loftus, Mr.  John', 11625.11),
 ('Id941', 'Rainey, Ms.  Chandler', 11674.13),
 ('Id940', 'Kaus, Mr.  Peter', 11696.52),
 ('Id932', 'Kaczka, Mr.  Greg', 11743.93),
 ('Id930', 'Tranter, Mr.  Steve Jr.', 11763.0),
 ('Id922', 'Krishna, Ms.  Aditi', 11848.14),
 ('Id921', 'Frey, Ms.  Laura A', 11856.41),
 ('Id919', 'Truitt, Ms.  Melissa L', 11879.1),
 ('Id917', 'Savage, Ms.  Anna E.', 11881.97),
 ('Id913', 'Rook, Mr.  Kevin', 11938.26),
 ('Id911', 'Jeuland, Mr.  Marc', 11944.59),
 ('Id909', 'Simpson, Mr.  Jason M.', 11946.63),
 ('Id908', 'Blas, Mr.  Wayne L.', 11987.17),
 ('Id907', 'Seigel, Mrs.  Leah L.', 11987.68),
 ('Id900', 'White, Mrs.  Alyssa', 12048.13),
 ('Id884', 'Harrington, Ms.  Suzanne', 12231.61),
 ('Id882', 'Chung, Ms.  Joan', 12235.84),
 ('Id880', 'Triedman, Ms.  Nellie A.', 12244.53),
 ('Id877', 'Phillippi, Mrs.  Victoria', 12255.04),
 ('Id876', 'Musa, Ms.  Skylar', 12265.51),
 ('Id875', 'Amako, Ms.  Megumi', 12268.63),
 ('Id874', 'Cavanaugh, Ms.  Julie A.', 12269.69),
 ('Id868', 'Bowman, Mr.  Mark', 12347.17),
 ('Id867', 'Sellers, Mr.  Chad', 12363.55),
 ('Id862', 'Brake, Ms.  Kathryn', 12430.95),
 ('Id861', 'Locatelli, Mr.  Alex', 12452.25),
 ('Id858', 'Connolly, Ms.  Katherine', 12485.8),
 ('Id856', 'Kanyane, Mr.  Patrick Sr.', 12499.88),
 ('Id854', 'Joslyn, Mr.  C Fred', 12557.61),
 ('Id853', 'Ricardi, Mr.  Joshua', 12574.05),
 ('Id852', 'Burton, Mrs.  Amy', 12579.92),
 ('Id851', 'Swann, Ms.  Andee W.', 12592.53),
 ('Id850', 'Duhaime, Mr.  Spencer', 12600.46),
 ('Id848', 'Otto, Ms.  Beth', 12622.18),
 ('Id847', 'Edmonds, Ms.  Natali N', 12624.74),
 ('Id842', 'Doolittle-Crider, Ms.  Amy L.', 12643.38),
 ('Id836', 'Hamilton, Ms.  Casondra L', 12700.63),
 ('Id835', 'Vitalo, Ms.  Antonia G', 12713.0),
 ('Id834', 'Bellemare, Mrs.  Karine', 12718.21),
 ('Id831', 'Anis, Mr.  Michael', 12770.27),
 ('Id828', 'Ryan, Mrs.  Maggie M', 12788.18),
 ('Id825', 'Payne, Mr.  Chris J.', 12823.25),
 ('Id816', 'Burke, Mr.  Rich', 12928.79),
 ('Id815', 'Takeda, Mr.  Nobuyori', 12949.16),
 ('Id814', 'Levy, Mr.  Wayne A.', 12950.07),
 ('Id808', 'Revenis, Mr.  Bradley D', 13002.91),
 ('Id806', 'Fair, Mr.  Stephen', 13008.07),
 ('Id803', 'Phillips, Ms.  Katherine', 13019.16),
 ('Id800', 'Horn, Ms.  Sarah E', 13044.41),
 ('Id798', 'Thind, Mrs.  Kulwinder', 13051.22),
 ('Id797', 'Porfirio, Ms.  Deedra G.', 13063.88),
 ('Id792', 'Forster, Ms.  Brittney', 13116.84),
 ('Id789', 'Zhou, Mr.  Ning', 13143.34),
 ('Id788', 'Fisher, Mr.  James A', 13143.86),
 ('Id780', 'Schubert, Ms.  Emily', 13333.71),
 ('Id777', 'Lee, Mrs.  Karen L.', 13375.76),
 ('Id774', 'Duncan, Mr.  Chris', 13390.56),
 ('Id773', 'Garbe, Mr.  Ben', 13393.76),
 ('Id772', 'French, Mr.  Michael', 13405.39),
 ('Id768', 'Gunter, Ms.  Madeleine', 13429.04),
 ('Id767', 'Steele, Ms.  Alison R.', 13430.27),
 ('Id766', 'Greenwell, Ms.  Ashley M.', 13440.7),
 ('Id762', 'Cavatorta, Mr.  Jason', 13465.8),
 ('Id759', 'Schmole, Mr.  Filip', 13472.19),
 ('Id757', 'Bustamante, Mr.  Enrique M Sr.', 13511.28),
 ('Id753', 'Olaru, Ms.  Nuta', 13607.37),
 ('Id751', 'Horton, Mr.  Kevin', 13622.01),
 ('Id750', 'Parker, Ms.  Megan', 13635.64),
 ('Id748', 'Carrique, Mr.  Chris', 13677.68),
 ('Id747', 'Silbert, Mrs.  Jessie M.', 13685.51),
 ('Id746', 'Sittlington, Mr.  Mark H.', 13714.55),
 ('Id744', 'Hribar, Mrs.  Kathryn E', 13726.21),
 ('Id743', 'Farkash, Mrs.  Lauren', 13746.74),
 ('Id740', 'Trotter, Mrs.  Jill M', 13801.61),
 ('Id739', 'Richey, Mr.  Cary J', 13819.49),
 ('Id733', 'Holte, Ms.  Tanya', 13880.95),
 ('Id732', 'Liebald, Mr.  Benjamin', 13886.4),
 ('Id731', 'Vandongen, Ms.  Jennifer L', 13887.2),
 ('Id730', 'Stanley Torres, Ms.  Dana', 13887.97),
 ('Id727', 'Glotzbach, Mr.  John', 13974.46),
 ('Id725', 'Appman, Mr.  William D. Jr.', 13981.85),
 ('Id722', 'Burgin, Ms.  Melissa', 14007.22),
 ('Id719', 'Ramirez, Mr.  Josh', 14098.07),
 ('Id718', 'Orloff, Mr.  Conrad F', 14119.62),
 ('Id714', 'Lin, Mrs.  Ashley', 14209.4),
 ('Id712', 'Barry, Ms.  Kristin P.', 14235.07),
 ('Id703', 'Olausson, Mr.  Anders', 14337.91),
 ('Id701', 'Holland-Stergar, Mrs.  Brianne', 14355.43),
 ('Id700', 'Oskvig, Mr.  Daven W', 14358.36),
 ('Id693', 'McCollum, Mrs.  Rebecca B.', 14426.66),
 ('Id692', 'Corona Iturriaga, Mr.  Roberto', 14427.63),
 ('Id688', 'Mason Cox, Ms.  Cheryl', 14470.01),
 ('Id687', 'Parry, Ms.  Karine', 14474.68),
 ('Id681', 'Pena, Ms.  Carolina', 14590.63),
 ('Id680', 'Battaglino, Mr.  Peter', 14600.62),
 ('Id677', 'Tsoucas, Mrs.  Daphne', 14640.35),
 ('Id676', 'Rodriguez, Ms.  Jocelyn', 14657.2),
 ('Id675', 'Fitzmaurice, Ms.  Meredith L.', 14665.75),
 ('Id669', 'Davenport, Mr.  Ryan J.', 14819.0),
 ('Id667', 'Flanagan, Mrs.  Erin M.', 14843.96),
 ('Id666', 'Tatton, Mr.  Christopher P', 14847.63),
 ('Id664', 'Koniuch, Ms.  Katherine L.', 14908.27),
 ('Id657', 'Haley, Ms.  Meta', 15026.3),
 ('Id654', 'Aliff, Mr.  Thomas', 15090.35),
 ('Id649', 'Picklesimer, Mr.  Gregory', 15161.53),
 ('Id648', 'Lanza, Mr.  Kevin L', 15170.07),
 ('Id644', 'Cote, Mr.  Benoit', 15260.52),
 ('Id643', 'Myers, Mr.  Scott', 15322.77),
 ('Id641', 'Otsuka, Mr.  Takuo', 15361.5),
 ('Id638', 'McLucas, Mr.  Doug', 15377.77),
 ('Id636', 'Stoney, Mrs.  Hilda', 15450.48),
 ('Id633', 'Mutai, Mr.  Christopher', 15555.19),
 ('Id629', 'Cale, Mr.  Scott M', 15646.28),
 ('Id627', 'Rivel, Mr.  Mario Sr.', 15698.86),
 ('Id618', 'Leedham, Ms.  Amy', 16059.06),
 ('Id614', 'Widlowski, Mr.  Daniel G.', 16097.94),
 ('Id608', 'Coronado, Mr.  Hector', 16199.1),
 ('Id607', 'Grillo, Mr.  Gianfilippo', 16205.88),
 ('Id603', 'Erlandson, Mrs.  Megan C', 16311.05),
 ('Id597', 'Daly, Mr.  Eugene M', 16586.5),
 ('Id596', 'Wathke, Mr.  Brent', 16587.96),
 ('Id595', 'Colby, Ms.  Greer D', 16600.16),
 ('Id594', 'Laleman, Mrs.  Kelly J', 16602.18),
 ('Id588', 'Mattis, Ms.  Shanda L', 16796.41),
 ('Id576', 'Drucker, Ms.  Adrienne G.', 17174.52),
 ('Id573', 'Szolosi, Mrs.  Beth A', 17253.43),
 ('Id572', 'Eusebio, Mr.  Alejandro', 17337.58),
 ('Id564', 'Zidek, Ms.  Marie E.', 17556.88),
 ('Id562', 'Niska, Mr.  Bobby E.', 17584.72),
 ('Id558', 'Ferron, Mr.  Nicholas', 17777.73),
 ('Id556', 'Mazzotta, Mr.  Mike G', 17832.6),
 ('Id555', 'Asher, Mr.  Brian', 17862.92),
 ('Id554', 'Campbell, Ms.  Amy R.', 17878.9),
 ('Id549', 'Cervantes, Mr.  Andres Sr.', 18031.16),
 ('Id545', 'Shigezumi, Mrs.  Teiko', 18208.34),
 ('Id544', 'Biggs, Ms.  Brooke M.', 18218.16),
 ('Id538', 'Patterson, Ms.  Lindsay', 18443.11),
 ('Id535', 'Gammon, Ms.  Shauna', 18682.74),
 ('Id534', 'Meehan, Mr.  Brendan', 18694.69),
 ('Id531', 'Mutter, Ms.  Katie', 18804.75),
 ('Id527', 'Hughey, Mrs.  Ashley E', 18883.33),
 ('Id526', 'Ziegler, Ms.  Sarah', 18903.49),
 ('Id525', 'Mclaughlin, Ms.  Laura E.', 18932.81),
 ('Id524', 'Rogers, Mrs.  Anita L.', 18954.56),
 ('Id515', 'Klapper, Mr.  Jeremy A', 19214.71),
 ('Id514', 'Halfmann, Ms.  Kameko', 19259.96),
 ('Id513', 'Poskin, Mr.  Brady', 19321.06),
 ('Id504', 'Koester, Ms.  Freya R', 19551.34),
 ('Id496', 'Oehlke, Mrs.  Jessica', 19995.29),
 ('Id490', 'Adams, Mr.  Scott', 20253.84),
 ('Id484', 'Wright, Ms.  Helen', 20463.0),
 ('Id483', 'Alexson, Ms.  Margaret B.', 20568.32),
 ('Id482', 'Richards, Mr.  Malcolm J.', 20630.28),
 ('Id478', 'Whitney, Mr.  Blake K.', 20781.49),
 ('Id477', 'Tieri, Ms.  Angela M.', 20878.78),
 ('Id476', 'Royston, Mr.  J P. II', 20893.06),
 ('Id460', 'Smith, Mr.  Todd J.', 21797.0),
 ('Id445', 'Zirdok, Ms.  Lynda', 23045.57),
 ('Id437', 'Laurie, Mr.  Jonathon S.', 23563.02),
 ('Id429', 'Brandon, Ms.  Jennifer', 24227.34),
 ('Id400', 'Edwards, Ms.  Elizabeth M.', 26018.95),
 ('Id392', 'Fitzsimons, Mr.  Ryan', 26467.1),
 ('Id377', 'Fitzpatrick, Mr.  Michael', 27346.04),
 ('Id369', 'Pocasangre, Mr.  Kenneth A', 27619.36),
 ('Id368', 'Harsh, Ms.  Berenice', 27625.17),
 ('Id361', 'Arcand, Mr.  Pierre-Michel', 27941.29),
 ('Id356', 'Daniels, Ms.  Marie', 28287.9),
 ('Id340', 'Jeseritz, Ms.  Cheryl A', 29186.48),
 ('Id322', 'Schuler, Mr.  Timothy G.', 30063.58),
 ('Id303', 'Rindahl, Mr.  Martin A.', 31234.56),
 ('Id301', 'Hall, Mr.  Kyle', 31328.27),
 ('Id288', 'Hackman, Mr.  Matt', 32288.49),
 ('Id285', 'Sweigart, Mr.  Bradley', 32462.35),
 ('Id275', 'Jackson, Mr.  Shawn P.', 32827.51),
 ('Id274', 'Defilippi, Mr.  James', 32906.69),
 ('Id272', 'Maddison, Mr.  Stephen', 33017.46),
 ('Id267', 'Oswalt, Ms.  Erin C.', 33121.0),
 ('Id263', 'Lindsay, Mr.  Simon G.', 33450.99),
 ('Id262', 'Kruzel, Ms.  Jacy D', 33471.97),
 ('Id254', "O'Bannon, Mr.  Alex", 33829.39),
 ('Id253', 'Larscheid, Ms.  Carrie', 33900.65),
 ('Id246', 'Creasy, Mr.  Les J', 34210.33),
 ('Id243', 'Hall, Mr.  Dan', 34289.43),
 ('Id242', 'Wilson, Mr.  Douglas', 34293.12),
 ('Id241', 'Deucher, Mr.  Peter W', 34307.22),
 ('Id236', 'Hufstader, Ms.  Susannah', 34543.39),
 ('Id232', 'Erickson, Mr.  Anders J', 34806.47),
 ('Id230', 'Goya, Ms.  Elizabeth', 34838.87),
 ('Id229', 'Federoff, Ms.  Allison H', 34940.61),
 ('Id226', 'Smith, Mr.  Chris', 34979.86),
 ('Id224', 'Lucan, Ms.  Kiley D', 35050.62),
 ('Id220', 'Meyer, Mr.  Rick E', 35302.09),
 ('Id219', 'Hamilton, Mr.  Gavin M.', 35315.96),
 ('Id217', 'White, Mr.  Alex', 35491.64),
 ('Id211', 'Zyryanov, Mr.  Sergey', 35585.58),
 ('Id207', 'McElroy, Ms.  Grace', 35733.96),
 ('Id205', 'Aguero, Mr.  Matt', 35952.65),
 ('Id202', 'LaBelle, Mr.  Ian E.', 36085.22),
 ('Id200', 'Walsh, Mr.  William', 36124.57),
 ('Id192', 'Mullins, Mr.  Padraig', 36332.45),
 ('Id191', 'Roulier, Mr.  Sebastien', 36350.71),
 ('Id186', 'Bugala, Ms.  Amy', 36580.28),
 ('Id185', 'Silva, Mr.  Ryan J.', 36786.37),
 ('Id180', 'King, Ms.  Jennifer L', 36910.61),
 ('Id173', 'Hanley, Mr.  Zebulon', 37076.37),
 ('Id171', 'Busby, Ms.  Natalie', 37133.9),
 ('Id170', 'Torphy, Mr.  Bobby', 37165.16),
 ('Id168', 'Scofield, Ms.  Bret R', 37270.15),
 ('Id167', 'Tremblay, Ms.  Marie-Helene', 37272.34),
 ('Id166', 'Wittmann, Mr.  Jay T.', 37277.27),
 ('Id160', 'Tanguay, Mr.  Steeve T Sr.', 37675.06),
 ('Id159', 'Duliba, Ms.  Aleksandra', 37701.88),
 ('Id158', 'Sampson, Ms.  Syndy', 37735.2),
 ('Id157', 'Glaz, Mr.  Daniel', 37742.58),
 ('Id156', 'Thill, Mr.  Matthew', 37800.98),
 ('Id151', 'Yesian, Ms.  Bonnie', 38241.74),
 ('Id146', 'Curtis, Ms.  Valeria R', 38389.79),
 ('Id144', 'Anderson, Mr.  Matthew S.', 38415.47),

**Task 13: Customers with Highest Charges and City Tier by Year**

In this project, we identify the customer with the highest total charges for each year and display their corresponding city_tier. By joining the hospitalization_details and names tables and grouping the data by year, customer name, and city_tier, we can determine which customer incurred the highest charges in each year. This analysis is crucial for understanding cost patterns over time and tailoring healthcare strategies accordingly.n.

In [32]:
%%sql
SELECT h.year, n.name, h.city_tier, max(h.charges) asmax_charges
FROM hospitalisation_details AS h
JOIN names AS n ON n.customer_id = h.customer_id
group by h.year, n.name, h.city_tier
Having max(h.charges) = (select max(charges) from hospitalisation_details where year = h.year)

 * postgresql://postgres:***@localhost:5432/Medical
47 rows affected.

[(1997, 'Johnson, Mr.  Steven M.', 'tier - 3', 42112.24),
 (2000, 'Jenkins, Mr.  James R.', 'tier - 3', 44501.4),
 (1992, 'Cutler, Ms.  Hope', 'tier - 2', 40932.43),
 (1987, 'Potter, Ms.  Amanda', 'tier - 3', 39983.43),
 (1964, 'Boudalia, Mr.  Said Sr.', 'tier - 3', 47496.49),
 (1999, 'Derian, Ms.  Elyse M.', 'tier - 1', 40904.2),
 (1986, 'Sobrilsky, Mr.  Anthony J.', 'tier - 1', 43753.34),
 (1991, 'Osborne, Ms.  Kelsey', 'tier - 3', 58571.07),
 (1982, 'Ganley, Ms.  Emily J', 'tier - 1', 40003.33),
 (1973, 'Hyland, Ms.  Megan', 'tier - 1', 42188.15),
 (1979, 'Bruestle, Ms.  Sydney L.', 'tier - 1', 45863.21),
 (1965, 'Franz, Mr.  David', 'tier - 2', 48675.52),
 (1995, 'Keflezighi, Mr.  Meb', 'tier - 3', 39611.76),
 (1971, 'Flor, Mr.  John', 'tier - 2', 47462.89),
 (1974, 'Eason, Mr.  Ryan M', 'tier - 2', 45702.02),
 (1967, 'Peters, Ms.  Roseann', 'tier - 3', 44423.8),
 (1984, 'Turner, Mr.  Jeff', 'tier - 1', 41949.24),
 (2001, 'Edwards, Ms.  Elizabeth M.', 'tier - 2', 26018.95),
 (2002, 'Meyer, Mr.  Michael P', 'tier - 3', 38344.57),
 (1975, 'Januszewski, Mr.  Eric W', 'tier - 2', 44202.65),
 (1970, 'Lu, Mr.  Phil', 'tier - 1', 60021.4),
 (1988, 'Rohne, Ms.  Brianna L', 'tier - 1', 43943.88),
 (1994, 'Macpherson, Mr.  Scott', 'tier - 3', 51194.56),
 (1962, 'Baker, Mr.  Russell B.', 'tier - 3', 52590.83),
 (1978, 'Benner, Ms.  Brooke N.', 'tier - 2', 48885.14),
 (1968, 'Hawks, Ms.  Kelly', 'tier - 3', 63770.43),
 (1969, 'Hamm, Ms.  Stephanie W.', 'tier - 3', 46661.44),
 (1966, "O'Grady, Mr.  Thomas J.", 'tier - 2', 43921.18),
 (2004, 'Walhovd, Ms.  Kristine B.', 'tier - 2', 38792.69),
 (1972, 'Schorr, Mr.  Ari', 'tier - 1', 42856.84),
 (1981, 'Benestad, Mr.  Brian', 'tier - 3', 40273.65),
 (1961, 'Rios, Ms.  Leilani M.', 'tier - 3', 48517.56),
 (1993, 'Fisher, Mr.  Robert', 'tier - 2', 44585.46),
 (1963, 'Moran, Mr.  Patrick R.', 'tier - 2', 48970.25),
 (1976, 'Welch, Mr.  Jefferson D', 'tier - 3', 46151.12),
 (1996, 'LaBelle, Mr.  Ian E.', 'tier - 1', 36085.22),
 (1960, 'Cater-Cyker, Mr.  Zach', 'tier - 1', 46718.16),
 (1985, 'Kincaid, Ms.  Courtney', 'tier - 3', 46113.51),
 (1983, 'Driscoll, Ms.  Kelley', 'tier - 2', 40961.29),
 (1989, 'Kadala, Ms.  Kristyn', 'tier - 2', 55135.4),
 (1958, 'Hallman, Mr.  Stephen', 'tier - 2', 49577.66),
 (1977, 'Lehner, Mr.  Matthew D', 'tier - 3', 62592.87),
 (2003, 'Stroffolino, Mr.  Jamie P', 'tier - 1', 39722.75),
 (1998, 'Arnstein, Mr.  Michael', 'tier - 3', 38126.25),
 (1980, 'Peters, Ms.  Melissa L', 'tier - 1', 43896.38),
 (1990, 'Kropelnicki, Mr.  Jesse', 'tier - 2', 38652.09),
 (1959, 'Fierro Vargas, Ms.  Paola Andrea', 'tier - 1', 48824.45)]

**Task 14: Top 3 Customers with Highest Average Yearly Charges**

This project focuses on identifying the top 3 customers with the highest average yearly charges over the years they have been hospitalized. By calculating and analyzing the average yearly charges from the hospitalization_details data and joining it with customer names, we can pinpoint those individuals with the highest healthcare expenditure. Understanding these patterns is essential for resource allocation and tailored healthcare planning.n.

In [33]:
%%sql
with Yearlycharges as ( 
    select customer_id, avg(charges) as avg_yearly_Charges 
    from hospitalisation_details group by customer_id, year)
Select n.name, y.avg_yearly_Charges from names n
JOIN Yearlycharges as y ON y.customer_id = n.customer_id
order by y.avg_yearly_Charges desc
limit 3;

 * postgresql://postgres:***@localhost:5432/Medical
3 rows affected.

[('Hawks, Ms.  Kelly', 63770.43),
 ('Lehner, Mr.  Matthew D', 62592.87),
 ('Lu, Mr.  Phil', 60021.4)]

**Task 15: Ranking Customers by Total Charges**

This analysis aims to rank customers based on their total charges over the years in descending order. By summing up the charges from the hospitalization_details data for each customer and assigning a rank, we can identify those with the highest healthcare expenses. This information is valuable for healthcare providers and policymakers in tailoring services and managing resources effectively.n.

In [34]:
%%sql
SELECT n.name, sum(h.charges) as total_charges, RANK() OVER (ORDER BY SUM(h.charges) desc) AS charges_rank
FROM hospitalisation_details AS h
JOIN names AS n ON n.customer_id = h.customer_id
group by n.name
order by charges_rank asc;

 * postgresql://postgres:***@localhost:5432/Medical
2334 rows affected.

[('Hawks, Ms.  Kelly', 63770.43, 1),
 ('Lehner, Mr.  Matthew D', 62592.87, 2),
 ('Lu, Mr.  Phil', 60021.4, 3),
 ('Osborne, Ms.  Kelsey', 58571.07, 4),
 ('Kadala, Ms.  Kristyn', 55135.4, 5),
 ('Baker, Mr.  Russell B.', 52590.83, 6),
 ('Macpherson, Mr.  Scott', 51194.56, 7),
 ('Hallman, Mr.  Stephen', 49577.66, 8),
 ('Moran, Mr.  Patrick R.', 48970.25, 9),
 ('Benner, Ms.  Brooke N.', 48885.14, 10),
 ('Fierro Vargas, Ms.  Paola Andrea', 48824.45, 11),
 ('Franz, Mr.  David', 48675.52, 12),
 ('Foster, Mr.  Wade', 48673.56, 13),
 ('Tenorio, Mr.  Franklin', 48549.18, 14),
 ('Rios, Ms.  Leilani M.', 48517.56, 15),
 ('Viau-Dupuis, Mr.  Philippe', 48173.36, 16),
 ('Cronin, Ms.  Jennifer A.', 47928.03, 17),
 ('Noordstar, Ms.  Christina M.', 47896.79, 18),
 ('Boudalia, Mr.  Said Sr.', 47496.49, 19),
 ('Flor, Mr.  John', 47462.89, 20),
 ('Fennon, Mr.  Myles', 47403.88, 21),
 ('Hribar, Ms.  Madelyn C', 47305.31, 22),
 ('Tassello, Ms.  Nicole', 47291.06, 23),
 ('Mauricette, Mr.  Eric A.', 47269.85, 24),
 ('Garcia, Mr.  Emiliano I.', 47055.53, 25),
 ('Airoldi, Mr.  Adam', 46889.26, 26),
 ('Cater-Cyker, Mr.  Zach', 46718.16, 27),
 ('Hamm, Ms.  Stephanie W.', 46661.44, 28),
 ('Cox, Mr.  Stephen', 46599.11, 29),
 ('Sachrajda, Ms.  Natalie', 46255.11, 30),
 ('Gareri, Ms.  Nicole J.', 46200.99, 31),
 ('Welch, Mr.  Jefferson D', 46151.12, 32),
 ('Prindiville, Mr.  Brendan D.', 46130.53, 33),
 ('Kincaid, Ms.  Courtney', 46113.51, 34),
 ('Bruestle, Ms.  Sydney L.', 45863.21, 35),
 ('Lachance, Mr.  Julien', 45710.21, 36),
 ('Eason, Mr.  Ryan M', 45702.02, 37),
 ('Grummon, Ms.  Anna H.', 45008.96, 38),
 ('Vanwechel, Ms.  Samantha', 44641.2, 39),
 ('Fisher, Mr.  Robert', 44585.46, 40),
 ('Jenkins, Mr.  James R.', 44501.4, 41),
 ('Peters, Ms.  Roseann', 44423.8, 42),
 ('Aha, Ms.  Nicole', 44400.41, 43),
 ('McElwain, Mr.  Spencer', 44260.75, 44),
 ('Januszewski, Mr.  Eric W', 44202.65, 45),
 ('Rohne, Ms.  Brianna L', 43943.88, 46),
 ("O'Grady, Mr.  Thomas J.", 43921.18, 47),
 ('Peters, Ms.  Melissa L', 43896.38, 48),
 ('De Simone, Mr.  Flavio', 43817.45, 49),
 ('Beckett, Mr.  Ryan', 43813.87, 50),
 ('Sobrilsky, Mr.  Anthony J.', 43753.34, 51),
 ('Wang, Ms.  Alex', 43578.94, 52),
 ('Campa, Mr.  David', 43254.42, 53),
 ('Clifford, Mr.  Andrew B', 43073.76, 54),
 ('Dalmata, Ms.  Dara E', 42983.46, 55),
 ('Vishik, Ms.  Inna', 42969.85, 56),
 ('Schorr, Mr.  Ari', 42856.84, 57),
 ('Lusardi, Ms.  Lindsey', 42764.12, 58),
 ('Rayner, Mr.  Kenny', 42760.5, 59),
 ('Voghel, Ms.  Louise', 42644.2, 60),
 ('Rieth, Mr.  Cameron', 42560.43, 61),
 ('Gollotto, Ms.  Katie T.', 42538.72, 62),
 ('Dunn, Ms.  Casey', 42478.6, 63),
 ('Blitzer, Mr.  David', 42303.69, 64),
 ('Smith, Mr.  Bryson C.', 42211.14, 65),
 ('Hyland, Ms.  Megan', 42188.15, 66),
 ('Ducharme, Mr.  Daniel', 42124.52, 67),
 ('Johnson, Mr.  Steven M.', 42112.24, 68),
 ('Mutz, Ms.  Jenna L.', 42111.66, 69),
 ('Lee, Mr.  Freeman', 41999.52, 70),
 ('Turner, Mr.  Jeff', 41949.24, 71),
 ('Rangel, Mr.  Elenilton V. Sr.', 41919.1, 72),
 ('Lacey, Ms.  Maurya', 41886.54, 73),
 ('Stiger, Ms.  Samantha C', 41794.63, 74),
 ('Caldwell, Ms.  Bethany A', 41681.86, 75),
 ('Marmillod, Mr.  Yves', 41676.08, 76),
 ('Cloutier-Simons, Ms.  Danielle', 41661.6, 77),
 ('Vegas, Ms.  Julia', 41636.2, 78),
 ('Cochran, Mr.  Joshua', 41505.15, 79),
 ('Holtzapple, Ms.  Jennifer', 41351.88, 80),
 ('Meyer, Ms.  Gwen M.', 41331.79, 81),
 ('Brickley, Mr.  Patrick', 41271.5, 82),
 ('Magee, Ms.  Kate', 41250.39, 83),
 ('Thoma, Mr.  Kevin', 41191.57, 84),
 ('Heagy, Mr.  Stephen II', 41097.16, 85),
 ('Regnier, Mr.  Philip', 41055.29, 86),
 ('Parendo, Mr.  Brett A', 41034.22, 87),
 ('Schell, Ms.  Rebecca', 40974.16, 88),
 ('Driscoll, Ms.  Kelley', 40961.29, 89),
 ('Mitchell, Ms.  Abigail K', 40941.29, 90),
 ('Cutler, Ms.  Hope', 40932.43, 91),
 ('Derian, Ms.  Elyse M.', 40904.2, 92),
 ('Farina, Mr.  Nicholas', 40817.85, 93),
 ('Saunders, Mr.  David', 40720.55, 94),
 ('Kratz, Ms.  Natalie', 40692.91, 95),
 ('Boland, Mr.  Thomas', 40590.55, 96),
 ('Van Hout, Ms.  Pamela J.', 40419.02, 97),
 ('Ramsey, Ms.  Jessica', 40373.74, 98),
 ('Gage, Mr.  Ron N', 40309.93, 99),
 ('Gollins, Mr.  Daniel', 40284.38, 100),
 ('Benestad, Mr.  Brian', 40273.65, 101),
 ('Aviv, Ms.  Sari', 40208.56, 102),
 ('Burns, Mr.  Robert M.', 40204.83, 103),
 ('Maldonado, Mr.  Ricardo', 40182.25, 104),
 ('Yitref, Mr.  Gedion', 40103.89, 105),
 ('Loudon-Brown, Mr.  Mark', 40069.44, 106),
 ('Sugathadasa, Mr.  Gamini P.', 40054.73, 107),
 ('Ganley, Ms.  Emily J', 40003.33, 108),
 ('Potter, Ms.  Amanda', 39983.43, 109),
 ('Rasmussen, Mr.  Nicholas', 39963.12, 110),
 ('Robinson, Mr.  Knox', 39871.7, 111),
 ('Antonopoulos, Ms.  Yianna', 39865.7, 112),
 ('Groner, Ms.  Roberta', 39836.52, 113),
 ('Zywicki, Mr.  Benjamin P.', 39774.28, 114),
 ('Cardinal, Mr.  Craig', 39727.61, 115),
 ('Alleman, Ms.  Ann', 39725.52, 116),
 ('Stroffolino, Mr.  Jamie P', 39722.75, 117),
 ('Clubb, Mr.  John', 39721.93, 118),
 ('McGoogan, Mr.  Charlie', 39670.44, 119),
 ('Keflezighi, Mr.  Meb', 39611.76, 120),
 ('Syed, Mr.  Aaqib L.', 39597.41, 121),
 ('Segal, Mr.  Craig A.', 39556.49, 122),
 ('Defranco, Ms.  Meredith', 39396.86, 123),
 ('Kells, Mr.  Doug', 39352.6, 124),
 ('Lawton, Ms.  Elizabeth J.', 39315.28, 125),
 ('Bejar, Mr.  Matthew P', 39241.44, 126),
 ('Navarro Castro, Mr.  Guillermo Sr.', 39221.12, 127),
 ('Tice, Mr.  Ryan C', 39125.33, 128),
 ('Wolf, Mr.  Dane', 39047.29, 129),
 ('Oppedal, Mr.  Jonas', 38998.55, 130),
 ('Wright, Mr.  George E', 38947.43, 131),
 ('Ellis, Ms.  Sara S', 38932.56, 132),
 ('Taormina, Mr.  Nick', 38924.04, 133),
 ('Lynch, Mr.  Timothy', 38893.36, 134),
 ('Tavella, Ms.  Becky L', 38869.25, 135),
 ('Neufeld, Ms.  Steph K.', 38836.98, 136),
 ('Walhovd, Ms.  Kristine B.', 38792.69, 137),
 ('Washburn, Mr.  Taylor B', 38746.36, 138),
 ('Mroz, Mr.  William', 38740.12, 139),
 ('Canaday, Mr.  Sage', 38711.0, 140),
 ('Atkins, Mr.  Cole', 38709.18, 141),
 ('Kropelnicki, Mr.  Jesse', 38652.09, 142),
 ('Braund, Ms.  Tammi J.', 38511.63, 143),
 ('Anderson, Mr.  Matthew S.', 38415.47, 144),
 ('Bilbrey, Mr.  Eric', 38405.26, 145),
 ('Curtis, Ms.  Valeria R', 38389.79, 146),
 ('Meyer, Mr.  Michael P', 38344.57, 147),
 ('Bardeesy, Mr.  Rami', 38313.13, 148),
 ('Shanahan, Mr.  Denis', 38282.75, 149),
 ('Sutter, Mr.  Brian E', 38245.59, 150),
 ('Yesian, Ms.  Bonnie', 38241.74, 151),
 ('Meers, Mr.  Michael P', 38237.34, 152),
 ('Conlon, Mr.  Paul', 38189.1, 153),
 ('Arnstein, Mr.  Michael', 38126.25, 154),
 ('Jurek, Mr.  Samuel', 37829.72, 155),
 ('Thill, Mr.  Matthew', 37800.98, 156),
 ('Glaz, Mr.  Daniel', 37742.58, 157),
 ('Sampson, Ms.  Syndy', 37735.2, 158),
 ('Duliba, Ms.  Aleksandra', 37701.88, 159),
 ('Tanguay, Mr.  Steeve T Sr.', 37675.06, 160),
 ('McClelland, Mr.  Richard', 37650.74, 161),
 ('Gorman, Mr.  Aaron T', 37607.53, 162),
 ('Nishimura, Mr.  Akira', 37484.45, 163),
 ('Brimble, Mr.  Ben', 37465.34, 164),
 ('Trenk, Ms.  Jana', 37425.94, 165),
 ('Wittmann, Mr.  Jay T.', 37277.27, 166),
 ('Tremblay, Ms.  Marie-Helene', 37272.34, 167),
 ('Scofield, Ms.  Bret R', 37270.15, 168),
 ('Yost, Mr.  Gardner L', 37251.22, 169),
 ('Torphy, Mr.  Bobby', 37165.16, 170),
 ('Busby, Ms.  Natalie', 37133.9, 171),
 ('Nguyen, Ms.  Lina', 37079.37, 172),
 ('Hanley, Mr.  Zebulon', 37076.37, 173),
 ('Scheer, Ms.  Amanda', 37040.88, 174),
 ('Rankin, Mr.  Greg', 36976.45, 175),
 ('Ricardi, Mr.  John', 36950.26, 176),
 ('Karkos, Ms.  Kelsey A.', 36935.64, 177),
 ('Price-Dierksen, Ms.  Bronwen L', 36922.61, 178),
 ('Knispel, Ms.  Manuela', 36911.99, 179),
 ('King, Ms.  Jennifer L', 36910.61, 180),
 ('Samuelson, Ms.  Abby W.', 36898.73, 181),
 ('Fredsall, Mr.  Tyler', 36889.99, 182),
 ('Eggleston, Mr.  Jeffrey', 36837.47, 183),
 ('Palombaro, Mr.  Matthew F', 36795.29, 184),
 ('Silva, Mr.  Ryan J.', 36786.37, 185),
 ('Bugala, Ms.  Amy', 36580.28, 186),
 ('Dublin, Mr.  Andrew P', 36572.8, 187),
 ('Cleland, Mr.  George M. V', 36541.55, 188),
 ('Evans, Ms.  Sarah', 36445.55, 189),
 ('Boyd, Ms.  Lara', 36397.58, 190),
 ('Roulier, Mr.  Sebastien', 36350.71, 191),
 ('Mullins, Mr.  Padraig', 36332.45, 192),
 ('Hofmann, Ms.  Heather', 36314.05, 193),
 ('Garcia Garcia, Mr.  Jorge', 36307.8, 194),
 ('Klecker, Mr.  Jack R', 36219.41, 195),
 ('Cancre, Mr.  Felix', 36197.7, 196),
 ('Denucci, Mr.  Christopher C', 36189.1, 197),
 ('Saldana, Mr.  Jesse', 36182.87, 198),
 ('Weinberg, Ms.  Jill', 36149.48, 199),
 ('Walsh, Mr.  William', 36124.57, 200),
 ('Pasten, Mr.  Alejandro', 36090.49, 201),
 ('LaBelle, Mr.  Ian E.', 36085.22, 202),
 ('Guzman, Mr.  Hector Sr.', 36074.34, 203),
 ('Turnbull, Ms.  Rebecca', 36021.01, 204),
 ('Aguero, Mr.  Matt', 35952.65, 205),
 ('Woodward, Ms.  Elizabeth H', 35883.27, 206),
 ('McElroy, Ms.  Grace', 35733.96, 207),
 ('Lopez, Mr.  Jaime', 35711.39, 208),
 ('Cardosi, Ms.  Calesse', 35701.9, 209),
 ('Looney, Ms.  Kate L', 35595.59, 210),
 ('Zyryanov, Mr.  Sergey', 35585.58, 211),
 ('Gavin, Mr.  Timothy V', 35583.17, 212),
 ('Littlefield, Mr.  Andrew S', 35573.26, 213),
 ('Shearer, Mr.  Matthew D', 35547.72, 214),
 ('Armstrong, Ms.  Jessica', 35547.47, 215),
 ('Warriner, Mr.  Lawrence', 35517.19, 216),
 ('White, Mr.  Alex', 35491.64, 217),
 ('Cordaro, Mr.  Kevin', 35345.73, 218),
 ('Hamilton, Mr.  Gavin M.', 35315.96, 219),
 ('Meyer, Mr.  Rick E', 35302.09, 220),
 ('Duke, Ms.  Andrea H.', 35160.13, 221),
 ('Malatesta, Mr.  Anthony S', 35147.53, 222),
 ('Hinrichsen, Mr.  Erik', 35069.37, 223),
 ('Lucan, Ms.  Kiley D', 35050.62, 224),
 ('Koch, Ms.  Jennifer', 35000.73, 225),
 ('Smith, Mr.  Chris', 34979.86, 226),
 ("O'Connor, Ms.  Marian M.", 34976.42, 227),
 ('Kampwerth, Mr.  Jeremy', 34975.68, 228),
 ('Federoff, Ms.  Allison H', 34940.61, 229),
 ('Goya, Ms.  Elizabeth', 34838.87, 230),
 ('Hodges, Mr.  Andrew', 34828.65, 231),
 ('Erickson, Mr.  Anders J', 34806.47, 232),
 ('Welleck, Mr.  Sean', 34779.62, 233),
 ('Polen, Mr.  Brian M.', 34672.15, 234),
 ('Lynch, Mr.  Jeremy', 34617.84, 235),
 ('Hufstader, Ms.  Susannah', 34543.39, 236),
 ('Doak, Mr.  Randy', 34472.84, 237),
 ('Noya, Mr.  Leslie', 34456.27, 238),
 ('Heninger, Ms.  Brittany L.', 34439.86, 239),
 ('Richardson, Ms.  Cassie J.', 34402.22, 240),
 ('Deucher, Mr.  Peter W', 34307.22, 241),
 ('Wilson, Mr.  Douglas', 34293.12, 242),
 ('Hall, Mr.  Dan', 34289.43, 243),
 ('Reed, Mr.  Dan M.', 34254.05, 244),
 ('Frome, Mr.  Eric L.', 34218.02, 245),
 ('Creasy, Mr.  Les J', 34210.33, 246),
 ('Latimer, Ms.  Stephanie', 34205.07, 247),
 ('Wei, Ms.  Melissa Y', 34166.27, 248),
 ('Hayes, Ms.  Ashley', 34084.68, 249),
 ('Velardo, Ms.  Stephanie M.', 34053.36, 250),
 ('Kastes, Ms.  Kylie', 33975.47, 251),
 ('Escorcia, Ms.  Kelly', 33907.55, 252),
 ('Larscheid, Ms.  Carrie', 33900.65, 253),
 ("O'Bannon, Mr.  Alex", 33829.39, 254),
 ('Ridgway, Mr.  Zach S', 33753.32, 255),
 ('Black, Mr.  Alan', 33750.29, 256),
 ('Canton, Mr.  Nate', 33732.69, 257),
 ('Fine, Mr.  Jesse G.', 33707.55, 258),
 ('Bui, Mr.  Jason', 33611.71, 259),
 ('Riepma, Ms.  Megan A.', 33527.1, 260),
 ('Inman, Mr.  Luke M', 33475.82, 261),
 ('Kruzel, Ms.  Jacy D', 33471.97, 262),
 ('Lindsay, Mr.  Simon G.', 33450.99, 263),
 ('Land, Ms.  Ainsley E.', 33344.45, 264),
 ('Brecher, Ms.  Erica A.', 33307.55, 265),
 ('Debolt, Mr.  Erik', 33292.83, 266),
 ('Oswalt, Ms.  Erin C.', 33121.0, 267),
 ('Boyd, Ms.  Adrienne', 33090.66, 268),
 ('Bulewich, Mr.  Adam', 33074.94, 269),
 ('Fukuda, Mr.  Yutaka', 33057.23, 270),
 ('Phillips, Mr.  Tyler M', 33025.32, 271),
 ('Maddison, Mr.  Stephen', 33017.46, 272),
 ('Lockwood, Mr.  Andrew B.', 32947.63, 273),
 ('Defilippi, Mr.  James', 32906.69, 274),
 ('Jackson, Mr.  Shawn P.', 32827.51, 275),
 ('Ozahowski, Mr.  Matt', 32787.46, 276),
 ('Guthals, Mr.  Nathaniel', 32765.33, 277),
 ('Yates, Mr.  Kevin D.', 32760.48, 278),
 ('Samuelson, Ms.  Joan', 32734.19, 279),
 ('Lemos, Mr.  Christopher A', 32716.2, 280),
 ('Seynders, Ms.  Kacy L.', 32686.08, 281),
 ('Saunders, Mr.  Benjamin H.', 32672.11, 282),
 ('Walker, Mr.  Xaviour J.', 32548.34, 283),
 ('Lam, Mr.  Michael T.', 32485.46, 284),
 ('Sweigart, Mr.  Bradley', 32462.35, 285),
 ('Sieczkowski, Ms.  Andrea', 32430.22, 286),
 ('Jurgens, Ms.  Nancy M', 32428.63, 287),
 ('Hackman, Mr.  Matt', 32288.49, 288),
 ('Klarich, Mr.  Lee', 32259.96, 289),
 ('Schulten, Mr.  Chris', 32222.81, 290),
 ('Fagerstrom, Mr.  Erik T.', 32192.76, 291),
 ('Bien, Mr.  Rod W', 32108.66, 292),
 ('Hess, Mr.  Joey', 32086.21, 293),
 ('Shaw, Ms.  Hillary L.', 31980.89, 294),
 ('Williams, Mr.  Eric J', 31897.1, 295),
 ('Menzies, Mr.  Nicolas', 31743.92, 296),
 ('Buehler, Mr.  Marcel', 31736.7, 297),
 ('Degen, Ms.  Ashley N', 31620.0, 298),
 ('Arsenault, Mr.  Evan D', 31591.82, 299),
 ('Hoff, Ms.  Krisana', 31368.81, 300),
 ('Hall, Mr.  Kyle', 31328.27, 301),
 ('Ashley, Ms.  Kate', 31322.53, 302),
 ('Rindahl, Mr.  Martin A.', 31234.56, 303),
 ('Clark, Ms.  Stacey', 31196.61, 304),
 ('Irish, Ms.  Christine', 30942.19, 305),
 ('Richardson, Ms.  Sarah C.', 30763.01, 306),
 ('Dewitt, Ms.  Megan', 30724.44, 307),
 ('Hickman, Mr.  Jason W', 30697.71, 308),
 ('Gonzalez, Ms.  Michele', 30625.65, 309),
 ('Difani, Ms.  Nikki', 30530.5, 310),
 ('Turner, Mr.  Philip J.', 30457.37, 311),
 ('Widmann, Mr.  Bryan L', 30422.03, 312),
 ('Tunney, Mr.  Timothy F', 30409.53, 313),
 ('San Juan, Ms.  Angielyn M', 30366.93, 314),
 ('Croll, Ms.  Jeanie M.', 30328.27, 315),
 ('Rolfes, Mr.  Greg', 30284.64, 316),
 ('Hinkle, Mr.  John', 30260.0, 317),
 ('Leuchanka, Mr.  Aliaksandr', 30184.94, 318),
 ('Ayr, Mr.  Jason M.', 30166.62, 319),
 ('Siegel, Ms.  Sheera K', 30134.75, 320),
 ('Penrose, Ms.  Janice', 30095.97, 321),
 ('Schuler, Mr.  Timothy G.', 30063.58, 322),
 ('Walker, Mr.  Alan R', 30026.87, 323),
 ('Stange, Mr.  Michael', 29969.67, 324),
 ('Roy, Ms.  Marie-France', 29933.75, 325),
 ('Potere, Mr.  Erik F.', 29929.56, 326),
 ('Podgurski, Mr.  Andrew', 29899.25, 327),
 ('Diamond, Mr.  Anthony', 29852.48, 328),
 ('Sallade, Mr.  Chris', 29818.76, 329),
 ('Zhang, Mr.  Yu', 29816.64, 330),
 ('Chatfield, Mr.  Caleb N', 29760.6, 331),
 ('Bruns, Mr.  Jason M.', 29757.69, 332),
 ('Yochum, Ms.  Angela R', 29622.69, 333),
 ('Freeburn, Mr.  Keith J', 29583.8, 334),
 ('Spencer, Ms.  Emma', 29523.17, 335),
 ('Jarosik, Mr.  Nathan A', 29443.59, 336),
 ('Heinzen, Ms.  Kathryn', 29352.56, 337),
 ('Kelley, Ms.  Elizabeth H.', 29330.98, 338),
 ('Thacker, Mr.  Ben', 29227.6, 339),
 ('Jeseritz, Ms.  Cheryl A', 29186.48, 340),
 ('Hohman, Ms.  Kimberly A', 29160.39, 341),
 ('Hill, Ms.  Cynthia', 29141.36, 342),
 ('Kuepfer, Ms.  Jessica', 29114.77, 343),
 ('Kaczmarek, Mr.  Bruce', 29114.21, 344),
 ('Pitt, Ms.  Allison', 29007.82, 345),
 ('Lorton, Mr.  Alex', 28998.68, 346),
 ('Castaneda, Ms.  Gabriela', 28950.47, 347),
 ('Cherop, Ms.  Sharon', 28923.14, 348),
 ('Howell, Mr.  Jason A', 28868.66, 349),
 ('Palmer, Ms.  Chelsey C.', 28716.14, 350),
 ('Olson, Mr.  Devon A.', 28542.86, 351),
 ('Waldron, Ms.  Joni L', 28476.73, 352),
 ('Meyer, Mr.  Colin', 28468.92, 353),
 ('Stack, Ms.  Rachael', 28340.19, 354),
 ('Sanchez Y Torres, Ms.  Maricela', 28302.33, 355),
 ('Daniels, Ms.  Marie', 28287.9, 356),
 ('Pepp, Mr.  Frank', 28245.34, 357),
 ('Buechler, Mr.  Jeffry', 28101.33, 358),
 ('Buenting, Mr.  Mike', 28006.94, 359),
 ('Evans, Mr.  Rick', 27980.77, 360),
 ('Arcand, Mr.  Pierre-Michel', 27941.29, 361),
 ('Kesack, Mr.  Daniel', 27931.11, 362),
 ('Post, Mr.  Brian L.', 27925.86, 363),
 ('Dunne, Ms.  Morgan M.', 27849.94, 364),
 ('Kilel, Ms.  Caroline', 27808.73, 365),
 ('Nicholson, Mr.  Drew T.', 27724.29, 366),
 ('Susmann, Mr.  Austin W', 27696.11, 367),
 ('Harsh, Ms.  Berenice', 27625.17, 368),
 ('Pocasangre, Mr.  Kenneth A', 27619.36, 369),
 ('Martinez Lopez, Mr.  Miguel', 27614.71, 370),
 ('Riegel, Ms.  Hadley T.', 27598.93, 371),
 ('Monson, Mr.  Taylor', 27534.53, 372),
 ('Klubben, Ms.  Tenielle M', 27533.91, 373),
 ('Mascaro, Ms.  Andrea', 27495.59, 374),
 ('Norvell, Ms.  Nora P', 27432.73, 375),
 ('Ornelas, Mr.  Zachary', 27375.9, 376),
 ('Fitzpatrick, Mr.  Michael', 27346.04, 377),
 ('Bloomquist, Ms.  Alyssa K.', 27322.73, 378),
 ('Wick, Ms.  Heather', 27236.96, 379),
 ('Zappala, Mr.  Dante', 27218.44, 380),
 ('Earle, Ms.  Sara E.', 27117.99, 381),
 ('Majewski, Mr.  Scott', 27092.38, 382),
 ('Apfelbaum, Mr.  Sean', 27080.64, 383),
 ('Graham, Ms.  Danielle', 27037.91, 384),
 ('Whitacre, Mr.  Andrew D.', 27000.98, 385),
 ('Wegener, Mr.  Joel D', 26936.98, 386),
 ('Collie, Ms.  Michelle', 26927.69, 387),
 ('Murphy, Mr.  Michael J.', 26926.51, 388),
 ('Butters, Ms.  Nikki', 26912.56, 389),
 ('Cook, Ms.  Summer B.', 26607.89, 390),
 ('Breen, Mr.  Edward', 26479.4, 391),
 ('Fitzsimons, Mr.  Ryan', 26467.1, 392),
 ('Houle, Ms.  Kacee', 26392.26, 393),
 ('Woodward, Mr.  Dave', 26316.59, 394),
 ('Ray, Ms.  Maryanna', 26236.58, 395),
 ('Jennings, Ms.  Jessica H.', 26140.36, 396),
 ('Fuller, Ms.  Deanna', 26125.67, 397),
 ('Lovisek, Mr.  Peter', 26109.33, 398),
 ('Painter, Ms.  Rebecca', 26026.97, 399),
 ('Edwards, Ms.  Elizabeth M.', 26018.95, 400),
 ('Liebl, Mr.  Gregory', 25992.82, 401),
 ('Kasabian-Larson, Ms.  Sarah E.', 25678.78, 402),
 ('Creamer, Ms.  Anne Elise', 25656.58, 403),
 ('Kimbel, Mr.  Christopher R', 25648.98, 404),
 ('Livensparger, Mr.  Elliot', 25517.11, 405),
 ('Grange, Mr.  Christopher D.', 25382.3, 406),
 ('Nunlist, Mr.  Corey', 25333.33, 407),
 ('Cutter, Mr.  Patrick D.', 25309.49, 408),
 ('Martin, Mr.  Anthony D.', 25127.22, 409),
 ('Cooney, Ms.  Melissa', 25081.77, 410),
 ('Bier, Ms.  Raven', 25075.97, 411),
 ('Muskopf, Mr.  Christopher', 24915.22, 412),
 ('Sirak, Ms.  Kendra A', 24915.05, 413),
 ('Nelsen, Ms.  Jordan', 24873.38, 414),
 ('Schallner, Mr.  Nils', 24869.84, 415),
 ('Dunlap, Mr.  Scott', 24863.25, 416),
 ('Messing, Ms.  Angela', 24817.25, 417),
 ('Bondell, Ms.  Allison', 24795.04, 418),
 ('Gaughan, Ms.  Caitlin O.', 24671.66, 419),
 ('Gruman, Ms.  Tracy M', 24667.42, 420),
 ('Whitlow, Mr.  Dustin M.', 24603.05, 421),
 ('Robinson, Ms.  Jenny', 24535.7, 422),
 ('Sabo, Ms.  Emily', 24520.26, 423),
 ('Nazarian, Ms.  Fabienne', 24513.09, 424),
 ('Lerma, Mr.  Jordan', 24476.48, 425),
 ('Dahl, Mr.  Matt', 24393.62, 426),
 ('Surtees, Ms.  Taryn L', 24387.74, 427),
 ('Spetner, Ms.  Temima', 24294.02, 428),
 ('Brandon, Ms.  Jennifer', 24227.34, 429),
 ('Eley, Ms.  Serena M.', 24180.93, 430),
 ('Sedicum, Ms.  Victoria M.', 24106.91, 431),
 ('Markle, Ms.  Phoebe', 24059.68, 432),
 ('Kunz, Mr.  Corey', 23967.38, 433),
 ('Wimert, Ms.  Rebecca', 23887.66, 434),
 ('Peterson, Mr.  Nicholas D', 23807.24, 435),
 ('Mercier, Mr.  Christian', 23568.27, 436),
 ('Laurie, Mr.  Jonathon S.', 23563.02, 437),
 ('Sekaquaptewa, Ms.  Caroline', 23401.31, 438),
 ('Frash, Mr.  Joshua D.', 23306.55, 439),
 ('Bukowski, Ms.  Nichole', 23288.93, 440),
 ('Sandahl, Ms.  Denise M', 23244.79, 441),
 ('Speight, Mr.  Peter R.', 23241.47, 442),
 ('Lee, Mr.  Johnson K', 23082.96, 443),
 ('Nielsen, Ms.  Katherine', 23065.42, 444),
 ('Zirdok, Ms.  Lynda', 23045.57, 445),
 ('Crudale, Mr.  Anthony', 22493.66, 446),
 ('Koopmans, Ms.  Linnea C.', 22478.6, 447),
 ('Milani, Mr.  Massimiliano A.', 22462.04, 448),
 ('Kelly, Mr.  James M.', 22412.65, 449),
 ('Finelli, Ms.  Lauren', 22395.74, 450),
 ('Palmer, Ms.  Michele V.', 22331.57, 451),
 ('Wang, Mr.  Xiao', 22218.11, 452),
 ('Beasley, Ms.  Harper L', 22192.44, 453),
 ('Bedbury, Mr.  Nick', 22144.03, 454),
 ('Stemberger, Mr.  Scott', 22097.62, 455),
 ('Chebet, Mr.  Wilson', 21984.47, 456),
 ('Muir, Mr.  Lee', 21978.68, 457),
 ('Yang, Mr.  Shizhong', 21882.4, 458),
 ('Gravel, Ms.  Marie-Claire', 21880.82, 459),
 ('Smith, Mr.  Todd J.', 21797.0, 460),
 ('Williams, Ms.  Carolyn', 21774.32, 461),
 ('Meyer, Ms.  Lindsey', 21771.34, 462),
 ('Jamieson, Ms.  Marissa D', 21677.28, 463),
 ('Dufeal, Mr.  Jean Luc', 21661.16, 464),
 ('Sansonetti, Ms.  Danielle', 21659.93, 465),
 ('Koneazny, Mr.  Jim', 21595.38, 466),
 ('Johnson, Mr.  Matthew T', 21472.48, 467),
 ('Glasson, Ms.  Rachel L.', 21348.71, 468),
 ('Canitz, Ms.  Corina', 21344.85, 469),
 ('Li, Mr.  Guannan', 21259.38, 470),
 ('Parsons, Mr.  Don', 21232.18, 471),

**Task 16: Identifying Peak Year for Hospitalizations**

This task is essential for identifying the year with the highest number of hospitalizations. By calculating the count of hospitalizations for each year from the hospitalization_details dataset, we can pinpoint the peak year for healthcare demand. This insight can help healthcare institutions allocate resources and plan for peak demand years more effectively.

In [35]:
%%sql
WITH YearlyHospitalizations AS (
    SELECT
        year,
        COUNT(*) AS num_hospitalizations
    FROM
        hospitalisation_details
    GROUP BY
        year
)
SELECT
    year,
    num_hospitalizations
FROM
    YearlyHospitalizations
WHERE
    num_hospitalizations = (SELECT MAX(num_hospitalizations) FROM YearlyHospitalizations);

 * postgresql://postgres:***@localhost:5432/Medical
1 rows affected.

[(2004, 100)]